@charset "utf-8";

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: local('NanumGothic'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
  src: local('NanumGothicBold'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
  src: local('NanumGothicExtraBold'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}

/* common */
body{margin:0;padding:0;font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;text-align:left;font-size:0.750em; background:#fff;}
div,ul,ol,dl,p,td,th,input,textarea,select,a{font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;color:#666}
div,ul,ol,li,dl,dt,dd,p,input,textarea,select,h1,h2,h3,h4,em,address,fieldset,form,iframe,object{margin:0;padding:0}
img,fieldset,iframe{border:none}
iframe{display:block}
li{list-style-type:none}
table{clear:both;border-collapse:collapse}
em,address{font-style:normal}
#skip,.hide,legend,hr, .skip{display:none}
a, a:hover, a:active{text-decoration:none}
caption{width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}

/* inner */
.inner{position:relative; width:1100px; margin:0 auto;}
.inner:after{content:"";display:block;clear:both;}


/* header 
#header{position:fixed; left:0px; top:0px; z-index:999; width:100%; height:79px; border-bottom:1px solid #d8d8d1; background:url('../images/common/bg_header.png') repeat;}
#header h1{float:left; margin:10px 0 18px;} 


#gnb{position:relative; overflow:hidden; float:left; margin:20px 0 0 70px;}
#gnb li{float:left;}
#gnb li a{display:inline-block; padding:15px 20px 20px; font-size:15px; color:#222; letter-spacing:-0.3px;}
*/


/* ico */
.ico{float:right; margin:22px 0 0;}

/* margin */
.mt45{margin-top:45px;}
.ml05{margin-left:5px;}
.ml10{margin-left:10px;}
.ml30{margin-left:30px;}

/* padding */
.pl05{padding-left:5px;}

/* width */
.w88{width:88px;}
.w148{width:148px;}
.w198{width:198px;}
.w708{width:708px;}

/* mcont */
.mcont{}

/* page_cont */
/*
.page_cont{margin:80px 0 0;}
*/

/* buttons */
.bu_gray_01 {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.bu_gray_01:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.bu_gray_01:active {
  position:relative;
  top:1px;
}



.bu_orange_01 {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #ffe2c9) );
  background:-moz-linear-gradient( center top, #ffa200 5%, #ffe2c9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#ffe2c9');
  background-color:#ffa200;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.bu_orange_01:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffe2c9), color-stop(1, #ffa200) );
  background:-moz-linear-gradient( center top, #ffe2c9 5%, #ffa200 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe2c9', endColorstr='#ffa200');
  background-color:#ffe2c9;
}.bu_orange_01:active {
  position:relative;
  top:1px;
}


.bu_black_01 {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #474747), color-stop(1, #d1cfd1) );
  background:-moz-linear-gradient( center top, #474747 5%, #d1cfd1 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#d1cfd1');
  background-color:#474747;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}
.bu_black_01:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1cfd1), color-stop(1, #474747) );
  background:-moz-linear-gradient( center top, #d1cfd1 5%, #474747 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1cfd1', endColorstr='#474747');
  background-color:#d1cfd1;
}.bu_black_01:active {
  position:relative;
  top:1px;
}



/* news */
.news{width:100%; padding:40px 0; border-bottom:1px solid #ddd;}
.news .new_box{float:left; width:550px; height:180px;}
.news h3{font-size:21px; color:#333; font-weight:700;}
.news dl{position:relative; margin:16px 0 0; padding:0 0 0 275px;}
.news dt{margin:0 0 10px; font-size:14px; line-height:21px; color:#333; font-weight:700;}
.news .date{margin:0 0 15px; font-size:12px; color:#666;}
.news .more a{display:inline-block; padding:7px 12px; font-size:11px; color:#fff; background:#4c4c4c;}
.news .photo{position:absolute; left:0px; top:0px;}

/* everyday */
.everyday{height:598px; background:url('../images/main/bg_everyday.jpg') no-repeat center top;}
.everyday h2{position:relative; margin:0 0 70px; padding:122px 0 0; font-size:36px; line-height:48px; font-weight:normal; color:#333;}
.everyday h2 img{position:absolute; left: 396px; bottom: 2px;}
.everyday p{margin:0 0 26px; font-size:17px; line-height:24px; letter-spacing:-0.5px; color:#505050;}

/* filter */
.filter{padding:68px 0 20px; background:#ebeced;}
.filter .top{position:relative; overflow:hidden; margin:0 0 110px;}
.filter .top img{float:left;}
.filter .top h2{margin:0 0 50px; font-size:35px; font-weight:normal; color:#235490; line-height:50px; letter-spacing:-1px;}
.filter .top h2 em{font-weight:800;}
.filter .top h3{margin:0 0 15px; font-size:24px; color:#333; font-weight:700;}
.filter .top p{margin:0 0 26px; font-size:13px; color:#666; line-height:25px; letter-spacing:-0.5px;}
.filter .top .under{color:#333; text-decoration:underline;}
.filter .txt{float:right; width:490px;}
.filter .bot{text-align:center;}
.filter .bot h2{margin:0 0 12px; font-size:27px; color:#333; font-weight:700;}
.filter .bot p{margin:0 0 70px; font-size:18px; color:#666; line-height:30px; letter-spacing:-0.5px;}







/* control */
.control{padding:70px 0;}
.control h2{font-size:32px; color:#333; font-weight:normal; line-height:44px; letter-spacing:-0.5px; text-align:center;}
.control h2 em{font-weight:700;}
.control .txt01{margin:15px 0 60px; font-size:18px; text-align:center; color:#908f8f; line-height:29px; letter-spacing:-0.3px;}
.control ol{position:relative; overflow:hidden; width:750px; margin:0 auto 105px;}
.control li{float:left; margin:0 0 0 7px;}
.control li:first-child{margin:0px;}
.control .skill{position:relative; overflow:hidden;}
.control .info{float:left; width:490px;}
.control .info h3{margin:0 0 40px; font-size:24px; color:#333; line-height:36px; letter-spacing:-0.5px;}
.control .info h3 em{font-size:32px; font-weight:700;}
.control .info p{font-size:20px; color:#06bab3; line-height:30px; letter-spacing:-1px;}
.control .txt02{float:right; width:550px;}
.control .txt02 p{margin:0 0 24px; font-size:14px; color:#6a6a6a; line-height:26px; letter-spacing:-0.3px;}


/* comp */
.comp{padding:80px 0; text-align:center; border-bottom:1px solid #eee;}
.comp h2{margin:0 0 55px; font-size:24px; color:#333; font-weight:800;}
.comp ul{position:relative; overflow:hidden; padding:0 160px; border-top:1px solid #eee;}
.comp ul li{float:left; width:25%; font-size:14px; color:#555; font-weight:700;}
.comp ul li img{vertical-align:middle;}
.comp .pdt01 li{height:55px; padding:200px 0 0;}
.comp .pdt02{border-bottom:1px solid #eee;}
.comp .pdt02 li{height:45px; padding:250px 0 0;}
.comp .p01{background:url('../images/main/img_comp01.gif') no-repeat center 30px;}
.comp .p02{background:url('../images/main/img_comp02.gif') no-repeat center 68px;}
.comp .p03{background:url('../images/main/img_comp03.gif') no-repeat center 63px;}
.comp .p04{background:url('../images/main/img_comp04.gif') no-repeat center 78px;}
.comp .p05{background:url('../images/main/img_comp05.gif') no-repeat center 42px;}
.comp .p06{background:url('../images/main/img_comp06.gif') no-repeat center 136px;}
.comp .p07{background:url('../images/main/img_comp07.gif') no-repeat center 112px;}
.comp .p08{background:url('../images/main/img_comp08.gif') no-repeat center 132px;}

/* shop */
.pdt_shop{padding:100px 0 0;}
.pdt_shop h2{margin:0 0 55px; font-size:36px; color:#333; text-align:center; font-weight:800;}
.pdt_shop .pdt_list{position:relative; overflow:hidden;}
.pdt_shop .pdt_list li{float:left; width:250px; margin:0 0 0 33px;}
.pdt_shop .pdt_list li:first-child{margin:0px;}
.pdt_shop .pdt_list li em{display:block; margin:15px 0 12px; font-size:16px; color:#333; font-weight:700;}
.pdt_shop .pdt_list li span{display:block; font-size:14px; color:#f06327; font-weight:800;}

.shop{position:relative; overflow:hidden;}
.shop .photo{float:left; padding-left:100px; width:250px;}
.shop .photo .big{width:450px; height:450px;}
.shop .photo .middle{width:225px; height:225px;}
.shop .photo ul{position:relative; overflow:hidden; margin:5px 0 0;}
.shop .photo ul li{float:left; margin:0 0 0 5px;}
.shop .photo ul li:first-child{margin:0px;}
.shop .photo ul li img{width:48px; height:48px;}
.shop .photo .current img{border:1px solid #666;}
.shop .pdt_info{float:left; width:590px;}
.shop .pdt_txt{height: 314px;}
.shop .pdt_txt select{width:113px; margin:-4px 0 0; padding:4px 0 5px; font-size:14px; color:#666; border:1px solid #ddd;}
.shop .pdt_txt input{width:213px; margin:-4px 0 0; padding:4px 0 5px; font-size:14px; color:#666; border:1px solid #ddd;}
.shop h4{margin:0 0 24px; padding:0 0 11px; font-size:30px; color:#333; font-weight:700; border-bottom:1px solid #555;}
.shop dl{position:relative; overflow:hidden;}
.shop dt{float:left; width:164px; margin:0 0 22px; font-size:14px; font-weight:700; color:#333; letter-spacing:-0.3px;}
.shop dd{float:left; width:426px; margin:0 0 22px; font-size:14px; color:#666; letter-spacing:-0.3px;}
.shop .number{position:relative; margin:-4px 0 26px;}
.shop .number input{width:188px; padding:5px 0 6px; font-size:14px; color:#666; border:1px solid #ddd;}
.shop .number a{position:absolute; left:92px;display:inline-block; width:21px; height:14px; font-size:0px; line-height:0px;}
.bootstrap-touchspin-down{bottom:0px; background:url('../images/main/btn_down.gif') no-repeat;}
.bootstrap-touchspin-up{top:0px;background:url('../images/main/btn_up.gif') no-repeat;}
.shop .total{padding:20px 0 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.shop .total dd{text-align:right; font-size:20px; color:#f06327; font-weight:800;}
.shop .btns{margin:6px 0 0; text-align:right;}
.shop .btns a{display:inline-block; width:190px; padding:19px 0 20px; text-align:center; color:#fff; font-size:18px;}
.shop .orange{font-weight:700; background:url('../images/main/btn_orange.gif') no-repeat;}
.shop .gray{background:url('../images/main/btn_gray.gif') no-repeat;}
.shop .basket_layer{display:none; position:absolute; left:50%; top:230px; z-index:999; margin:0 0 0 -245px; width:491px; padding:48px 0; text-align:center; border:2px solid #444; background:#fff;}
.shop .basket_layer p{margin:0 0 20px; font-size:16px; line-height:30px; color:#333}
.shop .basket_layer .btns{text-align:center;}
.shop .basket_layer .green{width:115px; padding:31px 0; font-size:16px; background:url('../images/main/btn_green.gif') no-repeat;}
.shop .basket_layer .gray02{width:115px; padding:31px 0; font-size:16px; background:url('../images/main/btn_gray02.gif') no-repeat;}

/* service */
.service{margin:0px 0;}
.service .box{padding:40px 25px 0; border:1px solid #ddd; }
.service h2{text-align:center; font-size:21px; color:#333; font-weight:700;}
.service p{margin:20px 0 30px; text-align:center; vertical-align:middle; font-size:30px; line-height: 42px; color:#404040; font-weight:700;}
.service p span{display:inline-block; width:37px; padding: 2px 0 8px; vertical-align:middle; font-size:30px; color:#fff; font-weight:700; background:url('../images/main/bg_number.gif') no-repeat;}
.service h3{margin:0 0 20px; font-size:18px; color:#333; font-weight:700;}
.service ul{margin:0 0 35px;}
.service ul li{margin:0 0 12px; padding:0 0 0 10px; font-size:14px; color:#666; letter-spacing:-0.3px; background:url('../images/main/bullet.gif') no-repeat left center;}

/*  

.footer{width:1100px; margin:45px auto 50px;}
.footer p{font-size:12px; line-height:24px; color:#777;}
.footer .copyright{font-size:11px; color:#999;}
*/



/* container */
.container{}
.container h2{margin:0 0 65px; font-size:36px; color:#333; letter-spacing:-1px; font-weight:800;}
.container h3{display:inline-block; padding:4px 5px 4px 0;font-size:18px; color:#333; letter-spacing:-0.5px; font-weight:700; background:url('../images/content/bul_title.gif') no-repeat right top;}
.container table{width:100%; margin:15px 0 0; border-top:1px solid #499956; border-bottom:1px solid #717171;}
.container table th{padding:12px 0; font-size:13px; text-align:center; color:#333; font-weight:700; border-bottom:1px solid #717171; background:#f9f9f9;}
.container table td{padding:15px 0; font-size:14px; text-align:center; border-top:1px solid #ddd;}
.container table td.option{padding:12px 0 12px 10px; text-align:left;}
.container table td.option img{float:left;}
.container table td.option dl{float:left; margin: 10px 0 0 18px;}
.container table td.option dt{margin:0 0 15px; font-size:14px; color:#333;}
.container table td.option dd{font-size:12px; color:#666;}
.container .btn_left{margin:5px 0 50px; text-align:left;}
.container .btn_left a{display:inline-block; padding:5px 20px; font-size:11px; color:#666; border:1px solid #d1d1d1; background:url('../images/content/btn_gray02.gif') repeat-x;}
.container .btn_center{margin:40px 0 100px; text-align:center;}
.container .btn_center a{display:inline-block; padding:30px 27px; font-size:16px; color:#fff; font-weight:700; border:1px solid #479654; background:url('../images/content/btn_payment.gif') repeat-x;}
.container .ship{text-decoration:underline;}


/* regist */
.regist{position:relative; overflow:hidden; width:565px; margin:0 auto;}
.regist .input20{width:px; padding:10px 0 11px; border:1px solid #d1d1d1;}
.regist .login_box{clear:both; padding:48px 0 45px 50px; border:5px solid #eee;}
.regist .login_box dt{float:left; margin:0 0 4px; line-height:38px;}
.regist .login_box dd{height:38px; margin:0 0 4px 115px;}
.regist .login_box label{font-size:15px; font-weight:700; line-height:38px; color:#333;}
.regist .login_box dd input{width:213px; padding:10px 0 11px; border:1px solid #d1d1d1;}
.regist .login_cont{position:relative; margin:0 0 40px;}
.regist .login_cont + p{font-size:16px; color:#50a25f; line-height:27px; text-align:center;}


/* login */
.login{position:relative; overflow:hidden; width:565px; margin:0 auto;}
.login h2{float:left; margin:0 0 12px; font-size:60px; color:#333; font-weight:normal;}
.login h2 + p{float:right; margin:40px 0 0; font-size:24px; color:#777;}
.login .login_box{clear:both; padding:48px 0 45px 50px; border:5px solid #eee;}
.login .login_box dt{float:left; margin:0 0 4px; line-height:38px;}
.login .login_box dd{height:38px; margin:0 0 4px 115px;}
.login .login_box label{font-size:15px; font-weight:700; line-height:38px; color:#333;}
.login .login_box dd input{width:213px; padding:10px 0 11px; border:1px solid #d1d1d1;}
.login .login_cont{position:relative; margin:0 0 40px;}
.login .login_cont + p{font-size:16px; color:#50a25f; line-height:27px; text-align:center;}
.login .green{position:absolute; left: 337px; top: 0px; display:inline-block; width:115px; padding:31px 0; text-align:center; color:#fff; font-size:16px; background:url('../images/main/btn_green.gif') no-repeat;}
.login .gray{position:absolute; left: 337px; top:84px; display:inline-block; width:115px; padding:11px 0; text-align:center; color:#fff; font-size:14px; background:url('../images/main/btn_gray03.gif') no-repeat;}
.login .gray_button{ margin-left: auto;  margin-right: auto; display:inline-block; width:115px; padding:11px 0; text-align:center; color:#fff; font-size:14px; background:url('../images/main/btn_gray03.gif') no-repeat;}


/* table_row */
.container .table_row{width:100%; margin:15px 0 0; border-top:1px solid #499956; border-bottom:1px solid #717171;}
.container .table_row th{padding:12px 0 12px 15px; font-size:13px; text-align:left; color:#333; font-weight:700; border-bottom:1px solid #ddd; background:#f9f9f9;}
.container .table_row td{padding:12px 0 12px 15px; font-size:11px; text-align:left; border-top:0px; border-bottom:1px solid #ddd;}
.container .table_row td input, .container .table_row td textarea{padding:6px 0 5px; vertical-align:middle; border:1px solid #d3d3d3;}
.container .table_row td select{padding:5px 0 4px; vertical-align:middle; border:1px solid #d3d3d3;}
.container .table_row thead td{padding:12px 0; text-align:center; border-bottom:1px solid #717171;}


.container .gray_button{ border:1px solid #000000; width:115px; padding:11px 0; text-align:center; color:#000000; font-size:14px; background:url('../images/main/btn_gray03.gif') no-repeat;}


.table_row .c_txt{padding:0 0 0 5px; font-size:11px; color:#f57a37;}
.table_row img{vertical-align:middle;}
.table_row ul li{margin:2px 0;}
.table_row .t_list li{color:#666; font-size:12px; line-height:22px;}
.txt_same{float:right; margin:62px 0 0; font-size:13px; color:#666;}
.txt_same input{margin:0 5px 0 0; vertical-align:middle;}
.etc_txt{float:right; font-size:14px; color:#666; font-weight:700;}
.etc_txt a{display:inline-block; margin:0 0 0 5px;}
.etc_txt img{vertical-align:middle;}
.pay{font-size:18px !important; color:#499956; font-weight:700;}
.rec_box{margin:20px 0;}

/* movie_img */
.movie_img{position:relative; margin:30px 0; text-align:center;}
.movie_img .m_obj{position:absolute; left:196px; top:1354px; }



/* orderProc */
.orderProc .gray_button{float:left; display:inline-block; width:115px;
 padding:11px 0; text-align:center; color:#000000; font-size:14px;
  background:url('../images/main/btn_gray03.gif') no-repeat;}

