.top-buffer{
	margin: 50px 0px 50px 0px;
}

.col_01{
	background-color: #031e7f;
	color:#fff;
}

.imageArea{
	margin: 50px auto 50px auto;
}

.innerBox{
	margin:10px auto 10px auto;	
	padding: 20px;
	border:1px solid #ddd;
	width:100%;
	
}

.button_box{
	margin: 50px auto 50px auto;	
}

button.btn_common{
	border-radius: 3px;
	border:0px solid #eee;
	text-align: center;
	font-size: 16px;
	height: 35px;
	color: #ffffff;
	background-color: #2cbb84
}
button.btn_common:hover{
	color: #ffffff;
}
button.btn_common:focus{
	color: #ffffff;
}
