input[type="text"].full,
input[type="password"].full,
input[type="number"].full,
input[type="search"].full,
textarea.full {
	display: block;
	width: 100%;
}

button.btn-common{
	background-color: #2cbb84;
	color:#fff;
}
button.btn-common:hover, button.btn-common:focus{
	color: #ffffff;
	background-color: #40ac82;
}

input{
	padding: 5px 5px 5px 5px;
	font-size: 0.87em;
	margin-bottom: 2px;

}

p{
	padding:0px 0px 0px 5px;
}


table{
	width:100%;
}


.container{
	margin-left: 0px;
}

.header{
	background-color: #555;
	margin-left: -10px;
	border-bottom: 1px solid #222;
}

.header h2{
	margin-top:15px;
	margin-bottom:15px;
	color: #fff;
}
.header h2 small{
	margin-left:5px;
	color: #000;
}

.title{
	margin-left: -5px;
	height:50px;
	background-color: #ff8500;
	color: #fff;
	font-size: 20px;
}

.title h2{
	margin-top:15px;
	font-size: 20px;
}


.level2{
	padding: 10px 0px 10px 0px;
}


.list_price {
	position: relative;
	padding: 10px 0px 0px 0px;
	
}

.list_price dl {
	overflow: hidden;
	padding: 4px 0px 0px 0px;
}

.list_price dt {
	float: left;
	width: 50%;
	height: 16px;
	margin-top: 5px;
	
	font-weight: 100;
	
}

.list_price dd {
	float: right;
	width: 50%;
	height: 16px;
	margin-top: 5px;
	
	letter-spacing: 0;
	
	text-align: right;
}





.d_table{

}

.d_table tbody{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}


.d_table tbody th {
	padding: 16px 0 10px 10px;
	border-bottom: 0px solid #d4d5d8;
	font-weight: normal;
	font-size: 0.87em;
	color: #222;
	text-align: left;
	vertical-align: top;
}


.d_table tbody td {
	padding: 10px 10px 10px 10px;
	border-bottom: 0px solid #d4d5d8;
	font-size: 0.87em;
	color: #222;
	vertical-align: top;
}

.d_table input[type="text"].type1 {
	width: 29%;
}
.d_table input[type="text"].full {
	width: 100%;

}


.morder_radio_label{
	font-weight: 100;
	margin-right:10px;
	margin-bottom: 20px;

}