@media screen and (min-width:1024px) and (max-width:1440px){
    .visual .visual_slide > div{height:594px;}
    .visual .m_thumb{position:absolute; left:0px; top:478px;}
    .visual .v02 h2{position:absolute; right:0px; top:415px; font-size:32px; line-height:50px; font-weight:normal; color:#bdbdbd; letter-spacing:-0.5px;}
    .visual .v01 h2{position:absolute; left:0px; top:185px; font-size:32px; line-height:50px; font-weight:normal; color:#282828; letter-spacing:-0.5px;}
}