/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/

body { padding-top: 70px; }



/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-default {
   background-color: #ffffff;
   border-color: #e7e7e7;
}
.navbar-brand {
   float: left;
   height: 50px;
   padding: 5px 0px;
   font-size: 18px;
   line-height: 20px;
}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.table-scrollable {
   margin: 0; padding: 0; 
   min-width: 1300px; 
   overflow: auto;

   border-top:1px solid #499956;
   border-bottom:1px solid #717171;
}
.table-scrollable th{padding:12px 0; font-size:13px; text-align:center; color:#333; font-weight:700; border-bottom:1px solid #717171; background:#f9f9f9;}
.table-scrollable td{padding:15px 0; font-size:14px; border-top:1px solid #ddd;}


.table input[type=file] {
   display: block;
   width: 130px;
}





/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}