charset "utf-8";

.order_proc1 { background:url("../img/order/order_proc1.jpg"); height:165px; margin-top:30px; width:1102px; }
.order_proc2 { background:url("../img/order/order_proc2.jpg"); height:165px; margin-top:30px; width:1102px; }
.order_proc3 { background:url("../img/order/order_proc3.jpg"); height:165px; margin-top:30px; width:1102px; }
.order_proc4 { background:url("../img/order/order_proc4.jpg"); height:165px; margin-top:30px; width:1102px; }
.order_proc5 { background:url("../img/order/order_proc5.jpg"); height:165px; margin-top:30px; width:1102px; }


.guide_01 { text-align: center; margin-left: auto; margin-right: auto; padding:30px 0px 20px 0px;}




div.custom_file_upload {
	width: 230px;
	height: 40px;
	margin: 40px auto;
	cursor: pointer;
}

input.file {
	radius: 0px;
	width: 220px;
	
	height: 30px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	margin-left:60px;

	outline: none;
}

div.file_upload {
	width: 80px;
	height: 30px;
	background: #ff8500;
	

	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	
	
	
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 8px;
}
div.file_upload:before {
	content: 'UPLOAD';
	position: absolute;
	left: 0; right: 0;
	text-align: center;
	
	cursor: pointer;
}

div.file_upload input {
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}


.order_desc{	
	width:1100px;
	height:700px;
	border:0px solid #ccc;
	padding: 10px 10px 10px 10px;
	margin-left:auto;
	margin-right:auto;
}
.order_desc .description{
	width:970px;
	height:55px;
	border:0px solid #ccc;	
	padding: 10px 10px 10px 0px;
	margin-left: auto;
	margin-right: auto;

}
.order_desc .price{
	float:left;
	width:900px;
	height:20px;
	border:0px solid #ccc;	
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 150px;
 
}
.order_desc .picture{
	float:left;
	width:500px;
	height:200px;
	border:1px solid #ccc;	
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 150px;
}

.order_desc .description2{
	float:left;
	width:400px;
	height:200px;
	border:1px solid #ccc;	
	padding: 10px 10px 10px 10px;
}

.order_desc .option{
	
	width:970px;
	border:1px solid #ccc;	
	
	padding:55px;
	margin-left: auto;
	margin-right: auto;
}
.order_desc .warning{
	
	width:800px;
	border:0px solid #ccc;	
	margin: 40px 0px 0px 27px;
	line-height: 18px;
	padding: 20px 60px 20px 60px; 
	background-color: #f5f5f5;
}
.order_desc .warning_check{
	float:left;
	width:700px;
	border:0px solid #ccc;	
	margin: 5px 0px 0px 90px;
	line-height: 18px;
	padding-left:0px;
	
}

.progress_option{
	width:313px;
	height:15px;
	border-radius: 0px;
	margin-top:40px;
}


	.step_btn_area { clear:both; border-top:0px solid #d2d2d2;
	 height:100px; padding-top:50px; padding-bottom:100px; width:600px; margin-left:auto; margin-right:auto; }
	.step_btns { width:490px; height:84px; margin-left:auto; margin-right:auto;  }

	.step_btns ul {
		
	}
	.step_btns ul li { 
		float:left;
		height:45px;

		font-size:16px;

		border-radius: 3px;    text-align: center;
		width:220px;    height:45px;    
		color:#ffffff;   background-color:#2cbb84;
		border:0px solid;
		margin: 0px 10px 0px 0px;
		padding: 13px 5px 5px 5px;
	}
	.step_btns ul li.one_button { 
		float:left;
		height:45px;

		font-size:16px;

		border-radius: 3px;    text-align: center;
		width:220px;    height:45px;    
		color:#ffffff;   background-color:#2cbb84;
		border:0px solid;
		
		padding: 13px 5px 5px 5px;
	}
	.step_btns ul li.one_button:hover { 
		cursor:pointer;
		background-color:#40ac82;
	}

	.step_btns ul li.two_button { 
		float:left;
		height:45px;

		font-size:16px;

		border-radius: 3px;    text-align: center;
		width:220px;    height:45px;    
		color:#ffffff;   background-color:#2cbb84;
		border:0px solid;
		margin: 0px 10px 0px 0px;
		padding: 13px 5px 5px 5px;
	}
	.step_btns ul li.two_button:hover { 
		cursor:pointer;
		background-color:#40ac82;
	}

	.step_btns ul li.two_button:hover button{
		background-color:#40ac82;
	}

	.step_btns ul li a {
		font-size:16px;
		text-align: center;
		color:#ffffff;
		margin: 0px 0px 0px 0px;
		padding: 8px 8px 8px 8px;
	}
	.step_btns ul li button {
	 	font-size:16px;
		text-align: center;
		height:22px;    
		color:#ffffff;
		background-color:#2cbb84;		border:0px solid;
		padding-top:0px;
		
	  }


	.step_btns ul li.btn_pay a { background:url("../img/order/btn_pay.jpg"); }
	.step_btns ul li.btn_pay button { background:url("../img/order/btn_pay.jpg"); }
	.step_btns ul li.btn_mypage a { background:url("../img/order/btn_mypage.jpg"); }
	.step_btns ul li.btn_home a { background:url("../img/order/btn_home.jpg"); }
	.step_btns ul li.btn_cart a { background:url("../img/order/btn_cart.jpg"); }

	.cart_pop { background:url("../img/order/cart_pop.jpg"); height:145px; left:749px; position:absolute; top:-20px; width:330px; }
	.cart_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.cart_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.cart_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }




	.mypage_btn_box {
		height:100px;
		
	}
	.btn_mypage { 
		

		font-size: 16px;
		border-radius: 3px;
		text-align: center;
		width: 220px;
		height: 45px;
		color: #ffffff;
		background-color: #2cbb84;
		border: 0px solid;
		margin: 0px 10px 0px 436px;
		padding: 14px 78px 14px 73px;
	}
	

form.opt_select_frm { display:inline-block; height:445px; margin-top:0px; width:1080px; }
	.opt_select_pic_bg {  float:left; height:469px; width:370px; }
	

	.opt_select_pic { 
		float:left;
		border: 1px solid #ddd;
	 	margin:0px 0 10px 0px; 
	 	
	 }
	.opt_select_pic img { float:left;
						
						
					  }



	.opt_select_area { float:left; height:469px; width:577px; }
	.opt_select_ttl_area { float:left; height:49px; width:577px; }
	.opt_select_ttl_area h2 {  float:left; height:33px; margin-left:24px; overflow:hidden; text-indent:-20000px; width:148px; }


	.color_select_area1 { float:left; height:50px; width:577px; }
	.color_select_area1 .orign_price{  font-size:20px; padding-left:70px; text-decoration:line-through; }
	.color_select_area1 .arrow{  font-size:20px;}
	.color_select_area1 .selling_price{ color:#ff8500; font-size:23px; }

	.color_select_area { float:left; height:158px; width:577px; }
	.color_select_ttl { float:left; height:130px; width:110px; }
	.color_select_ttl h3 {  float:left; height:22px; margin:0px 0 0 21px; overflow:hidden; text-indent:-20000px; width:84px; }

	.color_opt1 { float:left; height:130px; width:90px; }
	.color_opt2 { float:left; height:130px; margin-left:44px; width:140px; }

	.color_pic { height:90px; width:100px; }
	.color_pic label { background-color:#fff; display:inline-block; }
	.color_select { height:33px; width:100px; margin-top: 30px; margin-left: 20px; }
	.color_select input { float:left; height:13px; margin:2px 0 0 30px; padding:0; width:13px; }
	.color_select input[type="radio"] + label { display:inline-block; padding:2px 0px 0px 3px; }{}
	.color_select input[type="radio"]:checked + label { display:inline-block; padding:2px 0px 0px 3px; }

	.place_select_area { float:left; height:144px; margin-top:18px; width:577px; }
	.place_select_ttl { float:left; height:144px; width:124px; }
	.place_select_ttl h3 { background:url("../img/order/opt_ttls.gif") 0 -22px; float:left; height:22px; margin:49px 0 0 21px; overflow:hidden; text-indent:-20000px; width:114px; }

	.place_opt1,
	.place_opt2,
	.place_opt3 { float:left; height:144px; width:131px; }

	.place_pic { height:115px; width:140px; }
	.place_pic label { background-color:#fff; display:inline-block; }
	.place_select { height:22px; width:140px; margin-left: -10px; margin-top:7px; }
	.place_select input { float:left; height:13px; margin:0px 0 0 46px; padding:0; width:13px; }
	.place_select input[type="radio"] + label { display:inline-block; padding: 0px 0px 0px 3px; }
	.place_select input[type="radio"]:checked + label { display:inline-block; padding: 0px 0px 0px 3px; }

	.num_select_area { float:left; height:40px; margin-top:10px; width:577px; }
	.num_select_ttl { float:left; height:40px; width:126px; }
	.num_select_ttl h3 { background:url("../img/order/opt_ttls.gif") 0 -44px; float:left; height:22px; margin:5px 0 0 21px; overflow:hidden; text-indent:-20000px; width:83px; }

	.num_select { border:0px solid #7e7e7e; float:left; height:38px; width:350px; }
	.num_select .num_select_box{   width:290px; height:30px; }
	.num_select input { background:#fff; border:none; float:left; height:36px; line-height:38px; width:329px; }
	.num_select_btn { float:left; height:34px; margin-top:2px; width:15px; }
	.num_select_btn span { cursor:pointer; display:block; height:15px; overflow:hidden; text-indent:-20000px; width:15px; }
	.num_plus_btn { background:url("../img/order/opt_num_btn.gif") 0 0; }
	.num_minus_btn { background:url("../img/order/opt_num_btn.gif") 0 -15px; margin-top:4px; }

table.order_chk_tbl { border-top:1px solid #3d424e; margin:10px auto 0px auto; width:1000px; }
table.order_chk_tbl tr th { border-bottom:1px solid #dbd9d9;
  color:#747474; font-size:14px;  height:37px; text-align:center; }
table.order_chk_tbl tr td { border-bottom:1px solid #dbd9d9;  font-size:14px; height:167px; text-align:center; line-height: 21px;}

	.btn_del { background:url("../img/order/btn_del.jpg"); display:inline-block; height:23px; overflow:hidden; text-indent:-20000px; width:71px; }

table.order_chk_tbl tr td select { border:2px solid #878484; height:18px; width:113px; }

	.num_chk { display:inline-block; height:38px; position:relative; width:53px; }
	.num_chk input { background:#fff; border:2px solid #918f8c; color:#878484; height:18px; left:0; overflow:hidden; padding:0; position:absolute; text-align:center; text-indent:-20000px; top:8px; width:25px; }
	.num_chk span { background:#fff; border:1px solid #918f8c; color:#878484; cursor:pointer; height:13px; position:absolute; right:0; width:13px; }
	.num_chk span.num_chk_plus { top:0; }
	.num_chk span.num_chk_minus { top:23px; }

	.b_f7f7f7 { background:#f7f7f7; }

table.pay_tbl1 { border-top:1px solid #3d424e; margin:10px auto 0px auto; width:1000px; }
table.pay_tbl1 tr th { border-bottom:1px solid #dbd9d9; color:#747474; font-size:14px;  height:37px; text-align:center; }
table.pay_tbl1 tr td { border-bottom:1px solid #dbd9d9; font-size:14px;  line-height:18px; padding:20px 0px 10px 15px; text-align:center; }
table.pay_tbl1 tr td a { color:#747474; }
table.pay_tbl1 tr td p span { color:#747474; font-size:14px; font-weight:normal; }

	.discount_section { margin:30px auto 0px auto; width:1000px; }
	.discount_section h2 { color:#000006; font-size:16px; }

	.discount_section2 { margin:50px auto 0px auto; width:1000px; }
	.discount_section2 h2 { color:#000006; font-size:16px; }

table.pay_tbl2 { border-top:1px solid #3d424e; margin:10px auto 0px auto; width:1000px; }
table.pay_tbl2 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:14px;  height:37px; text-align:center; }
table.pay_tbl2 tr td { border-bottom:1px solid #dbd9d9; font-size:14px;  line-height:18px; padding:10px 0px 0px 0px; }
table.pay_tbl2 tr td input { border:1px solid #d4d4d4; height:17px; line-height:17px; padding:0; width:98px; }
table.pay_tbl2 tr td input,
table.pay_tbl2 tr td p,
table.pay_tbl2 tr td a { float:left; margin:0 -5px 0 10px; }
table.pay_tbl2 tr td a.grey_btn_bg {
	color: #fff;
	display: block;
	height: 28px;
	line-height: 17px;
	text-align: center;
	width: 100px;
	background: #aaa;
	padding: 5px;
	margin-top: -5px;
	cursor: pointer;
	
}




table.pay_tbl2 tr td.orange_bg { background:#fe8422; color:#fff; }

table.pay_tbl2 input[type="text"],
table.pay_tbl2 input[type="password"] {
	border:1px solid #ddd;
	float:left;
	padding: 13px;
	width: 200px;
	margin-top: -5px;
	background-color: #f2f2f2;

 }

.input_cupon{
		
}


table.pay_tbl2 tr td dl { float:left; width:301px; }
table.pay_tbl2 tr td dl dt,
table.pay_tbl2 tr td dl dd { color:#fff; float:left; }
table.pay_tbl2 tr td dl dt { text-align:left; padding-left:20px; width:95px; }
table.pay_tbl2 tr td dl dd { text-align:right; padding-right:18px; width:205px; }

	.destination_section { margin:50px auto 0px auto; width:1000px; }
	.destination_section h2 { color:#000006; float:left; font-size:16px; margin-bottom: 10px;  }
	.orange_txt_l { color:#fe8422; float:left; height:20px; line-height:20px; margin-left:10px; }
	.orange_txt_r { color:#fe8422; float:right; height:20px; line-height:20px; }

table.pay_tbl3 { border-top:1px solid #3d424e; margin:0px auto 0px auto; width:1000px; }
table.pay_tbl3 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:14px;  height:37px; text-align:center; }
table.pay_tbl3 tr td { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; font-size:14px;  line-height:18px; padding:12px 0; position:relative; }
table.pay_tbl3 tr td.gray { background-color: #f7f7f7; }
table.pay_tbl3 tr td p.pay_tbl3_radios { height:20px; width:100%; }
table.pay_tbl3 tr td p.pay_tbl3_radios input,
table.pay_tbl3 tr td p.pay_tbl3_radios label { float:left; }
table.pay_tbl3 tr td p.pay_tbl3_radios input { height:13px; margin:4px 5px 0 14px; padding:0; width:13px; }
table.pay_tbl3 tr td p.pay_tbl3_radios label { line-height:20px; }

	.pay_tbl3_info { background:#fcfcfc; border:1px solid #edeeef; color:#565960; display:inline-block; margin:5px 0 0 14px; padding:15px; position:relative; width:550px; }
	.pay_tbl3_info dl { float:left; padding:3px 0; }
	.pay_tbl3_info dl dt,
	.pay_tbl3_info dl dd { float:left; }
	.pay_tbl3_info dl dt { width:112px; }
	.pay_tbl3_info dl dd { width:471px; }

	.pay_tbl3_info dl dd input{ padding:5px 5px 5px 5px; margin-bottom: 10px; }
	.pay_tbl3_info dl dd input.input1 { width:450px;}
	.pay_tbl3_info dl dd input.inputPostal { width:100px;  }

	.pay_tbl3_info a.btn_modify { background:url("../img/common/btn_modify.gif"); bottom:10px; height:20px; overflow:hidden; position:absolute; text-indent:-20000px; right:10px; width:32px; }

	.pay_tbl3_memo { color:#595959; line-height:18px; padding-left:10px; }

	.pay_tbl3_txtarea { border:1px solid #cbcbcb; height:54px; margin-left:10px; margin-top: 5px; padding:5px; width:550px; }

	.orderer_info_ttl { background-color: #f7f7f7; border-bottom:1px solid #dbd9d9; height:37px; left:0; margin:0; padding:0 15px; position:absolute; top:0; width:306px; }
	.orderer_info_ttl p { color:#20232c; float:left; line-height:37px; }
	.orderer_info_ttl a.btn_change_info { background:url("../img/common/btn_change_info.gif"); float:right; height:20px; margin-top:8px; overflow:hidden; text-indent:-20000px; width:72px; }

	.orderer_info { color:#595959; float:left; font-size:12px; left:0; margin:0; padding:15px; position:absolute; top:38px; width:306px; line-height: 21px; }
	.orderer_name { font-size:14px;  }

	.payment_section { margin:50px auto 0px auto; width:1000px; }
	.payment_section h2 { color:#000006; float:left; font-size:16px; }

table.pay_tbl4 { border-top:1px solid #3d424e; margin:10px auto 0px auto; width:1000px; }
table.pay_tbl4 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:14px;  height:37px; text-align:center; }
table.pay_tbl4 tr td { border-bottom:1px solid #dbd9d9;  font-size:14px;  line-height:18px; padding:12px 0; position:relative; }
table.pay_tbl4 tr td p.pay_tbl4_radios { height:20px; width:100%; }
table.pay_tbl4 tr td p.pay_tbl4_radios input,
table.pay_tbl4 tr td p.pay_tbl4_radios label { float:left; }
table.pay_tbl4 tr td p.pay_tbl4_radios input { height:13px; margin:4px 5px 0 14px; padding:0; width:13px; }
table.pay_tbl4 tr td p.pay_tbl4_radios label { line-height:20px; }
table.pay_tbl4 tr td p.pay_tbl4_radios select { float:left; margin-left:10px; }

	.guide_txt { color:#565960; font-size:11px; padding-left:10px; }

table.pay_tbl4 tr td p.chk_all,
table.pay_tbl4 tr td p.chk_each { float:left; height:20px; line-height:20px; margin-left:10px; width:100%; }

table.pay_tbl4 tr td p.chk_all input,
table.pay_tbl4 tr td p.chk_each input { float:left; height:13px; padding:0; width:13px; }

table.pay_tbl4 tr td p.chk_each { background:url("../img/common/seg_bg.gif") 0 4px no-repeat; color:#888; font-size:11px; font-weight:normal; }

table.pay_tbl4 tr td p.chk_all input { margin:4px 5px 0 0; }
table.pay_tbl4 tr td p.chk_each input { margin:4px 5px 0 17px; }
table.pay_tbl4 tr td p.chk_each a { color:#888; margin-left:5px; text-decoration:underline; }

.order_done { background:url("../images/main/04_order_complete.jpg");
 	clear:both;
	width:684px;
	height:255px;

	padding: 50px 0px 0px 0px;

	margin-left:200px;
	margin-bottom:100px;
  }
.order_cancel{
	clear:both;
	width:542px;
	height:200px;

	padding: 50px 0px 0px 0px;

	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.order_cancel_image{
	
}

table.pay_tbl5 { border-top:1px solid #3d424e; float:left; margin-top:10px; width:1098px; }
table.pay_tbl5 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:14px;  height:37px; text-align:center; }
table.pay_tbl5 tr td { border-bottom:1px solid #dbd9d9;  font-size:14px;  line-height:18px; padding:12px 0; position:relative; text-align:center; }

.chk_details { color:#080808; display:inline-block; font-size:24px;  height:30px; line-height:30px; margin:100px 0 60px 0; text-align:center; width:100%; }



	.vbank_msg img{
		margin-top:50px;
		margin-left: 210px;
	}
	.result_ok{
		width:340px;
		border:1px solid #ddd;
		font-size: 16px;
		margin: 20px auto 50px auto;
		padding:20px;
		line-height: 20px;

	}
	.vbank_info img{
		margin-left: 210px;
	}

	.result_btn_box {
		height:100px;
		margin-top:50px;
		margin-bottom:50px;
	}

	.result_btnbox_inner{
		width:420px;
		height:40px;
		margin:0px auto 0px auto;
	}