@charset "utf-8";

	@font-face {
		font-family: 'Nanum Gothic';
		font-style: normal;
		font-weight: 400;
		src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
		src: local('NanumGothic'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
	}



	@font-face {
		font-family: 'Nanum Gothic';
		font-style: normal;
		font-weight: 800;
		src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
		src: local('NanumGothicExtraBold'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
	}

	@font-face{
		font-family:'Nanum Pen Script';
		font-style:normal;
		font-weight:400;
		src:url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot);src:url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot?#iefix) format('embedded-opentype'),url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.woff) format('woff'),url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.ttf) format('truetype')}

	body { font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;
	 		overflow-x: hidden;
	 }

	a:hover, a:focus{
		text-decoration: none;
	}

	#wrap { width:100%; }

	.top_wrap { border-bottom:1px solid #e5e5e5;  margin-left: auto; margin-right: auto; width:80%; min-width:1100px; height:100px; padding:10px 0px 0px 0px; }

	#gnb { height:81px; margin:0 auto; width:1100px; margin-left: auto; margin-right: auto; }

	.logo_area { margin: 0px 0px 0px 0px; float:left; height:81px; width:145px; }
	.logo_area h1 a { background:url("../img/common/logo.png"); float:left; height:50px; margin:12px 0 0 15px; overflow:hidden; text-indent:-2000px; width:124px; }

	.menu_area { float:left; height:81px; width:724px; }
	.menu_area ul { float:left; height:15px; margin:40px 0 0 50px; width:646px; }
	
	.menu_area ul li { float:left; }

	.menu_area ul li a { color:#191919; font-size:15px; line-height:15px; }
	.menu_area ul li a:hover { color:#ff8500; font-size:15px; line-height:15px; }
	.menu_area ul li.menu01 { margin:0; }
	.menu_area ul li.menu02,
	.menu_area ul li.menu03,
	.menu_area ul li.menu04 { margin:0 0 0 40px; }

	.top_btn_area { float:left;  height:81px; width:187px; }
	.top_btn_area p { float:right; font-size:13px; text-align:right; margin-right:0px; padding-right:10px; margin-top:20px; height:15px; width:150px; }
	.top_btn_area span { color:#ff8500;}
	
	.top_btn_area ul { float:left; min-width:200px; height:22px; margin-top:0px;  }
	.top_btn_area ul li { border:0px solid #777; float:left; height:24px; margin-left:7px; width:68px; border-radius: 2px; }

	.top_btn_area ul li.top_btn_icon1 { background:url("../img/common/top_btn_icons.gif") 2px 0 no-repeat #fff; background-color:#2cbb84; }
	.top_btn_area ul li.top_btn_icon2 { background:url("../img/common/top_btn_icons.gif") 2px -20px no-repeat #fff; background-color:#2cbb84; }
	.top_btn_area ul li.top_btn_icon3 { background:url("../img/common/top_btn_icons.gif") 2px -40px no-repeat #fff; background-color:#2cbb84; }
	.top_btn_area ul li.top_btn_icon4 { width:70px; background:url("../img/common/top_btn_icons.gif") 2px -40px no-repeat #fff; background-color:#2cbb84; }
	
	.top_btn_area ul li.top_btn_home { float:left; background:url("../images/main/top_home.jpg") 2px 0 no-repeat #fff; width:30px; margin: 3px 0px 0px 0px; }
	.top_btn_area ul li.top_btn_home:hover { float:left; background:url("../images/main/top_home_o2.jpg") 2px 0 no-repeat #fff; }
	.top_btn_area ul li.top_btn_nonIcon { width:68px; background-color:#2cbb84; }
	.top_btn_area ul li.top_btn_nonIcon:hover {background-color:#40ac82; }

	.top_btn_area ul li a { color:#ffffff; display:block; font-size:11px; text-align:center; height:20px; leter-spacing: 0px; line-height:24px; padding: 0px 0px 0px 0px; }
	
	/* modify webheaven*/
	
	#top_btn .top_btn_area { height:81px; }
	#top_btn .top_btn_area p { font-size:13px; text-align:right; margin-right:0px; padding-right:10px; margin-top:20px; height:15px; width:150px; }
	#top_btn .top_btn_area span { color:#ff8500;}
	
	#top_btn .top_btn_area ul { min-width:200px; height:22px; margin-top:0px;  }
	#top_btn .top_btn_area ul li { border:0px solid #777; float:left; height:24px; margin-left:7px; width:68px; border-radius: 2px; }

	#top_btn .top_btn_area ul li.top_btn_icon1 { background:url("../img/common/top_btn_icons.gif") 2px 0 no-repeat #fff; background-color:#2cbb84; }
	#top_btn .top_btn_area ul li.top_btn_icon2 { background:url("../img/common/top_btn_icons.gif") 2px -20px no-repeat #fff; background-color:#2cbb84; }
	#top_btn .top_btn_area ul li.top_btn_icon3 { background:url("../img/common/top_btn_icons.gif") 2px -40px no-repeat #fff; background-color:#2cbb84; }
	#top_btn .top_btn_area ul li.top_btn_icon4 { width:70px; background:url("../img/common/top_btn_icons.gif") 2px -40px no-repeat #fff; background-color:#2cbb84; }
	
	#top_btn .top_btn_area ul li.top_btn_home { background:url("../images/main/top_home.jpg") 2px 0 no-repeat #fff; width:30px; margin: 3px 0px 0px 0px; }
	#top_btn .top_btn_area ul li.top_btn_home:hover { background:url("../images/main/top_home_o2.jpg") 2px 0 no-repeat #fff; }
	#top_btn .top_btn_area ul li.top_btn_nonIcon { width:68px; background-color:#2cbb84; }
	#top_btn .top_btn_area ul li.top_btn_nonIcon:hover {background-color:#40ac82; }

	#top_btn .top_btn_area ul li a { color:#ffffff; display:block; font-size:11px; text-align:center; height:20px; leter-spacing: 0px; line-height:24px; padding: 0px 0px 0px 0px; }
	
	
	.navigation { height:15px; margin-left: auto; margin-right: auto; width:80%; min-width:1100px; }

	.cont { margin:0 auto; padding-bottom:55px; width:1102px; }

form fieldset legend,
table caption { font-size:0; height:0; line-height:0; margin:0; overflow:hidden; padding:0; text-indent:-20000px; width:0; }

	/* txt settings */

	.t_fe8422 { color:#fe8422; }
	.t_008800 { color:#008800; }

	/* input, select settings */

	.input36 { width:36px; }
	.input46 { width:46px; }
	.input151 { width:230px; }
	.input200 { width:260px; }


/*  */
.footer{ clear:both; width:100%; border-top:1px solid #e5e5e5; padding:50px 0px 30px 0px;  margin-top:0px; margin-left:auto; margin-right:auto; background-color: #272b32;}
.gnb_footer{  margin:0 auto; margin-left: auto; margin-right: auto;}
.gnb_footer p{ font-size:10px; line-height:24px; text-align: center; color:#fff; padding:0px 0px 0px 0px;}
.gnb_footer .copyright{font-size:11px; color:#999;}




/* buttons */

.btn_cancel{
	background-color: #dbdbdb;
}

button.btn_common{
	font-family: "나눔 고딕";
	border-radius: 3px;
	border:0px solid #eee;
	text-align: center;
	font-size: 16px;
	width: 200px;
	height: 35px;
	color: #ffffff;
	background-color: #2cbb84
}
button.btn_common:hover, button.btn_common:focus{
	color: #ffffff;
	background-color: #40ac82;
}

a.btn_common{
	
	border-radius: 3px;
	border:0px solid #eee;
	text-align: center;
	top: 460px;
	left: 80px;
	font-size: 16px;
	width: 250px;
	height: 35px;
	color: #ffffff;
	background-color: #2cbb84	
}



/*main.php*/
.main_image{ width:1100px; height:581px; background:url('../images/main/00_main.jpg') no-repeat center top;}
.main_image a{ float:left;   border-radius: 3px;    text-align: center;
    top: 460px;    left: 80px;    font-size: 16px;
    width:250px;    height:35px;    color:#ffffff;   background-color:#2cbb84;
    border:0px solid;    margin: 325px 0px 0px 60px; padding: 15px 0px 0px 0px;
}
.main_image a:hover{
    background-color:#36aa7d;
}

.main_banner{
	height:30px;
	margin-bottom:20px;
}
.main_banner a{
	float:right;
	margin-right:10px;

}
.bootcont .main_image {position:relative;width:100%;height:auto;overflow:auto;}
.bootcont .main_image img {width:100%}
.bootcont .main_image a{ display:block;position:absolute; border-radius: 3px;    text-align: center;
    font-size: 20px;
    width:250px;    height:50px;line-height:50px;    color:#ffffff;   background-color:#2cbb84;padding:0;
    border:0px solid;  
}
.bootcont .main_image a:hover{
    background-color:#36aa7d;
}

.bootcont .main_banner{
	height:30px;
	margin-bottom:20px;
}
.bootcont .main_banner a{
	float:right;
	margin-right:10px;

}


/*info.php*/
/* pdt_intro */
/*
.pdt_intro{padding:115px 0 80px;}
*/


.inner_title{
	font-family:'Nanum Pen Script'; color:#ff8400;
	text-align:center; font-size:15vw; font-weight:700;

}


.pdt_intro{

	
}
.pdt_intro p{font-size:24px; color:#333; line-height:42px; text-align:center; }
.pdt_intro p.title{font-size:40px; color:#333; line-height:42px; text-align:center; }

.pdt_intro dl{  }
.pdt_intro dt{ font-family:'Nanum Pen Script'; text-align:center; margin:0 0 3px; font-size:24px; line-height:32px; font-weight:700;}
.pdt_intro dt.title{ font-family:'Nanum Pen Script'; color:#ff8400; text-align:center; margin:0 0 3px; font-size:70px; line-height:32px; font-weight:700;}
.pdt_intro dd{ text-align:center; font-size:16px; line-height:26px; letter-spacing:-0.5px; }

.pdt_intro dd.txt1{ font-size:21px; margin:20px 0px 30px 0px; }
.pdt_intro dd.txt2{ margin:0px 0px 20px 0px; }
.pdt_intro dd.txt3{ margin:0px 0px 20px 0px; }



.pdt_intro .txt_wrap{position:relative; height:830px; margin:75px 0 0; background:url('../images/main/bg_pdt_info.jpg') no-repeat center top;}
.pdt_intro .txt_wrap dl{position:absolute; width:220px; height:235px; padding:35px 25px 0px;}
.pdt_intro .txt_wrap dt{margin:0 0 3px; font-size:24px; color:#fff; line-height:32px; font-weight:700;}
.pdt_intro .txt_wrap dd{font-size:16px; line-height:26px; letter-spacing:-0.5px;}
.pdt_intro .txt01{top:280px; left:260px;}
.pdt_intro .txt01 dd{color:#417a5f;}
.pdt_intro .txt02{top:280px; right:0px;}
.pdt_intro .txt02 dd{color:#569195;}
.pdt_intro .txt03{top:560px; left:0px;}
.pdt_intro .txt03 dd{color:#5f683a;}
.pdt_intro .txt04{top:560px; left:554px;}
.pdt_intro .txt04 dd{color:#817450;}


.pdt_intro2{
	background-color: #eeeeee;
	width:100%;
	padding: 30px 0px 50px 0px;
	margin-top:30px;
}

.pdt_intro2 p{font-size:24px; color:#333; line-height:42px; text-align:center; }
.pdt_intro2 p.title{font-size:40px; color:#333; line-height:42px; text-align:center; }

.pdt_intro2 dl{  }

.pdt_intro2 dt{ font-family:'Nanum Pen Script'; text-align:center; margin:50px 0px 10px 3px; font-size:36px; line-height:32px; font-weight:700;}
.pdt_intro2 dt.title{ font-family:'Nanum Pen Script'; color:#ff8400; text-align:center; margin:0 0 3px; font-size:50px; line-height:32px; font-weight:700;}
.pdt_intro2 dd{ text-align:center; font-size:16px; line-height:26px; letter-spacing:-0.5px; }

.pdt_intro2 dd.txt1{ font-size:18px; margin:0px 0px 40px 0px; }
.pdt_intro2 dd.txt2{ margin:0px 0px 20px 0px; }
.pdt_intro2 dd.txt3{ margin:0px 0px 20px 0px; }




/* product.php */

/* suggest */
.suggest{height:856px; padding:130px 0 0; text-align:center; background:url('../images/main/bg_suggest2.jpg') no-repeat center top;}
.suggest p{margin:0 0 18px; font-size:24px; color:#999; letter-spacing:-0.5px;}
.suggest h2{margin:0 0 55px; font-size:36px; font-weight:normal; line-height:50px; color:#333; letter-spacing:-0.5px;}

.suggest2{ width:100%; padding:0px 0 0; text-align:center;  margin-left:auto; margin-right:auto;}
.suggest2 p{margin:0 0 18px; font-size:24px; color:#999; letter-spacing:-0.5px;}
.suggest2 h2{margin:0 0 55px; font-size:36px; font-weight:normal; line-height:50px; color:#333; letter-spacing:-0.5px;}

.suggest3{ width:100%; padding:0px 0 0; text-align:center;  margin-left:auto; margin-right:auto; }
.suggest4{height:600px; background-color: }
.suggest4 .inner{
	padding:50px 0px 0px 0px;
	padding-left:50px;
}
.suggest4 img{
	float:left;

}

.suggest5{}
.suggest5 .inner{}
.suggest5 .inner img{ float:left;}
.suggest5 .inner .box1{ float:left; width:400px; padding:30px 0px 0px 0px;}





/* movie */


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





.movie{background:#444;  padding:30px 0px 30px 0px; margin-left:auto; margin-right:auto;}
.movie .inner{
	position: relative;
	width: 1000px;
	margin: 0px auto 0px auto;
}
.movie_box{float:left;}
.movie_txt{float:left; margin:0px 0px 0px 45px; padding:0px 0px 0px 0px;}
.movie_txt p{font-size:20px; color:#bbb; line-height:42px; letter-spacing:-0.5px;}
.movie_txt ul{position:relative; overflow:hidden; margin:169px 0 0;}
.movie_txt ul li{float:left; margin:0 0 0 10px;}
.movie_txt ul li:first-child{margin:0px;}


/* benefit */
.benefit{ padding:35px 0 60px; background:#f6f6f6; margin-left:auto; margin-right:auto;}
.benefit .box01{float:left; margin:0px 0px 0px 20px; width:552px;}
.benefit .box01 .txt{display:block; font-size:19px; line-height: 40px;color:#309d7d; font-weight:700;}
.benefit .box02{float:left; margin:0px 0px 0px 20px; width:460px;}
.benefit dt{font-size:36px; color:#333; line-height:48px; letter-spacing:-0.5px;}
.benefit dt span{font-size:30px;}
.benefit dt em{font-weight:700;}
.benefit .box01 dt{margin: 0 0 8px;}
.benefit .box02 dt{margin:0 0 20px;}
.benefit .box02 dd{margin:0 0 45px; font-size:21px; color:#333; line-height:30px; letter-spacing:-1px;}
.benefit .t01{margin:38px 0 5px; text-align:center; font-size:20px; color:#309d7d;}
.benefit .t01 span{font-weight:700;}
.benefit .t02{text-align:center; font-size:20px; color:#908f8f}



/* safety */
.safety{padding:48px 0 78px; margin-left:auto; margin-right:auto; text-align:center; background:#9dc551; margin-left:auto; margin-right:auto;}
.safety h2{font-size:30px; font-weight:normal; letter-spacing:-0.5px; color:#fefefe;}
.safety h2 em{font-weight:700;}
.safety ul{position:relative; overflow:hidden; margin-left:5px;}
.safety ul li{float:left;}
.safety .mark{width:588px; margin:48px auto 80px;}
.safety .mark li{margin:0 0 0 55px;}
.safety .mark li:first-child{margin:0px;}
.safety .list li{margin:0 0 0 60px;}
.safety .list li:first-child{margin:0px;}










/* gallery.html */

.pdt_intro .txt_wrap dl{
    position: absolute;
    width: 220px;
    height: 235px;
    padding: 35px 25px 0px;

}
.txt01 dt{      width:220px;    }
.txt01 dd{      width:220px;    }

.gallery_undder_text{        font-size: 20px;    }

.mtr_intro p{font-size:24px; color:#333; line-height:42px; text-align:center; letter-spacing:-0.5px;}
.mtr_intro .txt_wrap{position:relative; height:1671px; margin:0px 0px 0px 0px; background: url('../images/main/03_Design2.jpg') no-repeat center top;}
.mtr_intro .txt_wrap dl{position:absolute; width:220px; height:235px; padding:35px 10px 0px;}
.mtr_intro .txt_wrap dt{margin:0 0 3px; font-size:24px; color:#fff; line-height:32px; letter-spacing:-1px; font-weight:700;}
.mtr_intro .txt_wrap dt.dt2{margin:0 0 3px; font-size:24px; color:#fff; line-height:32px;  width:500px; letter-spacing:-1px; font-weight:700;  margin-bottom: 10px;}

.mtr_intro .txt_wrap dd{font-size:16px; line-height:26px; letter-spacing:-0.5px;}
.mtr_intro .txt_wrap dd.dd2{font-size:16px; width:500px; line-height:26px; letter-spacing:-0.5px;}

.mtr_intro .txt01{top:280px; left:577px;}
.mtr_intro .txt01 dd{color:#417a5f; }
.mtr_intro .txt02{top:560px; right:550px;}
.mtr_intro .txt02 dd{color:#569195;}
.mtr_intro .txt03{top:1160px; left:20px;}
.mtr_intro .txt03 dd{color:#5f683a;}
.mtr_intro .txt04{top:1420px; left:564px;}
.mtr_intro .txt04 dd{color:#817450;}




/* login2.html */
.nello{
	
	width:450px;
	padding: 10px 0px 10px 0px;
	margin: 30px auto -13px auto;
	line-height: 50px;
}
.nello .title{
	font-size:34px;
}
.nello .contents{
	font-size:12px;
	margin-bottom: -10px;
}

.hello{
	border:1px solid #ddd;
	background-color: #f0f0f0;
	width:450px;
	
	margin-bottom: 80px;
	padding: 40px 0px 30px 0px;
}


.inputType1{border:1px solid #ccc;
	width:350px;
	height:33px;
	
	padding:10px;
	height:33px;padding-left:10px;text-indent:0;
	margin-left:auto;
	margin-right:auto;
	border-radius:0px;
	box-shadow: 0px 0px 0px 0px #ff8500;

	margin-bottom: 0px;
	
	

}
.inputType1:focus{
	border:1px solid #ff8500; 
	box-shadow: 0px 0px 5px #ffffff;
}
.inputType1::-webkit-input-placeholder 
{
    font-size:12px;
    color: #aaa;
}
.inputType1:focus::-webkit-input-placeholder 
{
    color: transparent;
}


.loginButton{

	width:350px;
	background-color: #ff8500;
	border-radius: 0px;
	color:#fff;
	
	font-size:16px;

	margin-left:auto;
	margin-right:auto;
}
.loginButton:hover{
	color:#fff;
	font-size:16px;
	background-color: #e77800;
}

.loginBtnBox{
	clear:both;

	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.loginBtnBox .icon1{
	float:left; width:87px; height:60px; margin-right:15px; }
.loginBtnBox .icon2{
	float:left; width:101px; height:60px; margin-right:15px; }
.loginBtnBox .icon3{
	float:left; width:66px; height:60px; }

.find_id_bg { 
	border:1px solid #ddd;
	background-color: #f0f0f0;
	width:450px;
	height:300px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left:auto;
	margin-right:auto;
	padding: 40px 0px 40px 20px;
}
.find_id_title { background:url("../images/main/member_ID.jpg");
	width:420px;
	height:84px;
	background-size: 400px 53px;
    background-repeat: no-repeat;
 	margin-bottom:5px;  }
.find_id_title_pw { background:url("../images/main/member_PW.jpg");
	width:420px;
	height:84px;
	background-size: 400px 53px;
    background-repeat: no-repeat;
 	margin-bottom:5px;  } 	
.find_id_inner { float:left; height:141px; margin:0px 0 0 0px; position:relative;  }
.find_id_inner dl { height:38px; left:0; position:absolute; width:334px; }
.find_id_inner dl dt,
.find_id_inner dl dd { float:left; }
.find_id_inner dl dt { color:#000; font-size:14px;  text-indent:5px; width:80px; }
.find_id_inner dl dd { width:215px; }
.find_id_inner dl dd input { border:1px solid #d1d1d1; float:left; height:36px; line-height:36px; padding:0; width:320px; padding-left:10px; }
.find_id_inner dl dd input:focus{
	border:1px solid #ff8500; 
	outline: none;
	padding-left:10px;
}
.find_id_inner dl.find_id_dl1 { top:0; }
.find_id_inner dl.find_id_dl2 { top:42px; }
.find_id_inner a { font-size:12px; height:32px; line-height:32px; position:absolute; text-align:center; top:109px; width:98px; }
.find_id_inner a.btn_ok { background:#ff8500; color:#fff; left:100px; }
.find_id_inner a.btn_cancel { background:#dbdbdb; color:#4d4d4d; left:215px; }


.find_pw_bg { 
	border:1px solid #ddd;
	background-color: #f0f0f0;
	width:450px;
	height:300px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left:auto;
	margin-right:auto;
	padding: 40px 0px 40px 20px; }
.find_pw_inner { float:left; height:141px; margin:0px 0 0 0px; position:relative; width:334px; }
.find_pw_inner dl { height:38px; left:0; position:absolute; width:334px; }
.find_pw_inner dl dt,
.find_pw_inner dl dd { float:left; }
.find_pw_inner dl dt { color:#000; font-size:14px;  text-indent:5px; width:80px; }
.find_pw_inner dl dd { width:215px; }
.find_pw_inner dl dd input { border:1px solid #d1d1d1; float:left; height:36px; line-height:36px; padding:5px 10px 5px 10px; width:320px; padding-left:10px; }

.find_pw_inner dl dd input:focus {
	
	border:1px solid #ff8500; 
	outline: none;
	
	padding:5px 10px 5px 10px;
}

.find_pw_inner dl.find_pw_dl1 { top:0; }
.find_pw_inner dl.find_pw_dl2 { top:42px; }
.find_pw_inner dl.find_pw_dl3 { top:82px; }
.find_pw_inner a { font-size:12px; height:32px; line-height:32px; position:absolute; text-align:center; top:109px; width:98px; }
.find_pw_inner a.btn_ok { background:#ff8500; color:#fff; left:100px; }
.find_pw_inner a.btn_cancel { background:#dbdbdb; color:#4d4d4d; left:215px; }





/* regist2.html */



/* = UIO Stylesheet */

/* UIO | Selectbox */

.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}

.selectbox-source{position:absolute;left:-3721em}
.selectbox-focused .selectbox-box{border-color:#ccc}
.selectbox-disabled .selectbox-box{border-color:#ccc}
.selectbox-box{width:200px;border:1px solid #ccc;background:#fff url(/img/common/bu_stx_arr.png) no-repeat 95% 50%;cursor:default;vertical-align:middle;}
.selectbox-label{padding:10px 3px 10px 10px}
.selectbox-layer{display:none;position:absolute;z-index:100;width:200px;border:1px solid #ccc;border-top:none;background-color:#fff;text-align:left}
.selectbox-list ul{margin:0;padding:0;list-style:none}
.selectbox-list ul li{padding:10px 3px 10px 10px;background-color:#fff;color:#888;cursor:default;zoom:1}
.selectbox-list ul li.selectbox-item-selected{color:#000}
.selectbox-list ul li.selectbox-item-over{background-color:#f8f8f8 !important}

/* UIO | Scrollbar */
#scroll{position:relative;width:500px;height:215px;background-color:#fff}
.scrollbar-box{overflow:hidden;position:absolute;top:0;left:0;width:500px;height:200px}
.scrollbar-content{position:absolute;top:0;left:0;width:500px}
.scrollbar-v{position:absolute;top:0;left:510px;width:15px;height:200px}
.scrollbar-v .scrollbar-track{position:relative;top:0;width:8px;height:200px;background-color:#ccc}
.scrollbar-v .scrollbar-track-hold{background-color:#666}
.scrollbar-v .scrollbar-thumb{overflow:hidden;position:relative;top:0;left:1px;width:6px;height:50px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff}
.scrollbar-v .scrollbar-thumb-hold{left:-4px;width:14px;border:1px solid #ccc;background:#fff url(/img/common/ico_scrollbar_hold.png) no-repeat 50% 50%;box-shadow:0 0 3px rgba(120,120,120,.5)}
.scrollbar-h{position:absolute;top:200px;left:0;width:200px;height:15px}
.scrollbar-h .scrollbar-track{position:absolute;left:0;width:200px;height:15px;background-color:#eee}
.scrollbar-h .scrollbar-track-hold{background-color:#ddd}
.scrollbar-h .scrollbar-thumb{overflow:hidden;position:absolute;width:50px;height:15px;background-color:#87CEEB}
.scrollbar-h .scrollbar-thumb-hold{background-color:blue}
.scrollbar-noscript .scrollbar-box{overflow:auto;width:215px;height:215px}
.scrollbar-noscript .scrollbar-h,.scrollbar-noscript .scrollbar-v{display:none}

/* UIO | Checked */
/* checkbox-applied */
.checkbox-applied{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;overflow:hidden;position:relative;width:15px;height:16px;vertical-align:middle}
.checkbox-applied span.checkbox-mark{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;position:absolute;top:0;left:0;width:15px;height:15px;background:url(/img/common/uio_checked2.png) no-repeat -23px -3px;line-height:15px;}
.checkbox-applied span.checkbox-mark.checkbox-checked{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;position:absolute;top:0;left:0;width:15px;height:15px;background-position:-23px -23px;line-height:15px;}
.checkbox-applied input{position:absolute;left:-3721em}
/* radio-applied */
.radio-applied{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;overflow:hidden;position:relative;width:15px;height:17px;vertical-align:middle }
.radio-applied span.radio-mark{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;position:absolute;top:0;left:0;width:15px;height:17px;background:url(/img/common/uio_checked2.png) no-repeat -2px -3px; }
.radio-applied span.radio-mark.radio-checked{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;position:absolute;top:0;left:0;width:15px;height:15px;background-position:-2px -23px}
.radio-applied input{position:absolute;left:-3721em}



/*Cupon Strike*/
.strike { text-decoration:line-through;}
.divright { float:right  !important}



.info-input{border-top:0px solid #373737;border-bottom:0px solid #ccc;padding:8px 8px 13px 8px;margin-bottom:15px}

.info-input input{padding-left:10px;line-height:1.5 !important}
.info-input input.myFocus{padding-left:9px;line-height:1.5; 	}



.use-info table{width:100%}
.use-info th{padding:16px 0 0 12px; font-weight: bold; vertical-align:top;text-align:left;color:#373737;font-family:'Nanum Gothic Bold'}
.use-info td{padding:5px 0}.use-info .txt1{display:block;padding-top:5px;color:#999}
.use-info .name{padding:16px 0 9px 0}
.use-info .birth{padding:16px 0 9px 0}
.use-info .inputType1{width:257px;height:31px}
.use-info .inputType1.myFocus{width:256px;height:29px}
.use-info .inputType1:focus{ border:0px solid #555; box-shadow: 0px 0px 0px 0px black; outline-color:#373737; }


.use-info .phone .inputType1,.use-info .mobile .inputType1{width:68px}
.use-info .phone .inputType3,.use-info .mobile .inputType3{width:68px}
.use-info .phone .inputType1.myFocus,.use-info .mobile .inputType1.myFocus{width:67px}
.use-info .phone .inputType3.myFocus,.use-info .mobile .inputType3.myFocus{width:67px}
.use-info .address1{margin:8px 0}.use-info .address .inputType1{width:612px}
.use-info .address .inputType3{width:54px;height:31px;margin-left:0;line-height:31px}
.use-info .address .inputType3.myFocus{width:53px;height:29px}
.use-info .address a.pl10{padding-left:6px}
.use-info .postcode .inputType1{width:54px;height:31px;margin-left:0;line-height:31px}
.use-info .postcode .inputType1[readonly]:focus{ border:1px solid #ccc; outline-color: #ccc;}

.use-info .email .inputType1{width:120px}.use-info .email .inputType1.myFocus{width:119px}
.use-info .email .flleft.pd10{padding-right:3px}.use-info .receive-mail{padding-top:16px}
.use-info .receive-mail label{margin-right:10px}.use-info .receive-mail .check{margin-top:14px}
.use-info .receive-mail span.color{color:#999}
.use-info .txt1.ft-red{display:inline-block;padding-left:10px;color:#e4121a}






.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  
  background-color:#000000;
  opacity: 0.2;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  border:1px solid #ccc;
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  left: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'nanumgothic', 'sans-serif';
}


