@charset "utf-8";

.tab_default{
	font-size: 14px;
	color:#191919;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
	height:35px;
}
.nav-tabs>li>a{
	width:120px;
	height:35px;
	text-align: center;
	padding:7px;
	background-color: #eee;
}
.nav-tabs>li>a:hover{
	background-color: #ddd;
}
.nav-tabs>li.active>a{
	width:120px;
	height:35px;
	text-align: center;
	padding:7px;
}


.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-size:15px;
	color: #ff8500;
}

.modal-body {
	position: relative;
	padding: 20px;
	
}

.modal-content{
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	min-width: 700px;
	height: 325px;
}
.modal-content textarea.form-control {
	height: 150px;
}

.modal-footer {
	margin-top: 0px;
	padding: 15px 17px 16px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.btn-warning{
	font-size: 16px;
	border-radius: 3px;
	text-align: center;
	
	color: #222;
	background-color: #eee;
	border: 0px solid;
	padding: 10px 20px 10px 20px;
	width:100px;
	height:39px;

}
.btn-warning:hover{
	color: #222;
	background-color: #ddd;
}

.btn-primary{
	font-size: 16px;
	border-radius: 3px;
	text-align: center;
	color: #ffffff;
	background-color: #2cbb84;
	border: 0px solid;
	padding: 10px 20px 10px 20px;
	width:100px;
	height:39px;
}

.btn-primary:hover{
	background-color: #40ac82;
}




	.mypage_list_area { margin:50px auto 0; position:relative; width:970px; }
	.mypage_list_ttl { margin-top:50px; border-bottom:1px solid #5e5d5d; height:27px; }
h2.mypage_list_sttl { background:url("../img/mypage/mypage_ttl.gif"); float:left; height:21px; overflow:hidden; text-indent:-20000px; width:207px; }

	.order_chk_tbl_ttl { height:40px; width:970px; }
h3.order_chk_sttl { float:left; font-size:14px;  margin-top:24px; }

table.my_order_chk_tbl { float:left; width:970px; }
table.my_order_chk_tbl tr th { background:#dbd9d9; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; color:#383838; font-size:14px;  height:37px; text-align:center; }
table.my_order_chk_tbl tr td { border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; font-size:14px;  line-height:0px; padding:20px 0; text-align:center; }
table.my_order_chk_tbl tr td.lastRow { border-bottom:1px solid #d0d0d0; border-right:0px solid #d0d0d0; font-size:14px;  line-height:0px; padding:20px 0; text-align:center; }

table.my_order_chk_tbl tr td a.btn_draft { background:#ff8400; color:#fff; display:inline-block; font-size:14px; height:31px; line-height:31px; margin-top:3px; text-align:center; width:96px; }
table.my_order_chk_tbl tr td button.btn_draft { background:#ff8400; color:#fff; display:inline-block; font-size:14px; height:31px; line-height:31px; margin-top:3px; text-align:center; width:96px; }
table.my_order_chk_tbl tr td a.btn_order_cancel { background:#aaa; color:#fff; display:inline-block; font-size:14px; height:31px; line-height:31px; text-align:center; width:85px; }

	.my_order_chk_btn { float:left; height:36px; margin-top:28px; width:970px; }
	.my_order_chk_btn ul { float:right; height:36px; width:314px; }
	.my_order_chk_btn ul li { float:left; margin-left:15px; position:relative; }
	.my_order_chk_btn ul li a { display:block; height:36px; overflow:hidden; text-indent:-20000px; width:142px; }
	.my_order_chk_btn ul li.btn_modify a { background:url("../img/admin/btn_modify.jpg"); }
	.my_order_chk_btn ul li.btn_cancel a { background:url("../img/admin/btn_cancel.jpg"); }
	.my_order_chk_btn ul li.btn_home a { background:url("../img/admin/btn_home.jpg"); }
	.my_order_chk_btn ul li.btn_prev a { background:url("../img/admin/btn_prev.jpg"); }

	.draft_confirm_pop { background:url("../img/mypage/draft_confirm_pop.jpg"); height:145px; left:550px; position:absolute; top:213px; width:330px; z-index:5; }
	.draft_confirm_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.draft_confirm_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.draft_confirm_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

	.order_cancel_pop { background:url("../img/mypage/order_cancel_pop.jpg"); height:145px; left:550px; position:absolute; top:229px; width:330px; z-index:5; }
	.order_cancel_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.order_cancel_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.order_cancel_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

	.draft_modify_pop { background:url("../img/mypage/draft_modify_pop.jpg"); height:145px; left:550px; position:absolute; top:247px; width:330px; z-index:5; }
	.draft_modify_pop form { float:left; height:88px; margin:45px 0 0 14px; position:relative; width:306px; }
	.draft_modify_pop form fieldset textarea { border:none; height:56px; left:0; position:absolute; top:0; width:302px; }
	.draft_modify_pop form fieldset ul { height:22px; left:52px; position:absolute; top:64px; width:194px; }
	.draft_modify_pop form fieldset ul li { float:left; height:22px; margin-left:9px; position:relative; width:88px; }
	.draft_modify_pop form fieldset ul li input { display:none; }
	.draft_modify_pop form fieldset ul li label { background:url("../img/mypage/btn_op_send.jpg"); cursor:pointer; display:block; height:22px; left:0; overflow:hidden; position:absolute; text-indent:-20000px; top:0; width:88px; }
	.draft_modify_pop form fieldset ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

h2.join_info_input_sttl { background:url("../img/admin/join_info_input_sttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:77px; }
	.id_dupl_chk { background:#ff8400; color:#fff; float:left; height:20px; line-height:20px; margin-left:13px; text-align:center; width:89px; margin-top: 5px; }

	.cart_list_area { margin:132px auto 0; position:relative; width:970px; }
	.cart_list_ttl { border-bottom:1px solid #5e5d5d; height:27px; }
h2.cart_list_sttl { background:url("../img/mypage/cart_ttl.gif"); float:left; height:21px; overflow:hidden; text-indent:-20000px; width:78px; }

	.cart_chk_tbl_ttl { height:81px; width:970px; }
h3.cart_chk_sttl { float:left; font-size:14px;  margin-top:10px; width:100%; }
p.cart_chk_quide { color:#9b9a9a; display:inline-block; font-size:14px; font-weight:normal; margin-top:14px; }



.mypage_order_info{
	float:left;
	padding: 20px 10px 20px 60px;


	margin: 30px auto 30px 100px;
	border: 0px solid #ddd;
	
	width:800px;
	height:100px;


	
	line-height: 18px;
	
	background-color: #f5f5f5;
}



.preview_image{
	width:100px;
	height:100px;
	cursor:pointer;
}


.orign_image{
	margin: 40px auto 0px 61px;
	position: absolute;
	cursor:pointer;
}


.orign_image img{
	padding: 10px;
	background-color: #fff;
	width:80%;
	height:80%;
}




.modify_user_info dl dt, .modify_user_info dl dd {
	float: left;
}

.modify_user_info{
	border: 1px solid #ccc;
	padding: 30px 30px 30px 50px;
	width: 970px;
	margin : 20px auto 0px auto;
}

.modify_user_info dl{
	display: inline-block;
	padding: 5px 0;	
}

.modify_user_info dt{
	color: #161616;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	width: 95px;
}

.modify_user_info dd{
	padding-left: 30px;
	width: 696px;
}



.modify_user_info dd input[type="text"],
 .modify_user_info dl dd input[type="password"] {
	border: 1px solid #ddd;
	float: left;
	height: 31px;
	padding: 5px 5px 5px 10px;
}


.modify_user_info dl dd select {
	border: 1px solid #ddd;
	float: left;
	height: 30px;
	padding: 0px 0px 0px 0px;
}


.modify_user_info dl dd p.myinfo_opt_txt {
	color: #777;
	float: left;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin: 0 2px;
}




.detail_addrr {
float: left;
margin: 35px 0 0 -202px;
width: 600px;
}
.detail_addr2 {
float: left;
margin: 5px 0 0 0px;
width: 600px;
}

.btn_box{
	float:right;
	margin: 10px 0px 20px 0px;
}




