@charset "utf-8";

	

	.admin_order_list_area { margin:0 auto; margin-top:130px; width:1043px; }

	.admin_order_list_ttl { border-bottom:1px solid #5e5d5d; height:27px; width:1043px; }
h2.admin_order_list_sttl { background:url("../img/admin/admin_order_list_sttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:217px; }
h2.admin_mem_list_sttl { background:url("../img/admin/admin_mem_list_sttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:217px; }
	p.line_map { float:right; line-height:27px; }

	.order_list_tbl_ttl { height:50px; width:1043px; }
h3.order_list_sttl { background:url("../img/admin/order_list_sttl.gif"); float:left; height:15px; margin:24px 0 0 0; overflow:hidden; text-indent:-20000px; width:133px; }
h3.mem_list_sttl { background:url("../img/admin/mem_list_sttl.gif"); float:left; height:15px; margin:24px 0 0 0; overflow:hidden; text-indent:-20000px; width:87px; }
	.btn_excel_down { background:url("../img/admin/btn_excel_down.jpg"); float:right; height:22px; margin:20px 0 0 0; overflow:hidden; text-indent:-20000px; width:118px; }

table.order_list_tbl { border-bottom:3px solid #c7c7c7; width:1043px; }
table.order_list_tbl thead tr th { background:#c3c3c3; border-right:1px solid #d0d0d0; color:#383838; height:42px; text-align:center; }
table.order_list_tbl tbody tr td { background:#fff; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; color:#727070; text-align:center; }
table.order_list_tbl tbody tr td select { background:#dbdbdb; border:none; height:25px; line-height:25px; width:120px; }

	.btn_download { background:#969494; color:#fff; display:inline-block; height:28px; line-height:28px; text-align:center; width:77px; }

	.select_opt_color { border-bottom:1px solid #d0d0d0; padding:20px 0; width:100%; }
	.select_opt_pic { padding:20px 0; width:100%; }

table.mem_list_tbl { border-bottom:3px solid #c7c7c7; width:1043px; }
table.mem_list_tbl thead tr th { background:#c3c3c3; border-right:1px solid #d0d0d0; color:#383838; height:42px; text-align:center; }
table.mem_list_tbl tbody tr td { background:#fff; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; color:#727070; padding:10px 0; text-align:center; }


.myinfo_modify_wrap {
 	width: 1100px;
	padding: 10px 10px 10px 10px;
	margin-left: auto;
	margin-right: auto;
}
	.description{ 
		width: 970px;
		border: 0px solid #ccc;
		font-size:25px;
		padding: 30px 10px 0px 30px;
		margin-left: 35px;
		margin-right: auto;
	}
	.can_modify { 
		width: 970px;
		text-align: right;
		border: 0px solid #ccc;
		padding: 5px 0px 5px 0px;
		margin-left: auto;
		margin-right: auto;

		 }
	.myinfo_wrap { 
		border:1px solid #ccc;
		padding:30px 30px 30px 50px;
		width:900px;
		margin-left: auto;
		margin-right: auto;
	 }

	 .regist_form{
	 	width:970px;
	 	margin-left: auto;
	 	margin-right: auto;

	 }


.info_modify_ttl { border-bottom:0px solid #5e5d5d; height:27px; width:970px; }
h2.info_modify_sttl { background:url("../img/admin/info_modify_ttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:98px; }
h3.myinfo_modify_sttl { float:left; font-size:14px;  margin-top:24px; }

	.myinfo_wrap dl { display:inline-block; padding:5px 0; }
	.myinfo_wrap dl dt,
	.myinfo_wrap dl dd { float:left; }
	.myinfo_wrap dl dt { color:#161616; font-size:14px; line-height:18px; text-align:right; width:95px; }
	.myinfo_wrap dl dd { padding-left:30px; width:696px; }
	.myinfo_wrap dl dd input[type="text"],
	.myinfo_wrap dl dd input[type="password"] {
		border:1px solid #ddd; 
	 float:left; height:20px;
	  padding:5px 0px 5px 10px; }
	.myinfo_wrap dl dd input[type="radio"] { float:left; height:13px; margin:4px 0 0 0; padding:0; width:13px; }

	.myinfo_wrap dl dd input[type="text"]:focus,
	.myinfo_wrap dl dd input[type="password"]:focus {border:1px solid #ff8500; outline: none;  }
	.myinfo_wrap dl dd textarea{ 
		border:1px solid #ddd;
		width:640px;
		height:100px;
		border-radius: 3px;
		resize: none;
		background-color: #f2f2f2;
		padding:10px;
	}

	.myinfo_wrap dl dd select { border:1px solid #ddd; float:left; height:30px; padding:0px 0px 0px 0px; }
	.myinfo_wrap dl dd p.myinfo_opt_txt { color:#777; float:left; font-size:12px; height:20px; line-height:20px; margin:0 2px; }

	.btn_zip { background:#ff8400; color:#fff; float:left; height:20px; line-height:20px; margin-left:13px; text-align:center; width:89px; margin-top: 5px; }
	.btn_zip:hover, .btn_zip:focus{
		color:#fff;
	}
	.detail_addr { float:left; margin:35px 0 0 -226px; width:400px; }
	.detail_addr2 { float:left; margin:5px 0 0 0px; width:400px; }

	.myinfo_btn_area { 
		
		clear: both;
		border-top: 0px solid #d2d2d2;
		
		padding-top: 50px;
		padding-bottom: 100px;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.myinfo_btn_area ul { 
		width:480px;
		padding: 5px 5px 5px 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.myinfo_btn_area ul li {
		float:right;
		width:220px;
		margin:0px 0px 0px 5px;
		
	}

	.myinfo_btn_area li.two_button {
		float: left;
		font-size: 16px;
		border-radius: 3px;
		text-align: center;
		width: 220px;
		height: 27px;
		color: #ffffff;
		background-color: #2cbb84;
		border: 0px solid;
		margin: 0px 10px 0px 0px;
		padding: 13px 5px 5px 5px;
		cursor: pointer;
	}

	
	.myinfo_btn_area li.two_button:hover { 
		cursor:pointer;
		background-color:#40ac82;
	}
	

	


	.login_wrap { margin:80px auto 0; width:845px; }
	.login_ttl_area { border-bottom:1px solid #5e5d5d; height:27px; width:845px; }
h2.login_sttl { background:url("../img/admin/login_ttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:134px; }

	.mem_login_ttl { height:65px; width:845px; }
h3.mem_login_sttl { float:left; font-size:14px; font-weight:bold; margin-top:24px; }

	.login_input_area { border:1px solid #5e5d5d; height:186px; width:843px; }
	.login_input_left { border-right:1px solid #5e5d5d; float:left; height:186px; width:526px; }
	.login_input_grey { background:#e5e5e5; float:left; height:172px; margin:8px 0 0 7px; width:512px; }
	.login_input { float:left; height:74px; margin:49px 0 0 103px; position:relative; width:314px; }
	.login_input dl { height:19px; left:0; position:absolute; width:224px; }
	.login_input dl.login_input1 { top:1px; }
	.login_input dl.login_input2 { top:27px; }
	.login_input dl dt,
	.login_input dl dd { float:left; }
	.login_input dl dt { color:#161616; font-size:12px; font-weight:bold; line-height:19px; width:65px; }
	.login_input dl dd { width:159px; }
	.login_input dl dd input { background:#fff; border:none; height:19px; padding:0; width:159px; }

	.login_input a.btn_login { background:url("../img/admin/btn_login.jpg"); height:48px; overflow:hidden; position:absolute; right:0; text-indent:-20000px; top:0; width:82px; }
	.login_input a.btn_fb_login { background:#464545; color:#fff; height:19px; left:65px; line-height:19px; position:absolute; text-align:center; top:55px; width:159px; }

	.login_input_right { float:right; height:186px; position:relative; width:316px; }
	.login_input_links { float:left; height:75px; margin:50px 0 0 39px; width:225px; }
	.login_input_link { float:left; height:20px; margin:5px 0 0 0; width:225px; }
	.login_input_link_left { color:#000; float:left; font-size:11px; height:20px; line-height:20px; width:141px; }
	.login_input_link_right { float:left; height:20px; width:84px; }
	.login_input_link_right a { color:#fff; display:block; font-size:11px; height:20px; line-height:20px; text-align:center; width:84px; }
	.login_input_link_right a.btn_find { background:#b4b4b4; }
	.login_input_link_right a.btn_join { background:#ff8f00; }

	.find_pw_bg { background:url("../img/admin/find_pw_bg.jpg"); height:269px; width:392px; }
	.find_pw_inner { float:left; height:141px; margin:102px 0 0 29px; position:relative; width:334px; }
	.find_pw_inner dl { height:38px; left:0; position:absolute; width:334px; }
	.find_pw_inner dl dt,
	.find_pw_inner dl dd { float:left; }
	.find_pw_inner dl dt { color:#000; font-size:14px; line-height:38px; text-indent:5px; width:119px; }
	.find_pw_inner dl dd { width:215px; }
	.find_pw_inner dl dd input { border:1px solid #d1d1d1; float:left; height:36px; line-height:36px; padding:0; width:213px; }
	.find_pw_inner dl.find_pw_dl1 { top:0; }
	.find_pw_inner dl.find_pw_dl2 { top:42px; }
	.find_pw_inner dl.find_pw_dl3 { top:82px; }
	.find_pw_inner a { font-size:12px; height:32px; line-height:32px; position:absolute; text-align:center; top:109px; width:98px; }
	.find_pw_inner a.btn_ok { background:#4d4d4d; color:#fff; left:69px; }
	.find_pw_inner a.btn_cancel { background:#dbdbdb; color:#4d4d4d; left:175px; }

	.find_id_bg { background:url("../img/admin/find_id_bg.jpg"); height:269px;  width:392px; }
	.find_id_inner { float:left; height:141px; margin:102px 0 0 29px; position:relative; width:334px; }
	.find_id_inner dl { height:38px; left:0; position:absolute; width:334px; }
	.find_id_inner dl dt,
	.find_id_inner dl dd { float:left; }
	.find_id_inner dl dt { color:#000; font-size:14px; line-height:38px; text-indent:5px; width:119px; }
	.find_id_inner dl dd { width:215px; }
	.find_id_inner dl dd input { border:1px solid #d1d1d1; float:left; height:36px; line-height:36px; padding:0; width:213px; }
	.find_id_inner dl.find_id_dl1 { top:0; }
	.find_id_inner dl.find_id_dl2 { top:42px; }
	.find_id_inner a { font-size:12px; height:32px; line-height:32px; position:absolute; text-align:center; top:109px; width:98px; }
	.find_id_inner a.btn_ok { background:#4d4d4d; color:#fff; left:69px; }
	.find_id_inner a.btn_cancel { background:#dbdbdb; color:#4d4d4d; left:175px; }


	.id_dupl_chk { background:#ff8400; color:#fff; float:left; height:20px; line-height:20px; margin-left:13px; text-align:center; width:89px; }