/*
========================================================================
RESET
========================================================================
*/
/* global rest */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

html, body {
    height: 100%;
}
html, body, pre,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, li, ol,
th, td, p, blockquote,
form, fieldset, legend,
menu, nav, section, hgroup, article, header, aside, footer,
input, select, textarea, button {
    margin: 0;
    padding: 0;
}
body,
h1, h2, h3, h4, h5, h6, table,
input, select, textarea, a {
    font-size: 12px;
    line-height: 1.25;
    color: #777;
   font-family:'Nanum Gothic', verdana,Dotum, AppleGothic, Helvetica, sans-serif;
  }
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
img, fieldset,button {
    border:0 none;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
hr, caption, legend {
    display: none;
}
a { 
    color: #787878;
    text-decoration: none;
}
a:hover {
}
button {
    overflow: hidden;
    cursor: pointer;
}
button span {
    visibility: hidden;
}
address, em {
    font-style: normal;
}
button, input, select, textarea, a {
    vertical-align: middle;
}
select {
    line-height: 18px;
    height: 18px;
}
input:focus {
    outline: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
/*
========================================================================
°øÅë class
========================================================================
*/
/* image replace, hidden text */
.ir *,
.blind { z-index:-1; position: absolute; display: block; left: 0; top: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; text-indent: -7779px; }
/* block, inline */
.d-block { display: block;}
.d-inline { display: inline;}
/* form */
.txt-right { text-align: right; }
.txt-input1 { padding: 2px 0 0 2px; height: 17px; line-height: 20px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2;height:23px }
.txt-input2 { padding: 2px 0 0 2px; height: 17px; line-height: 20px; border: 1px solid #e7e7e7;height:23px }
.MS_input_txt { margin-right:5px; padding: 2px 0 0 2px; line-height: 20px; border: 1px solid #e7e7e7;height:23px }
.MS_input_tel { margin-right:5px; padding: 2px 0 0 2px; line-height: 20px; border: 1px solid #e7e7e7;height:23px }
.txt-disabled { background-color: #f6f6f6; }
.chk-rdo { width: 13px; height: 13px; vertical-align: middle; }
.txt-area1 { overflow-y: scroll; padding: 2px 0 0 2px; line-height: 17px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2; }
/* file add trick */
.file-wrap { display: inline-block; overflow: hidden; position: relative; height: 23px; width: 280px; vertical-align: middle; background: url(/images/btn/h20_trick_fileadd.gif) no-repeat right 0; }
.file-wrap .file-txt { float: left; border: 0 none; height: 18px; font-size: 12px; line-height: 18px; width: 198px; border: 1px solid #ccc; }
.file-wrap .file-trick { cursor: pointer; position: absolute; right: 0px; top: 0; right: 0; width: 100px; height: 20px; background: none; border: 0 none; opacity: 0; filter: alpha(opacity=0); }
/* font-color */
.fc-red { color: #dc0017; }
.fc-blue { color: #2c6b9e; }
.MS_option_price { color: #FF3C00; }
/* bold */
.bold { font-weight: bold; }
/* float clear */
.clear {zoom: 1;}
.clear:after {content: ""; display: block; clear: both;z-index:-1}
/* margin */
.mr-5 { margin-right: 5px;}
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
/* padding */
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
/* table */
table img { vertical-align: middle; }
.tb-bold { font-weight: bold; }
.tb-left,
.tb-center,
.tb-right { padding: 0 10px; }
.tb-btn { padding: 0; }
.tb-left { text-align: left; }
.tb-center { text-align: center; }
.tb-right { text-align: right; }
.tb-label-r5 label { margin-right: 5px; }
.tb-label-r10 label { margin-right: 10px; }
.tb-label-r10 label.last,
.tb-label-r5 label.last{ margin-right: 0; }
/* table-type-1 */
.table-type-1 { border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
.table-type-1 th,
.table-type-1 td { padding: 8px 0 8px; }
.table-type-1 tr.nbg th,
.table-type-1 tr.nbg td { background-image: none; }
.table-type-1 tr.bg th,
.table-type-1 tr.bg td { background-color: #f8f8f8; }
.table-type-1 th { font-weight: normal; }
/* table-type-2 */
.table-type-2 { border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
.table-type-2 th,
.table-type-2 td { padding: 8px 0 8px; background: url(/images/d3/modern_simple/common/dot_h1_w10.gif) repeat-x 0 bottom; }
.table-type-2 th { font-weight: normal; }
.table-type-2 tr.nbg th,
.table-type-2 tr.nbg td { background-image: none; }
/* »óÇ°¸®½ºÆ® (¸ÞÀÎ/°Ë»ö/»óÇ°¸®½ºÆ®) */
.prd-list { margin-top: 20px; }
.prd-list table td { border: 0; vertical-align: top; }
.prd-list table .tb-center { padding: 20px 10px; }
.prd-list table .info { padding: 5px 0; }
.prd-list .thumb { width: 680px; height: 460px; margin-left: auto; margin-right: auto; font-size:0; line-height: 0; border: 0px solid #f2f4f3; }
.prd-list .thumb a,
.prd-list .thumb img { display: block; width: 100%; height: 100%; }
.prd-list .dsc { margin-top: 15px; font-weight: bold; }
.prd-list .price { margin-top: 15px; font-weight: bold; color: #333; }
.prd-name { font-size:12px;letter-spacing:0.2px }
/* Àå¹Ù±¸´Ï ¸®½ºÆ®, ÁÖ¹®»óÇ° ¸®½ºÆ® */
.table-cart { margin-top: 10px; margin-bottom :30px; border-bottom: 1px solid #e7e7e7; }
.table-cart thead th { height:25px;padding: 7px 0 6px; border-bottom: 1px solid #e7e7e7;border-top: 2px solid #dc0017; }
.table-cart tbody td,
.table-cart tfoot { background: url() repeat-x 0 0; }
.table-cart tbody td { border-bottom: 1px solid #e7e7e7; }
.table-cart tbody td .thumb {margin:10px;width: 100px;height:146px;  margin-left: auto; margin-right: auto; line-height: 0;  }
.table-cart tbody td .thumb a,
.table-cart tbody td .thumb img {display:block; width:100px; height:146px; margin:10px;}
.table-cart tbody td .thumb a {  line-height: 0; }
.table-cart tbody td .d-block { padding-bottom: 3px; }
.table-cart tbody tr.nbg td { background-image: none; }
.table-cart tfoot td { padding: 10px 0;}
.table-cart tfoot strong { color: #D40017; }
/* ¼ö·® ÄÁÆ®·Ñ */
.table-cart .opt-spin { position: relative; width: 36px; height: 20px; margin-left: auto; margin-right: auto; padding-bottom: 3px; }
.table-cart .opt-spin .txt-spin,
.table-cart .opt-spin .btns { float: left; }
.table-cart .opt-spin .txt-spin { width: 22px; height: 18px; padding-right: 2px padding-top: 2px; border: 1px solid #E7E7E7; font-size: 12px; text-align: right; }
.table-cart .opt-spin .btns { width: 12px; height: 20px; margin-top: 3px; }
.table-cart .opt-spin .btns img { overflow: hidden; float: left; text-indent: -777px; background: none; }
/* ÁÖ¹® - ÁÖ¹®Á¤º¸ Å×ÀÌºí */
.table-order-info { margin-top: 10px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
.table-order-info tbody th,
.table-order-info tbody td { padding: 8px 0 7px; border-top: 1px solid #e7e7e7; }
.table-order-info tbody th { letter-spacing: -1px; background-color: #F5F5F5; }
.table-order-info tbody th .d-block { font-weight: normal; letter-spacing: 0; }
.table-order-info tbody tr.nbg th,
.table-order-info tbody tr.nbg td { background-image: none; }
/* ¸¶ÀÌÆäÀÌÁö µðÀÚÀÎ Å¸ÀÔ2 Å×ÀÌºí ¸®½ºÆ®, Å¸ÀÌÆ² */
.tit-tb-list { margin-top: 30px; font-size: 12px; color: #5f5f5f; padding-left: 10px; background: url(/images/d3/modern_simple/common/bull_h3_sqr_gray.gif) no-repeat 0 45%; }
.table-d2-list { border-top: 1px solid #e7e7e7;  }
.table-d2-list thead th { padding: 6px 0; background-color: #FCFCFC; border-bottom: 1px solid #e7e7e7; }
.table-d2-list tbody td { padding: 6px 0 5px; border-bottom: 1px solid #e7e7e7; }
/* ¸¶ÀÌÆäÀÌÁö µðÀÚÀÎ Å¸ÀÔ2 Å×ÀÌºí ºä */
.table-d2-view { margin-top: 5px; border-top: 1px solid #e7e7e7;  }
.table-d2-view th, 
.table-d2-view td { padding: 6px 0 5px; border-bottom: 1px solid #e7e7e7; }
.table-d2-view th { font-weight: ; border-right: 1px solid #e7e7e7; background-color: #f9f9f9; }
/* paging */
.paging { padding-top: 20px; height: 17px; text-align: center; line-height: 0; }
.paging li { display: inline;padding: 0 3px; }
.paging li a { overflow: hidden; width: auto; height: 17px; padding: 0 3px; color: #777; cursor: pointer; }
.paging li a:hover { color: #dc0017; padding: 0 3px; }
.paging li.now a { color: #dc0017; padding: 0 3px; }
.paging li.first a,
.paging li.prev a,
.paging li.next a,
.paging li.last a { padding: 0 3px;height: 17px; }
.paging li.prev { margin-right: 10px; }
.paging li.next { margin-left: 10px; }
/* ÇöÀçÀ§Ä¡ */
.loc-navi { text-align: right; }
.loc-navi,
.loc-navi a { color: #777; text-transform: capitalize; }
/* ÆäÀÌÁö Å¸ÀÌÆ² */
/* Å¸ÀÔ 1*/
#content .tit-page { text-align: center;position: relative; margin-top: 70px;  line-height:0; padding-bottom: 12px; }
#content .tit-page .dsc { position: absolute; right: 0px; top: 15px; font-size: 12px; color: #a5a5a5; letter-spacing: -1px; }
#content .tit-page .dsc em { color:#333; }
/* Å¸ÀÔ 2 */
#content .tit-page-2 { position: relative; margin-top: 15px; padding-bottom: 6px;  }
#content .tit-page-2 .dsc { letter-spacing: -1px; display: inline-block; padding-top: 2px; margin-left: 30px; color: #9b9b9b; }
/* »óÇ° total/Á¤·Ä */
.total-sort { zoom: 1; overflow: hidden; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; }
/* total */
.total-sort .total { float: left; width: auto; }
.total-sort .total dt,
.total-sort .total dd { display: inline; }
.total-sort .total dd { font-weight: bold; }
.total-sort .total dt { text-transform: capitalize; }
/* sort */
.total-sort .sort { float: right; width: auto; display: inline; margin-right: 20px; }
.total-sort .sort li,
.total-sort .sort li a { float: left; width: auto; }
.total-sort .sort li { display: inline; margin-left: 10px; }
/* °Ô½ÃÆÇ ÃÑ°Ô½Ã±Û,PAGE */
.total-page { zoom: 1; overflow: hidden; }
.total-page .total { float: left; width: auto; }
.total-page .page { float: right; width: auto;}
/* È¸¿ø µî±Þ Ç¥½Ã */
/* Å¸ÀÔ 1 */
.mem-lvl { zoom: 1; overflow: hidden; padding: 15px 50px 15px 180px; background-color: #F5F5F5; }
.mem-lvl .lvl-img,
.mem-lvl p { position: relative; float: left; }
.mem-lvl .lvl-img { left: -120px; margin-right: -120px; width: 120px; }
.mem-lvl p { width: 100%; padding-top: 10px; line-height: 16px; }
.mem-lvl p em { color: #be101a; font-weight: bold; }
.mem-lvl span.MS_group_reserve_msg,
.mem-lvl span.MS_group_dc_msg {
    color:#F26622;
}
/* Å¸ÀÔ 2 */
.mem-lvl-2 { zoom: 1; overflow: hidden; padding: 15px 50px 15px 150px; border: 5px solid #F5F5F5; }
.mem-lvl-2 .lvl-img,
.mem-lvl-2 p { position: relative; float: left; }
.mem-lvl-2 .lvl-img { left: -130px; margin-right: -130px; width: 120px; border-right: 1px solid #F5F5F5; }
.mem-lvl-2 p { width: 100%; padding-top: 10px; line-height: 16px; }
.mem-lvl-2 p em { color: #be101a; font-weight: bold; }
.mem-lvl-2 span.MS_group_reserve_msg,
.mem-lvl-2 span.MS_group_dc_msg {
    color:#F26622;
}

/* ¸¶ÀÌÆäÀÌÁö »ó´Ü ¸Þ½ÃÁö ¹Ú½º */
.t-box-msg { padding: 10px 20px; border: 2px solid #F5F5F5; }
.t-box-msg strong { color: #dc0017; }

/*
========================================================================
°øÅë - ·¹ÀÌ¾î
========================================================================
*/
/*
========================================================================
°øÅë - ·¹¾Æ¿ô
========================================================================
*/
/* z-index */
#layerWrap { z-index: 1; }
/* layout */
#header,
#layerWrap,
#contentWrap,
#ftLink .link,
#footer { position: relative; margin-left: auto; margin-right: auto; }
#contentWrapper { position: relative; top:42px}
#contentWrap:after { content: ""; display: block; clear: both; }
#aside,
#content { position: relative; float: left; }
#content { width: 100%; }

/* »óÇ° ¹Ì¸®º¸±â ·¹ÀÌ¾î */
#detailpage { position: absolute; top: 100px; display: block; width: 640px; padding: 10px 10px 40px; border: 3px solid #93a4b3; background-color: #fff; }
#detailpage .loc { zoom: 1; overflow: hidden; }
#detailpage .loc span { float: right; width: auto; }
/*
#detailpage .loc span { float: right; width: auto; padding-left: 10px; background: url(/images/d3/modern_simple/common/bull_h5_arow_blue.gif) no-repeat 0 6px; }
*/
#detailpage .hd {
    margin-top: 10px; padding: 5px 10px 5px 30px; border: 1px solid #becbd7; background: #e0e6ec url(/images/d3/modern_simple/common/bull_h11_sqr_arow.gif) no-repeat 10px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#detailpage .hd h2 { font-weight: bold; font-size: 16px; color: #666; }
#detailpage .detail { zoom: 1; overflow: hidden; margin-top: 20px; padding-left: 300px; }
#detailpage .thumb-wrap,
#detailpage .txt-wrap { position: relative; float: left; }
#detailpage .close-layer { position: absolute; right: 0px; bottom: 0px; _bottom: -1px; }
/* thumb-wrap */
#detailpage .thumb-wrap { width: 300px; left: -300px; margin-right: -300px; text-align: center; }
#detailpage .thumb-wrap .btns { margin-top: 10px;  line-height: 0;}
#detailpage .thumb-wrap .btns a { margin-left: 5px; }
#detailpage .thumb-wrap .thumb img { width: 283px; }
/* txt-wrap */
#detailpage .txt-wrap { width: 100%; }
#detailpage .txt-wrap .ptit { font-weight: bold; font-size: 14px; color: #333; border-bottom:2px solid #ccc; }
#detailpage .txt-wrap .opt { margin-top: 5px; }
#detailpage .txt-wrap .opt li { padding: 3px 0; }
#detailpage .txt-wrap .opt li.s-price { color: #a00000; }
#detailpage .txt-wrap .f-btns { margin-top: 10px; padding-top: 10px; border-top: 1px solid #ccc;  line-height: 0; }
#detailpage .txt-wrap .f-btns a { margin-right: 5px; }
/* opt-spin */
#detailpage .opt-spin { display: inline-block; position: relative; width: 36px; height: 20px; }
#detailpage .opt-spin .txt-spin { width: 22px; height: 18px; padding-right: 2px padding-top: 2px; border: 1px solid #E7E7E7; font-size: 12px; text-align: right; }
#detailpage .opt-spin .btns { position:absolute; left: 35px; top:0px; width: 12px; height: 20px; }
#detailpage .opt-spin .btns img { overflow: hidden; float: left; text-indent: -777px; background: none; }
#detailpage .thumb-wrap .btns { margin-top: 10px;  line-height: 0;}
#detailpage .thumb-wrap .btns a { margin-left: 5px; }

/* °Ô½ÃÆÇ °øÅë - ÀÏ¹Ý, °Ö·¯¸®, ÄÁÅÙÃ÷¸µÅ©, ÀÚ·á½Ç, ¹Ì´ÏÈ¨ÇÇ, ¹æ¸í·Ï, µ¿¿µ»ó */
/* »ó´Ü */
.bbs-hd { padding: 0px 0 20px; border-top:1px solid #dfdfdf;}
.bbs-hd .link { text-align: center;  line-height: 0; }
.bbs-hd .link li { display: inline; }
.bbs-hd .link li a { padding: 0 8px; color: #9c9c9c; letter-spacing: -0.5px;}
.bbs-hd .link li.last a { background-image: none; }
/* Å¸ÀÌÆ² */
.bbs-tit { margin-bottom: 50px; margin-top: 70px; text-align: center; }
.bbs-tit .braket { padding: 0 15px; font-weight: bold; color: #cfcfcf; font-size: 14px; vertical-align: middle; }
.bbs-tit em { margin-left: 10px; font-size: 12px; color: #898989;}
/* °Ë»ö */
.bbs-sch { margin-top: 20px; margin-bottom : 10px; text-align: right; }
.bbs-sch label { margin-right: 10px; }
.bbs-sch .key-wrap {  line-height: 0; }
.bbs-sch .key-wrap,
.bbs-sch .keyword,
.bbs-sch img { vertical-align: middle; }
.bbs-sch .keyword { width: 125px; height: 14px; padding: 2px 0 0 2px; margin-right: 3px; line-height: 14px; border: 1px solid #F5F5F5; }
/* °Ô½ÃÆÇ ±Û¾²±â, ¸ñ·Ï ÀÌµ¿ ¸µÅ© */
.bbs-link {  line-height: 0; }
.bbs-link a { display: inline-block; padding: 0 5px; line-height: 14px;}
.bbs-link a.write { padding-left: 23px;  }
/* °Ô½ÃÆÇ ±Û¾²±â, ¸ñ·Ï ÀÌµ¿ ¸µÅ© */
.bbs-link a.none { background: url('');}
.bbs-link span { font-size:12px; color:#555; line-height:14px;}
/* °Ô½ÃÆÇ ÇÑÁÙ°øÁö */
.bbs-online-notice { margin-top: 10px; margin-bottom: -10px; padding: 7px 10px; color: #9d9d9d; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
/* °Ô½ÃÆÇ Å¸ÀÔ - ¸®½ºÆ® */
.bbs-table-list { margin-top: 5px; }
.bbs-table-list thead th,
.bbs-table-list tbody td  { padding: 6px 0;} 
.bbs-table-list thead th {height:25px; color: #9d9d9d; font-size: 12px;  border-top: 1px solid #000000; border-bottom: 1px solid #e5e5e5; }
.bbs-table-list tbody td {height:25px;border-bottom:1px solid #e5e5e5;}
/* °Ô½ÃÆÇ Å¸ÀÔ - º¸±â */
.bbs-table-view { margin-top: 10px; }
.bbs-table-view thead th,
.bbs-table-view tbody td  { padding: 6px 0;} 
.bbs-table-view thead th {height:25px; color: #9d9d9d;  font-size: 12px;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.bbs-table-view tbody td.line {height:25px; border-bottom:1px solid #e5e5e5;}
.bbs-table-view .btn-dwn { margin-top:15px;}

/* ¹Ì´ÏÈ¨ÇÇ, ¹æ¸í·Ï °Ô½Ã±Û ºä */
/* »ó´Ü */
.visit-vhd { margin-top: 10px; border-top: 1px solid #e5e5e5; }
.visit-vhd th,
.visit-vhd td { padding: 3px 0; border-bottom: 1px solid #e5e5e5; font-family: Dotum; } 
.visit-vhd .tb-left{ padding: 0 3px; }
.visit-vhd td .tb-no { color: #9c9c9c; }
.visit-vhd td .tb-ctrl,
.visit-vhd td .tb-ctrl a { font-size: 12px; color: #9c9c9c; }
/* ³»¿ë*/
.visit-vcont { background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom; }
.visit-vcont th,
.visit-vcont td { padding: 6px 0; border-bottom: 1px solid #e5e5e5;} 
.visit-vcont th { font-weight: normal; font-family: Dotum; color: #9d9d9d; }
.visit-vcont tr.no-line th,
.visit-vcont tr.no-line td { padding-bottom: 0; border-bottom: 0; }
.visit-vcont tr.dot-line th,
.visit-vcont tr.dot-line td { padding-top: 2px; border-bottom: 1px dotted #e5e5e5; }
.visit-vcont tr.info td .tb-left { padding-left: 0; color: #555;}
.visit-vcont .tb-left{ padding: 0 3px; }
.visit-vcont td .tb-cont { padding: 5px 0; min-height: 250px; _height: 250px; }
.visit-vcont td .tb-cont img { max-width: 100%; }
/* ÄÚ¸àÆ® */
.visit-vcmt th,
.visit-vcmt td { padding: 6px 0; vertical-align: top; border-bottom: 1px solid #e5e5e5; }
.visit-vcmt th { color: #c5c5c5; }
.visit-vcmt .tb-tit { font-weight: bold; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y right 0; }
.visit-vcmt td .tb-txt { min-height: 30px; _height: 30px; padding-left: 10px; color: #555; }
.visit-vcmt td .date,
.visit-vcmt td .ctrl { display: block; font-size: 12px; }
.visit-vcmt td .date { color: #555; }
.visit-vcmt td .ctrl { margin-top: 5px; }
.visit-vcmt td .ctrl a { margin-left: 2px; margin-right: 2px; color: #777; font-size: 12px; }
/* ÀÛ¼º */
.vist-vcmt-reg { margin-top: 10px; border-bottom: 1px solid #e5e5e5; }
.vist-vcmt-reg th,
.vist-vcmt-reg td ,#comment_reply_input th { padding: 6px 0;}
.vist-vcmt-reg th ,#comment_reply_input th { font-weight: normal; color: #9d9d9d; font-family: Dotum; }
.vist-vcmt-reg .tb-left ,#comment_reply_input .tb-left{ padding: 0 3px; }
.vist-vcmt-reg th .tb-left { padding-left: 10px; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 45%; }
/* °Ô½ÃÆÇ Å¸ÀÔ - ¾²±â */
.bbs-table-write { margin-top:10px;}
.bbs-table-write tbody th,
.bbs-table-write tbody td  { padding:6px 0; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#9d9d9d; font-weight:normal; font-size:12px;} 
/* °Ô½ÃÆÇ Å¸ÀÔ - ºñ¹Ð¹øÈ£Ã£±â */
.bbs-table-pwd { margin-top:105px;margin-bottom:90px}
.bbs-table-pwd table { width:260px; margin-left:auto; margin-right:auto;}
.bbs-table-pwd tbody th,
.bbs-table-pwd tbody td  { padding:6px 0;  border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#9d9d9d; font-weight:normal; font-size:12px;} 
/* °øÅëÀ¸·Î ¾²´Â°Å */
textarea { width:600px; height:47px; padding:2px; border:1px solid #F5F5F5;}        
.input-style { padding:2px; height:14px; line-height:14px; border:1px solid #F5F5F5;}

.cont-sub-des { position:relative;}
.cont-sub-des span { margin-right:15px; color:#555;}
.cont-sub-des span em { font-size:12px; color:#9c9c9c;}
.cont-sub-des .hit { position:absolute; top:15px; right:0;}
.cont-sub-des .hit span { margin-right:0;}

.comment-box { border-bottom:2px solid #e5e5e5;}
.bbs-table-view .comment-box td { padding-bottom:20px; border-top:1px solid #e5e5e5; vertical-align:top;}
.comment-box .com-name { margin-right:8px; padding:0 8px; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y 100% 0; font-weight:bold; color:#c5c5c5;}
.bbs-table-view td.com-wrt-box { border:0;}
.com-wrt-box label { padding-left:7px; color:#9d9d9d; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 50%;}
.com-wrt-box .input-style { margin:0 10px 0 7px; padding:2px; height:14px; line-height:14px; border:1px solid #F5F5F5;}
.com-wrt-box .wrt { margin-top:7px;}
.view-link { padding:12px 0;}

/* °Ô½ÃÆÇ È¸¿ø °Ô½Ã±Û °Ë»ö */
.search_id { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DADADA; display: block; padding: 3px; position: absolute; width: 90px; }

/* °³ÀÎÁ¤º¸º¸È£Á¤Ã¥ µ¿ÀÇ */
.new-privercy-contract { text-align: left; padding: 5px; }
.new-privercy-contract p { font-weight: bold; margin: 0; margin-bottom: 10px; margin-top: 20px; text-align: left; }
.privercy-contract-tap { position: relative; height:40px; }
.privercy-contract-tap ul { list-style: none; margin: 0; padding: 0; position: absolute; bottom: -1px; *bottom: -2px; }
.privercy-contract-tap li { border: 1px solid #ccc; border-right: none; background: #F4F4F4; float:left; display: inline-block; }
.privercy-contract-tap li a { display: block; padding: 10px 10px; text-decoration: none; }
.privercy-contract-tap li.end { border-right: 1px solid #ccc; }
.privercy-contract-tap li.sel { background: #FFFFFF; border-bottom: 1px solid #FFFFFF; }
.privercy-contract { clear: both; }
.privercy-contract textarea { clear: both; border: 1px solid #CCC; height: 60px; background: #FFFFFF; padding: 10px; width: 660px; }
.privercy-agree { margin: 10px 0; }
.privercy-agree label{ margin-right: 10px; }

/*
========================================================================
hot issue common class
========================================================================
*/
/* .item-wrap */
.item-wrap .item-hd {width:1250px;text-align: center; margin: 0 auto; margin: 0 0 40px 0; background: url() repeat-x 0 60%;white-space : nowrap; }
.item-wrap .nbg { background: none; text-align: center; margin: 0 auto;}
.item-wrap .item-info { zoom: 1; overflow: hidden; padding: 35px 0 10px; border-bottom: 1px solid #ddd; }
.item-wrap .item-info .item-total { float: left; padding-left: 20px;font-size: 12px; }
.item-wrap .item-info .item-order { float: right; padding-right: 10px; }
.item-wrap .item-info .item-order li { float: left; padding: 0 10px; background: url() no-repeat 100% 40%; }
.item-wrap .item-info .item-order li.nobg { background: none; }
.item-wrap .item-info .item-order li a { font-size: 12px; }
.item-wrap .item-cont { zoom: 1; overflow: hidden; margin-top: 50px; }
.item-wrap .item-cont:after { content: ""; display: block; clear: both; }
.item-wrap .item-cont .item-list {float:left; width: 283px; margin:14.5px;}
.item-wrap .item-cont .item-list .thumb img { width: 283px; height: 412px; }
.item-wrap .item-cont .item-list li { margin-top:5px; }
.item-wrap .item-cont .item-list .prd-price {  }
.item-wrap .item-page { margin-top: 0px; text-align: center; }
.item-wrap .item-page a { padding: 0 5px; }
.item-wrap .item-page a:hover,
.item-wrap .item-page a.now { color: #dc0017;  }
/* .navi */
.navi p { text-align: right; }
.esosub {font-family: 'Open Sans', sans-serif;text-align: center; font-size: 22px;font-weight:700;color:#1c1c1c;letter-spacing:0.5px;margin-top:60px;margin-bottom:50px}
.esosub_s {font-family: 'Open Sans', sans-serif;text-align: center; font-weight:700;color:#1c1c1c;letter-spacing:0.5px}
.esosub_s_l {font-family: 'Open Sans', sans-serif;text-align: center; font-weight:300;color:#1c1c1c;letter-spacing:0.5px}

.white_k {
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:'Nanum Gothic', verdana,Dotum, AppleGothic, Helvetica, sans-serif;
    font-size:11px;
    padding:10px 20px;
    text-decoration:none;
}
.white_k:hover {
    background-color:#fafafa;
}
.white_k:active {
    position:relative;
    top:1px;
}

.white_e {
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
    font-size:12px;
    letter-spacing:0.5px;
    font-weight:700;
    padding:10px 21px;
    text-decoration:none;
}
.white_e:hover {
    background-color:#fafafa;
}
.white_e:active {
    position:relative;
    top:1px;
}


.white_e_s {
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
        font-size:10px;
        letter-spacing:0.5px;
        font-weight:600;
    padding:3px 12px;
    text-decoration:none;
}
.white_e_s:hover {
    background-color:#f5f5f5;
}
.white_e_s:active {
    position:relative;
    top:1px;
}


.black_k {
    background-color:#333333;
    border:1px solid #1c1c1c;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Nanum Gothic', verdana,Dotum, AppleGothic, Helvetica, sans-serif;
    font-size:11px;
    padding:10px 20px;
    text-decoration:none;
}
.black_k:hover {
    background-color:#1c1c1c;
}
.black_k:active {
    position:relative;
    top:1px;
}

.black_e {
    background-color:#333333;
    border:1px solid #1c1c1c;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
    font-size:12px;
    letter-spacing:0.5px;
    font-weight:700;
    padding:10px 20px;
    text-decoration:none;
}
.black_e:hover {
    background-color:#1c1c1c;
}
.black_e:active {
    position:relative;
    top:1px;
}

.black_e_s {
    background-color:#333333;
    border:1px solid #1c1c1c;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
        font-size:10px;
        letter-spacing:0.5px;
        font-weight:600;
    padding:3px 12px;
    text-decoration:none;
}
.black_e_s:hover {
    background-color:#1c1c1c;
}
.black_e_s:active {
    position:relative;
    top:1px;
}




.green_k{
    background-color:#D40017;
    border:1px solid #D40017;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Nanum Gothic', verdana,Dotum, AppleGothic, Helvetica, sans-serif;
    font-size:11px;
    padding:10px 20px;

    text-decoration:none;
}
.green_k:hover {
    background-color:#D40017;
}
.green_k:active {
    position:relative;
    top:1px;
}


.green_e {
    background-color:#D40017;
    border:1px solid #D40017;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
    font-size:12px;
    letter-spacing:0.5px;
    font-weight:700;
    padding:10px 21px;
    text-decoration:none;
}
.green_e:hover {
    background-color:#D40017;
}
.green_e:active {
    position:relative;
    top:1px;
}
.green_e_s {
    background-color:#D40017;
    border:1px solid #D40017;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Open Sans', verdana,Dotum, AppleGothic, Helvetica, sans-serif; 
    font-size:10px;
        letter-spacing:0.5px;
        font-weight:600;
    padding:3px 12px;
    text-decoration:none;
}
.green_e_s:hover {
    background-color:#D40017;
}
.green_e_s:active {
    position:relative;
    top:1px;
}

