@charset "utf-8";

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
img, fieldset{border:none; outline:none;}
a{outline:none;}
table{border-collapse:collapse;}
ul, ol, li{list-style:none;}
address, em, optgroup{font-style:normal;}
li img, object ,img{vertical-align:middle;}
input, select, textarea, form img{vertical-align:middle;}
p{line-height:18px; text-align:justify;}

/* anchor */
a{color:#777777; text-decoration:none;}
a:hover, a:active, a:focus{color:#777777;}
html, body {margin:0; padding:0; width:100%; height:100%;}

.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}

.mr_none{margin-right:0 !important;}
.ml_none{margin-left:0 !important;}
.mb_none{margin-bottom:0 !important;}
.bg_none{background:none !important;}
.bd_none{border:none !important;}
.center{text-align:center !important; }
.right{text-align:right !important; }
.bold{font-weight:bold !important;}

.ver_top{vertical-align:top !important;}
.ver_txt_top{vertical-align:text-top;}

.align_right{text-align:right !important;}

.skip{text-indent:-5000px;}

body{
 font-family:'돋움',Dotum,sans-serif;
 line-height:1.25;
 font-size:70%;
 color:#777777;
}

body a{color:#777777;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}



.mb20{margin-bottom:20px;}
.mb10{margin-bottom:10px;}



.mr7{margin-right:7px;}