@charset "utf-8";

/* common */
body{margin:0;padding:0;font-family:'Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;text-align:left;font-size:0.750em; background:#fff;}
div,ul,ol,dl,p,td,th,input,textarea,select,a{font-family:'dotum',Helvetica,sans-serif;color:#666}
div,ul,ol,li,dl,dt,dd,p,input,textarea,select,h1,h2,h3,h4,em,address,fieldset,form,iframe,object{margin:0;padding:0}
img,fieldset,iframe{border:none}
iframe{display:block}
li{list-style-type:none}
table{clear:both;border-collapse:collapse}
em,address{font-style:normal}
#skip,.hide,legend,hr, .skip{display:none}
a, a:hover, a:active{text-decoration:none}
caption{width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}

/* 홈페이지 주컬러 교체*/
.select_btn {float:left;}

.menu .active a{color:#d71616; text-decoration:underline;}

/* login */
#login_wrap{width:501px; height:293px; margin:12% auto 0; background:url('../images/bg_login.gif') no-repeat;}
#login_wrap h1{padding:35px 0 0 25px; font-size:20px; color:#fff;}
.login_box{position:relative; overflow:hidden; width:345px; margin:48px auto 0;}
.login_box dl{float:left; width:220px;}
.login_box dl dt{position:relative; color:#a8a8a8;}
.login_box dl dd{height:35px; margin: 0 0 2px;}
.login_box dl dd input{width:208px; padding:8px 0 8px 10px; .padding:9px 0 9px 10px; border:1px solid #cdcdcd;}
.id_label{position:absolute; top:10px; .top:11px; left:10px; z-index:1;}
.pw_label{position:absolute; top:10px; .top:11px; left:10px; z-index:1;}
.btn_login{display:inline-block; width:117px; margin:0 0 0 5px; padding:24px 0 25px; text-align:center; font-size:16px; color:#fff; font-weight:bold; border:1px solid #696969; background:#848484; font-family: 'Roboto', sans-serif;}
#login_wrap .txt{margin:11px 0 0 79px; color:#6e6e6e; line-height:16px;}
#login_wrap .copyright{width:501px; text-align:center; margin:33px auto 0;}

/* wrap */
#wrap{min-width:1000px;}
#wrap .copyright{margin:20px 0 0 20px; color:#535353;}

/* header */
#header{position:relative; overflow:hidden; width:100%; height:59px; background:#333;}
#header h1{float:left; margin: 15px 0 0 20px;}
#header h1 a{font-size:24px; color:#404040; font-weight:normal; font-family: 'Roboto', sans-serif;}
#header ul{float:right; margin: 23px 10px 0 0;}
#header ul li{float:left;}
#header ul li a{display:inline-block; padding:0 15px; color:#9f9f9f;}
#header .txt{margin:0 10px;}
#header .last{background:url('../images/bg_line.gif') no-repeat left center}

/* mypage header */
#mypage_header{position:relative; overflow:hidden; width:100%; height:59px; background:#bc1222;}
#mypage_header h1{float:left; margin: 15px 0 0 20px;}
#mypage_header h1 a{font-size:24px; color:#404040; font-weight:normal; font-family: 'Roboto', sans-serif;}
#mypage_header ul{float:right; margin: 15px 10px 0 0;}
#mypage_header ul li{float:left;}
#mypage_header ul li a{display:inline-block; padding:7px 15px; color:#fff; border:1px solid #ce303f;}
#mypage_header .txt{margin:10px 10px 0 10px; color:#ffbfc5;}

/* container */
.container{position:relative; overflow:hidden; background:#fff;}
.mypage_container{position:relative; overflow:hidden; border-top:5px solid #333; background:#fff;}

/* menu */
.menu{float:left; width: 9.9%;min-width: 168px; min-height:500px; border-right:1px solid #e7e7e7; border-bottom:1px solid #dadada;}
.menu > ul > li > a{display:inline-block; width:93%; padding:16px 0 14px 7%; font-weight:bold; font-size:14px; color:#2e2e2e; border-top:1px solid #b1b1b1; border-bottom:1px solid #b1b1b1; background:#f2f2f2 url('../images/bul_arrow.gif') no-repeat 90% center;}
.menu > ul > li:first-child a{border-top:0px;}
.menu > ul > li > a.on{background:#f2f2f2 url('../images/bul_arrow_on.gif') no-repeat 90% center;}
.menu > ul > li > ul{display:none;}
.menu > ul > li > ul > li > a{display:inline-block; width:90%; padding:11px 0 8px 10%; font-weight:bold; font-size:12px; color:#636363; border-bottom:1px dotted #b1b1b1;}
.menu > ul > li > ul > li > ul > li > a{display:inline-block; width:90%; padding:11px 0 8px 10%; font-size:12px; color:#6c6c6c;}

/* content */
.content{float:left; min-height:640px;border-left:1px solid #cacaca; border-bottom:1px solid #dadada;}
.content h2{padding:11px 0 10px 12px; font-size:24px; font-family:'Malgun Gothic'; font-weight:bold; letter-spacing:0px; color:#323232;}
.section { padding:10px 20px 20px 20px; overflow:hidden;}

/* bbs_search */
.bbs_search{margin:5px 15px 5px 0; text-align:right;}
.bbs_search input[type="text"] {width:24%; border:1px solid #ddd;padding:5px 8px;}
.bbs_search select {width:10%; padding:4px 4px 4px 8px; .height:21px; border:1px solid #ddd;}

.btn_search{display:inline-block; width:28px; height:26px; margin:1px 0 0 -5px;border:1px solid #ddd; cursor:pointer; text-align:left; vertical-align:top; font-size:0px; background:url('../images/btn_search.png') 4px 4px no-repeat; }


/* bbs_list */
.bbs_list {width:100%; margin:20px 0 0 0; border-top:2px solid #666;}
.bbs_list th{ height:32px; padding:3px 0 3px 15px; text-align:center; border-bottom:1px solid #ddd; background:#f9f9f9;}
.bbs_list td{ height:32px; padding:3px 0 3px 15px; text-align:center; border-bottom:1px dotted #ccc;}
.bbs_list .sbj{padding:11px 0 10px 10px; text-align:left;}

/* bbs_write */
.bbs_write {width:100%; margin:20px 0 0 0; border-top:2px solid #666;}
.bbs_write th{ height:32px; padding:3px 0 3px 15px; text-align:left; border-bottom:1px solid #ddd; background:#f9f9f9;}
.bbs_write td{ height:32px; padding:3px 0 3px 15px; text-align:left; border-bottom:1px dotted #ccc;}
.bbs_write input[type="text"],.bbs_write input[type="password"], .bbs_write select {width:18%; border:1px solid #ccc; padding:5px 8px;}
.bbs_write input[type="file"] {width:18%; padding:4px 8px;}
.bbs_write select {padding:4px 4px 4px 8px; .height:21px; border:1px solid #ddd;}
.bbs_write textarea { width:90%; border:1px solid #ddd;padding:5px 8px;}
.bbs_write #sbj{width:75%;}
.bbs_write .cheditor-container{width:100% !important;}
.bbs_write table td select{width:120px; vertical-align:top;}
.bbs_write .type_category ul{margin:3px 0; border:1px solid #ddd; border-bottom:0px; background:#fafafa;}
.bbs_write .type_category li{padding:9px 0 7px 10px; line-height:15px; border-bottom:1px solid #ddd; vertical-align:top;}
.bbs_write .type_category li a{display:inline-block; margin:0 0 0 10px;vertical-align:top;}

/* bbs_view */
.bbs_view{width:100%; margin:33px 0 0; border-top:1px solid #dcdcdc;}
.bbs_view .sbj{padding:11px 0 10px 20px; border-bottom:1px solid #e3e3e3; background:#f8f8f8;}
.bbs_view th{padding:11px 0 10px 20px; text-align:left; border-bottom:1px solid #cecece;}
.bbs_view td{padding:11px 0 10px 0; text-align:left; border-bottom:1px solid #cecece;}
.bbs_view .cont{padding:30px 5%; text-align:left;}

/*member ~ */
.mem_seat_num_td input[type="text"] {width:10%; border:1px solid #b4b4b4;}
.mem_seat_num { margin-top:10px; width:100%; background:#eee; padding:10px; overflow:hidden;}
.mem_seat_num ul { float:left;}
.mem_seat_num ul li { display: inline; padding:5px 7px 3px; border:1px solid #ddd; font-size:11px; background:#fff;}
.mem_seat_num a { margin:0 0 0 10px;}

.add p { margin:0 0 3px 0}
.btn_01 { padding:7px 15px 4px 15px; color:#777; border:1px solid #ddd; font-size:11px; display:inline-block; background:url('../images/bg_btn03.gif') repeat-x;}

/* bbs_reply */
.bbs_reply{position:relative; overflow:hidden; margin:20px 0 0; border-top:1px solid #b2b2b2;}
.bbs_reply dt{float:left; width:5%; padding:11px 2% 10px 1%; border-bottom:1px solid #b2b2b2;}
.bbs_reply dd{float:left; width:91%; padding:11px 0 10px 1%; border-bottom:1px solid #b2b2b2;}
.bbs_reply .prev{background:url('../bbs/icon/reply_prev.gif') no-repeat 85% center;}
.bbs_reply .next{background:url('../bbs/icon/reply_next.gif') no-repeat 85% center;}

/* master_modify */
.master_modify{position:relative; overflow:hidden; margin:33px 0 0; border-top:1px solid #dcdcdc;}
.master_modify dt{float:left; width:12%; padding:12px 0 11px 1%; border-bottom:1px solid #dcdcdc; background:#f9f9f9;}
.master_modify dd{float:left; width:86%; padding:7px 0 7px 1%; border-bottom:1px solid #dcdcdc;}
.master_modify dd input{width:172px; padding:3px 0; border:1px solid #b4b4b4;}

/* paging */
.paging{margin-top:30px; text-align:center;}
.paging a.num{width:26px; height:26px; line-height:24px; text-align:center; }
.paging a.on{border:1px solid #333; background:#333; color:#fff;}
.paging a{display:inline-block; *display:inline; *zoom:1; border:1px solid #ddd; vertical-align:middle; border-left:none;}
.paging a:first-child{border-left:1px solid #ddd;}
.paging a img{vertical-align:baseline;}

/* 제품리스트 팝업 */
.product_tit { font-size:21px; font-family:'Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:normal; color:#333; padding:0 0 10px 0; border-bottom:1px dotted #666;}

/* margin */
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

/* select_del */
.border_none { border:none;}
.w100 {width:100%;}
.w90 {width:90%;}
.w80 {width:80%;}
.w70 {width:70%;}
.w50 {width:50%;}
.w40 {width:40%;}
.w30 {width:30%;}
.w20 {width:20%;}
.select_del{display:inline-block; margin:20px 0 0 20px; padding: 1px 0 1px 20px; color:#888; font-weight:bold; background: url('../bbs/icon/select_del.gif') no-repeat left center;}

/* bbs_btn */
.bbs_btn{float:right; margin:20px 20px 0 0; .margin:-13px 20px 0 0;}
.bbs_btn_normal{text-align: right; margin:20px 20px 0 0;}
.btn_a{display:inline-block; width:72px; padding:10px 0 9px; text-align:center; border:1px solid #333; font-weight:bold; color:#666; font-size:12px; background:url('../images/bg_btn02.gif') repeat-x;}
.btn_b{display:inline-block; width:72px; padding:10px 0 9px; text-align:center; border:1px solid #bbb; font-weight:bold; color:#666; font-size:12px; background:url('../images/bg_btn01.gif') repeat-x;}
.btn_c{display:inline-block; padding:7px 12px 5px 12px; text-align:center; border:1px solid #bbb; color:#666; font-size:11px; background:url('../images/bg_btn01.gif') repeat-x;}


/* 우편번호검색 */
.popwrap{position:relative; min-width: 360px; padding:20px;  background:#fff;}
.popwrap h1{font-size:20px; letter-spacing:-1px; color:#333; font-weight:bold;}
.popwrap .inner{margin:22px 0 0 0; padding:15px 30px; border:1px solid #ccc; font-size:11px;}
.popwrap .inner a{ padding:0px 12px 0px 12px; height:24px; line-height:28px; background:#444; color:#fff;}
.popwrap .inner p{margin:0 0 12px 0; color:#8a8a8a; line-height:20px;}
.popwrap .inner p em{color:#444;}
.popwrap input[type="text"]{width: 240px; padding: 5px 0 5px 5px; height:12px; line-height:12px; vertical-align:top; border:1px solid #d6d6d6; font-size:11px; font-family:Dotum; color:#8d8d8d; background:#f9f9f9;}
.popwrap .inner a{vertical-align:top;display: inline-block;margin: 0 0 0 -4px;}
.popwrap .txt{width:100%; margin:15px 0 0 0; padding:0 0 5px 0; font-size:11px; border-bottom:1px solid #717171;}
.popwrap li {font-size:12px; color:#777; line-height:26px;}
.popwrap span{position:absolute; top:0px; right: 20px;}
.popwrap span a{display:inline-block; width:52px; height:52px; font-size:0px; line-height:0px; background:url('../images/btn_login_close.gif') no-repeat;}


/* 작은 테이블 */
.bbs_list .s_table {width:100%; border:0; margin:0; padding:0;}
.bbs_list .s_table .inner_table {width:100%; border:0; margin:0; padding:0;}
.bbs_list .s_table .inner_table td {height:24px;}

/* product_category */
.product_category {overflow:hidden; margin-top:20px; padding-top:10px; border-top:2px solid #666;}
.product_category:after {content:"";display:block;clear:both;}
.product_category a:hover {text-decoration:underline;}
.product_category > li {float:left; width:45%; margin-left:20px;}
.product_category > li:first-child {margin-left:0px;}
.product_category > li h4 {line-height:27px; border-bottom:1px dotted #ddd; font-size:12px; font-weight:bold; }
.product_category > li > ul > li {padding:10px 0 0 0;}
.product_category > li > ul > li.first {padding-top:7px;}
.product_category > li > ul > li > a {color:#333; font-size:12px; display: inline-block;}
.product_category > li > ul > li ul {margin-top:10px;}
.product_category > li > ul > li li {line-height:27px; background:#f8f8f8; color:#666; padding-left:15px; border-top:1px solid #fff;}
.product_category > li > ul > li li:first-child{border-top:none;}
.product_category > li > ul > li li a {color:#666; font-size:12px}


