@charset "utf-8";
@import url("base.css");

/*전체레이아웃*/

html{height:100%;}
body{height:100%;}
.wrapper{width:100%; overflow:hidden;}

.wide_top_section{width:100%; background:#333; border-bottom:7px solid #f47920; height:74px;}

.top_section{position:relative; width:98%; padding:25px 0 30px 0;}

h1{font-size:14px; color:#fff; position:absolute; left:0; top:0; width:250px; text-align:center; height:74px; line-height:74px; text-align:center}


/*인풋스타일 공통*/
.inStyle{border:1px solid #d7d7d7; height:20px; line-height:20px; text-indent:6px; font-size:100%;}

/*검색부분 작은인풋*/
.inStyle_mini{height:15px; line-height:15px; text-indent:4px; border:1px solid #7b7b7b;}

/*셀렉트박스 공통*/
.selStyle{border:1px solid #d7d7d7; height:20px; line-height:20px; font-size:100%;}


/*인풋박스 사이즈조절*/

.w98{width:98px;}
.w51{width:51px;}
.w198{width:198px;}
.w134{width:134px;}
.w304{width:304px;}
.w250{width:250px;}
.w350{width:350px;}
.w550{width:550px;}


/*버튼스타일 공통*/
.btn_type{border:none; padding:0 15px; letter-spacing:-1px; color:#fff; height:22px; display:block; line-height:22px;}
.btn_type_def{background:#f5f5f6; padding:4px 8px; border:1px solid #d6d6d6;}
.btn_type_bold{background:#f5f5f6; padding:4px 12px; border:1px solid #d6d6d6; font-weight:bold;}


/*버튼 컬러*/
.btn_type_Red{background:#555; border:1px solid #666;}
.btn_type_Rbold{background:#598b09; padding:8px 20px; border:1px solid #598b09; font-weight:bold; color:#fff;}
.btn_type_Black{background:#888; border:1px solid #999;}




/*검색버튼*/
.btn_type_Search{border:1px solid #7b7b7b; height:15px; line-height:15px; vertical-align:top; font-weight:bold; color:#666666; background:#fff; display:inline-block; text-align:center;}







/*상단 유틸*/
.toputil{position:absolute; top:10px; right:0;}
.toputil li{float:left;}




/*카테고리 버튼*/
.category_bar{width:100%; overflow:hidden; padding-top:15px;}
.category_bar ul{float:right;}
.category_bar li{float:left;}
.category_bar li a{display:block; padding:10px 25px; text-align:center; background:#3d3d3d; margin-right:8px; color:#acabab; border:1px solid #222; border-bottom:none;}
.category_bar li a.on{background:#f47920; color:#fff;}


/*location_bar*/
.wide_location_bar{width:100%; background:#f1f1f1; border-bottom:1px solid #e6e8e2; overflow:hidden; padding-top:10px; padding-bottom:5px;}
.location_bar{width:99%;}
.location_bar .crm_search{float:left; color:#2a2927; padding-left:180px;}
.location_bar .lnb{float:right; color:#888;}



/*container*/

.wide_container{width:100%; height:100%; background:#fff; overflow:hidden;}
.container{width:99%;  height:100%; overflow:hidden;}

/*왼쪽메뉴*/
.leftmenu{width:170px; float:left; min-height:100%; background-color:#fff; margin-right:10px; padding-bottom:30px;}
.leftmenu h2{height:20px; background:#3b3b3b; color:#fff; font-size:1.3em; margin:8px 8px 0px 8px; padding:15px;}
.leftmenu h3{color:#fff; font-size:1.1em; padding-left:15px; margin-bottom:5px;}
.menu_list{background:#fff; padding:0px 3px 4px 3px; margin:0px 5px 5px 5px; min-height:90%;}
.menu_list h4{background:#6c6c6c; font-weight:bold; color:#fff; padding:8px;}
.menu_list ul li{background:#ffffff; font-weight:normal; color:#4d4d4d; border:#eaeaea solid 1px;}
.menu_list ul li a{padding:10px 8px; display:block;}
 


/*컨텐츠*/
.contents{padding-top:10px; height:100%; width:auto; overflow:hidden; padding-bottom:50px;}


.page_info{width:100%; color:#4d4d4d; line-height:15px; border-bottom:1px solid #aeaeae;}
.page_title{width:100%; display:inline-block; background:#8f8f8f; font-weight:bold; font-size:13px; color:#fff; padding:8px; border:1px solid #9ea0a2; border-bottom:none;}


/*디테일 검색부분*/

.detail_search{background:#fff; padding:8px; border:1px solid #aeaeae; border-top:none;}
table.search_table{border-top:1px solid #aeaeae; width:100%;}
table.search_table th{text-align:left; padding-left:8px; background:#dddddd; color:#4d4d4d;}
table.search_table td{padding-left:6px; padding-top:4px; padding-bottom:4px;}
table.search_table th, table.search_table td{border-bottom:1px solid #aeaeae;}



/*데이터 내용 테이블 공통*/
.data_table{width:100%; margin-top:10px; margin-bottom:20px;}
.data_table th{background:#c1c1c1; color:#fff; padding:8px 0;}
.data_table td{text-align:left; background:#fff;}
.data_table th, .data_table td{padding:4px; border-bottom:1px solid #aeaeae;}

.data_table td .thumb{height:40px; width:50px; border:1px solid #d1d1d1; text-align:center; letter-spacing:-1px; display:inline-block; line-height:40px;}
.data_table td.left{text-align:left; padding-left:8px;}
.comment_hit{font-weight:bold;}
.reply{display:inline-block; background:#e12337; color:#fff; font-size:95%; letter-spacing:-1px; padding:1px 3px; }


/*페이징부분*/
.paging {text-align:center;}
.paging .on{font-weight:bold;}
.paging .btn_page{background:#707070; color:#fff; font-weight:bold; display:inline-block; width:11px; height:14px; letter-spacing:-3px; text-align:left; font-size:10px; padding-left:3px;}


/*footer*/
.footer{background:#eaeaea; height:45px; padding-top:15px; padding-left:30px; color:#696969; border-top:1px solid #eaeaea;}

/*회원상세정보*/
.s_title{font-size:12px; font-weight:bold;}

.view_table{width:95%; margin-top:10px; margin-bottom:20px; border:1px solid #c9c9c9;}
.view_table tr{height:35px; }
.view_table th{background:#f9f9f9; color:#666; padding:8px 0; width:15%;}
.view_table td{text-align:left; background:#fff; padding-left:15px;}
.view_table th, .view_table td{padding:4px; border-bottom:1px solid #c9c9c9;}


/*로그인*/
.login{position:relative; overflow:hidden; width:400px; margin:0 auto; padding-top:160px;}
.login p{text-align:center; padding-bottom:20px;}
.login_table{text-align:center; border:3px solid #666; width:400px; background:#fff; margin-bottom: 20px;}
.login_table th{font-size:12px; font-weight:bold; text-align:right; }
.login_table th.idd {padding-top:30px;}
.login_table th.pww {padding-bottom:30px;}
.login_table td{padding:5px 0;}
.login_table td.id {padding-top:30px;}
.login_table td.pw {padding-bottom:30px;}
.login_table input{border:1px solid #d7d7d7; height:25px; line-height:25px; text-indent:6px; font-size:90%;  width:180px;}
.btn_type_login{background:#0b0b0b; border:1px solid #007ac3; width:88px; height:50px;}