<!-- index.html -->

<!doctype html>
<html ng-app="formApp">
<head>
	<title>Angular Forms</title>

	<!-- LOAD BOOTSTRAP CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<!-- LOAD JQUERY -->
        <!-- when building an angular app, you generally DO NOT want to use jquery -->
        <!-- we are breaking this rule here because jQuery's $.param will help us send data to our PHP script so that PHP can recognize it -->
        <!-- this is jQuery's only use. avoid it in Angular apps and if anyone has tips on how to send data to a PHP script w/o jQuery, please state it in the comments -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<!-- PROCESS FORM WITH AJAX (OLD) -->
	<!-- LOAD ANGULAR -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

	<!-- PROCESS FORM WITH AJAX (NEW) -->
	<script>

		// define angular module/app
		var formApp = angular.module('formApp', []);

		// create angular controller and pass in $scope and $http
		function formController($scope, $http) {
			$scope.formData = {};

			// process the form
		$scope.processForm = function() {
			$http({
		        method  : 'POST',
		        url     : 'process.php',
		        data    : $.param($scope.formData),  // pass in data as strings
		        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
		    })
		        .success(function(data) {
		            console.log(data);

		            if (!data.success) {
		            	// if not successful, bind errors to error variables
		                $scope.errorName = data.errors.name;
		                $scope.errorSuperhero = data.errors.superheroAlias;
		            } else {
		            	// if successful, bind success message to message
		                $scope.message = data.message;
		            }
		        });
		};


		}

	</script>

</head>
<body ng-controller="formController">
<div class="container">
	<div class="col-md-6 col-md-offset-3">

		<!-- PAGE TITLE -->
		<div class="page-header">
			<h1><span class="glyphicon glyphicon-tower"></span> Submitting Forms with Angular</h1>
		</div>

		<!-- SHOW ERROR/SUCCESS MESSAGES -->
		<div id="messages" ng-show="message">{{message}}</div>

		<!-- FORM -->
		<form ng-submit="processForm()">
			<!-- NAME -->
			<div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
				<label>Name</label>
				<input type="text" ng-model="formData.name" name="name" class="form-control" placeholder="Bruce Wayne">
				<span class="help-block" ng-show="errorName">{{errorName}}</span>
			</div>

			<!-- SUPERHERO NAME -->
			<div id="superhero-group" class="form-group" ng-class="{ 'has-error' : errorSuperhero }">
				<label>Superhero Alias</label>
				<input type="text" ng-model="formData.supreheroAlias" name="superheroAlias" class="form-control" placeholder="Caped Crusader">
				<span class="help-block" ng-show="errorSuperhero">{{errorSuperhero}}</span>
			</div>

			<!-- SUBMIT BUTTON -->
			<button type="submit" class="btn btn-success btn-lg btn-block">
				<span class="glyphicon glyphicon-flash"></span> Submit!
			</button>
		</form>

		<pre>
			{{formData}}
		</pre>

	</div>
</div>
</body>
</html>
