<?php
session_start();
if(!isset($_SESSION['user_id']) || !isset($_SESSION['user_name'])) {
        echo "<meta http-equiv='refresh' content='0;url=../shop2/login.html'>";
        exit;
    }

?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<title>orderProc2 tester</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="../shop2/app_root.js"></script>
<script type="text/javascript" src="../shop2/app_orderProc2.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
</head>

<body>


<div ng-controller="OrderProc2Controller" data-ng-init="init()" class="container">
	<input type="hidden" ng-init = "loginUserInfo.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="loginUserInfo.userId" value="<?php echo $_SESSION['user_id'] ?>" />

	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="http://myclair.kr/">myClair</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="http://myclair.kr/test/testPortal.html">test portal</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>


	

	

	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>test orderProc2</h2>
			<a href="http://myclair.kr/restful/config.php/">config.php</a>

		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>loginUserInfo</h2>
			{{loginUserInfo}}

		</div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>getOrderTempAll()</h2>

			<table class="table" ng-init="getOrderTempAll()">
				<caption>getOrderTempAll()</caption>
				<tr>
					<th>no</th>
					<th>userId</th>
					<th>price</th>
					<th>pictureName</th>
					<th>pictureType</th>
				</tr>
				<tr ng-repeat="tempOrderItem in orderTempAll">
					<td>{{tempOrderItem.no}}</td>
					<td>{{tempOrderItem.userId}}</td>
					<td>{{tempOrderItem.price}}</td>
					<td>{{tempOrderItem.pictureName}}</td>
					<td>{{tempOrderItem.pictureType}}</td>
				</tr>
			</table>


		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>getOrderTemp()</h2>
			<p>
				주문 옵션을 선택하고 next를 누르면 나오는 화면에서 사용하는 function
			</p>

			<button type="button" ng-click="getOrderTemp()" class="btn btn-default">조회test</button>
			<button type="button" class="btn btn-default">등록test</button>
			<button type="button" class="btn btn-default" ng-click="deleteOrderTemp()">delete test</button>
			<button type="button" class="btn btn-default" ng-click="updateOrderTemp()">update test</button>

			{{tempOrder}}
			<table class="table" ng-init="getOrderTemp()">
				<caption>getOrderTemp()</caption>
				<tr>
					<th>no</th>
					<th>userId</th>
					<th>price</th>
					<th>pictureName</th>
					<th>pictureType</th>
					<th>modify</th>
				</tr>
				<tr ng-repeat="tempOrderItem in orderTemp">
					<td>{{tempOrderItem.no}}</td>
					<td>{{tempOrderItem.userId}}</td>
					<td>{{tempOrderItem.price}}</td>
					<td>{{tempOrderItem.pictureName}}</td>
					<td><input type="text" ng-model="tempOrderItem.pictureType"></td>
					<td><button class="btn btn-default" ng-click="clickUpdate(tempOrderItem)">modify</button></td>
				</tr>
			</table>

		</div>
	</div>



	
</div>


</body>

</html>
