<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<title>orderProc2 tester</title>





<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="../shop2/app_root.js"></script>
<script type="text/javascript" src="../shop2/app_adminPage.js"></script>
<script type="text/javascript" src="../shop2/app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
<div class="container" ng-controller="OrderProc2Controller" >
	
</div>

<div class="container" ng-controller="adminController" data-ng-init="init()">



	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>test adminPage</h2>
			
		</div>

		<div class="col-md-12 column">
			<h2>getGoodsList()</h2>
			

		</div>

		
		<div class="col-md-6 column">
			<h3>
				file upload test
			</h3>
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
				</div>
				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					
					<input class="file_name" type="file" id="picUp" ng-file-select="onFileSelect($files, 'admin')" >
					<p class="help-block">
						Example block-level help text here.
					</p>
		

				</div>
		

				<div class="checkbox">
					 <label><input type="checkbox" /> Check me out</label>
				</div> <button type="submit" class="btn btn-default">Submit</button>
			</form>

			<div class="row">
		        <div class="col-sm-4"><progressbar value="bar.loaded"></progressbar></div>
		        <div class="col-sm-4"><progressbar class="progress-striped" value="bar.loaded" type="warning">{{bar.loaded}}%</progressbar></div>
		        <div class="col-sm-4"><progressbar class="progress-striped active" max="100" value="bar.loaded" type="danger"><i>{{bar.loaded}} / 100</i></progressbar></div>
			</div>
		

		</div>
		<div class="col-md-6 column">
			nello<br>
			{{uploadResult}}


			
		</div>
	</div>
</div>


</body>

</html>
