<!-- shop -->
                    <div class="shop">
                        <!-- photo -->
                        <div class="photo">
                            <img src="../images/main/pdt_img01.jpg" alt="" class="big" />
                            <ul>
                                <li><a href="#none" class="current"><img src="../images/main/pdt_thumb01.jpg" alt="" /></a></li>
                                <li><a href="#none"><img src="../images/main/pdt_thumb02.jpg" alt="" /></a></li>
                                <li><a href="#none"><img src="../images/main/pdt_thumb03.jpg" alt="" /></a></li>
                            </ul>
                        </div>
                        <!-- // photo -->
                        
                        <!-- pdt_info -->
                        <div class="pdt_info">
                            <h4>클레어공기청정기 TD1866</h4>
                            <dl class="pdt_txt">
                                <dt>정격전압</dt>
                                <dd>Input-AC 100-240V / 50/60hz Output-DC12V / 1.0A</dd>
                                <dt>성능 및 소비전력</dt>
                                <dd>1단-2.64w, 2단-3.96w,3단-5.28w</dd>
                                <dt>권장사용장소</dt>
                                <dd>30㎡ 이하 개인생활 및 사무공간</dd>
                                <dt>크기</dt>
                                <dd>236mm x 257.2mm x 311.7mm</dd>
                                <dt>무게</dt>
                                <dd>2.2kg</dd>
                                <dt>가격</dt>
                                <dd>178,000 won</dd>
                                <dt>수량</dt>
                                <dd class="number"><input id="amount01" type="text" value="" name="amount01" class="input-sm"></dd>
                            </dl>
                            <dl class="total">
                                <dt>요금합계</dt>
                                <dd>400,000 won</dd>
                            </dl>
                            <div class="btns">
                                <a href="#none" class="orange">바로구매</a>
                                <a href="#none" class="gray">장바구니</a>
                            </div>
                        </div>
                        <!-- // pdt_info -->
                    </div>
                    <!-- // shop -->
                    
                    <!-- shop -->
                    <div class="shop">
                        <!-- photo -->
                        <div class="photo">
                            <img src="../images/main/pdt_img02.jpg" alt="" class="big" />
                            <ul>
                                <li><a href="#none" class="current"><img src="../images/main/pdt_thumb01.jpg" alt="" /></a></li>
                                <li><a href="#none"><img src="../images/main/pdt_thumb02.jpg" alt="" /></a></li>
                                <li><a href="#none"><img src="../images/main/pdt_thumb03.jpg" alt="" /></a></li>
                            </ul>
                        </div>
                        <!-- // photo -->
                        
                        <!-- pdt_info -->
                        <div class="pdt_info">
                            <h4>클레어공기청정기 TD1866</h4>
                            <dl class="pdt_txt">
                                <dt>정격전압</dt>
                                <dd>Input-AC 100-240V / 50/60hz Output-DC12V / 1.0A</dd>
                                <dt>성능 및 소비전력</dt>
                                <dd>1단-2.64w, 2단-3.96w,3단-5.28w</dd>
                                <dt>권장사용장소</dt>
                                <dd>30㎡ 이하 개인생활 및 사무공간</dd>
                                <dt>크기</dt>
                                <dd>236mm x 257.2mm x 311.7mm</dd>
                                <dt>무게</dt>
                                <dd>2.2kg</dd>
                                <dt>가격</dt>
                                <dd>178,000 won</dd>
                                <dt>수량</dt>
                                <dd class="number"><input id="amount01" type="text" value="" name="amount01" class="input-sm"></dd>
                            </dl>
                            <dl class="total">
                                <dt>요금합계</dt>
                                <dd>400,000 won</dd>
                            </dl>
                            <div class="btns">
                                <a href="#none" class="orange">바로구매</a>
                                <a href="#none" class="gray">장바구니</a>
                            </div>
                        </div>
                        <!-- // pdt_info -->
                    </div>
                    <!-- // shop -->
                    


<!-- service -->
            <div class="service">
                <div class="inner">
                    <div class="box">
                        <h2>고객 서비스센터(AS문의)</h2>
                        <p><span>0</span><span>8</span><span>0</span>-<span>5</span><span>8</span><span>1</span>-<span>2</span><span>9</span><span>1</span><span>7</span></p>
                        <h3>구매정보</h3>
                        <ul>
                            <li>1인당 구매가능수량: 제한없음</li>
                            <li>택배사: 우체국택배</li>
                            <li>배송비: 무료배송 1개까지 묶음배송 가능</li>
                            <li>배송방식: 빠른배송</li>
                            <li>빠른배송 일일 마감시간: 매일 오후12시까지</li>
                            <li>출고이리 구매시부터 익일 순차발송 (주말, 공휴일 및 택배사 사정에 따라 지연될 수 있습니다 / 빠른 배송을 위해 발송마감 시간 후 취소를 하실 수 없습니다.)</li>
                        </ul>
                        <h3>안내사항</h3>
                        <ul>
                            <li>수령일을 포함하여 7일 이후 교환, 환불이 불가합니다.</li>
                            <li>고객 변심에 의한 환불의 경우 왕복 택배비 6,000원은 고객이 부담합니다.</li>
                            <li>상품의 개봉으로 또는 고객의 부주의로 인하여 상품가치 훼손시에는 교환, 반품이 불가합니다.</li>
                            <li>제품불량시 1년 무상 A/S를 보증해드리며 초기불량 및 사용중에 문제가 생기는 경우에는 국가에서 운영하는 중소기업 A/S센터에서 책임지고 처리해 드립니다.</li>
                            <li>전자제품 특성상 개봉후 교환/반품이 불가합니다,(불량제외)</li>
                            <li>도서, 산간지역은 배송비가 추가될 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // service -->