<?php
    session_start();
 
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta name="keywords" content="공기청정기, 나만의 공기청정기">
<title>마이클레어 디자인엿보기</title>


<link href="../css/bootstrap_custom.css" rel="stylesheet" />
<link href="../css/common.css" rel="stylesheet" />
<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/style_order.css" rel="stylesheet" />
<link href="../css/style_admin.css" rel="stylesheet" />
<link href="../css/style_mypage.css" rel="stylesheet" />


<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="./app_gallery.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<style>
    
</style>

<?php include_once("../anal/analyticstracking.php"); ?>
</head>



<body ng-controller="AccordionDemoCtrl">


    <input type="hidden" value="{{topMenuStyle.01['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.02['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.03['color'] = '#ff8500' }}">
    <input type="hidden" value="{{topMenuStyle.04['color'] = '' }}">


    <!-- wrap -->
    <div id="wrap">
        
        <? include "../inc/header.php" ?>
        
        <!-- container -->
        <div class="cont"  ng-controller="ModalDemoCtrl">

            <div>
                <img src="../images/gallery/gallery_01.png" class="img-responsive">
            </div>
                

            <div>
                    
                    <div class="mtr_intro">
                        <div class="txt_wrap">
                            <dl class="txt01">
                                <dt class="dt2">세상에 단 하나뿐인 나만의 공기청정기 마이클레어!</dt>
                                <dd class="dd2">
                                    내가 원하는 사진 또는 그림으로 만드는 세상에 단 하나뿐인<br/> 나만의 공기청정기 마이클레어!<br/> 뛰어난 공기청정 기능은 기본, 인테리어 소품으로도 활용 가능합니다.
                                </dd>
                            </dl>
                            <dl class="txt02">
                                <dt>특별한 추억을 담은<br/> 최고의 선물</dt>
                                <dd>
                                    가족, 친구, 애인에게<br/>
                                    특별한 추억을 담아<br />
                                    세상에 단 하나뿐인 디자인의<br />
                                    공기청정기를 선물하세요.
                                </dd>
                            </dl>

                            <dl class="txt03">
                                <dt>Design it your self<br/>
                                    
                                </dt>
                                <dd>
                                    나만의 디자인으로 탄생하는<br/>
                                    나만의 공기청정기<br/>
                                    마이클레어!

                                </dd>
                            </dl>
                            <dl class="txt04">
                                <dt>세계의 명화를 담은<br/> 공기청정기
                                </dt>
                                <dd>
                                    유명 명화를 공기청정기에 담아<br/>
                                    가까이에서 감상하세요<br/>


                                </dd>
                            </dl>
                        </div>
                    </div>
                

            </div>
            <!-- // div heigth 1700 -->

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img src="../images/gallery/gallery_51.jpg" class="img-responsive img-thumbnail">
                </div>
                <div class="col-md-6 col-lg-6">
                    <img src="../images/gallery/gallery_52.jpg" class="img-responsive img-thumbnail">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <img src="../images/gallery/gallery_61.jpg" class="img-responsive img-thumbnail">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <img src="../images/gallery/gallery_71.jpg" class="img-responsive img-thumbnail">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img src="../images/gallery/gallery_81.jpg" class="img-responsive img-thumbnail">
                </div>
                <div class="col-md-6 col-lg-6">
                    <img src="../images/gallery/gallery_82.jpg" class="img-responsive img-thumbnail">
                </div>
            </div>




            <!-- modlal -->
            <div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">클레어 디자인 엿보기</h3>
                    </div>
                    <div class="modal-body">
                        <img src="../images/gallery/gallery_04.png" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        
                    </div>
                </script>

                <!--
                <button class="btn btn-default" ng-click="open()">Open me!</button>
                <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
                <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
                -->
        </div>

        <!-- / modlal -->



        </div>
        <!-- // container -->


        

        <? include "../inc/footer.php" ?>

    </div>
    <!-- wrap -->


    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); 
    </script>
</body>
</html>