<?php
    session_start();
 
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" >
<meta name="keywords" content="공기청정기, 나만의 공기청정기">


<title>마이클레어 디자인엿보기</title>


<link href="../css/common.css" rel="stylesheet" />
<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/bootstrap_custom.css" rel="stylesheet" > 

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="./app_gallery.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<style>
    
</style>

<?php include_once("../anal/analyticstracking.php"); ?>
</head>



<body ng-controller="AccordionDemoCtrl">
    <input type="hidden" value="{{topMenuStyle.01['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.02['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.03['color'] = '#ff8500' }}">
    <input type="hidden" value="{{topMenuStyle.04['color'] = '' }}">


       
    <? include "../inc/header2.php" ?>
    
    <!--
    <div class="visible-xs page_title">
        디자인 엿보기
    </div>
    -->

    <div class="padding_bottom" >
        <img src="../images/gallery/gallery_01.jpg" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_11.png" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_12.png" class="img-responsive">
        <div ng-hide="true">
            세상에 단 하나뿐인 나만의 공기청정기 마이클레어!
            내가 원하는 사진 또는 그림으로 만드는 세상에 단 하나뿐인
            나만의 공기청정기 마이클레어!
            뛰어난 공기청정기 기능은 기본, 인테리어 소품으로도 활용가능합니다.
        </div>
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_21.png" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_22.png" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_31.png" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_32.png" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_41.png" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_42.png" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_51.jpg" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_52.jpg" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_61.jpg" class="img-responsive">
    </div>

    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_71.jpg" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_81.jpg" class="img-responsive">
    </div>
    <div class="visible-xs col-xs-12">
        <img src="../images/gallery/gallery_82.jpg" class="img-responsive">
    </div>




    <!-- pc에서만 보임 -->
    <div class="visible-md visible-lg" >
        <img src="../images/gallery/gallery_full.png" class="img-responsive">
    </div>




    <? include "../inc/footer.php" ?>


    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); 
    </script>
</body>
</html>
