<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<title>관리자 페이지</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

<link href="../css/style_krk.css" rel="stylesheet" />



<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="../shop2/app_root.js"></script>
<script type="text/javascript" src="../shop2/app_adminPage.js"></script>
<script type="text/javascript" src="../shop2/app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

</head>

<body>

<div class="container" ng-controller="adminController" data-ng-init="init()">

	<div ng-include="'../inc/header.html'" ></div>


	<div >
    	<script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">시안 수정 요청</h3>
            </div>
            <div class="modal-body">
            	<textarea rows="4" cols="50" ng-model="items.content"  class="form-control" ></textarea>

            </div>
            <div class="modal-footer">
            	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                
            </div>
    	</script>
    </div>

   

	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="col-xs-6">
				<button ng-click="callManageUser()" class="btn btn-default btn-sm">회원관리</button>
				<button ng-click="callManageGoods()" class="btn btn-default btn-sm">상품관리</button>
				<button ng-click="askModifyTable = 'show'" ng-dblclick="askModifyTable = 'hide'" class="btn btn-default btn-sm">수정요청 보기</button>
				<br>
			    회원 id:<input type="text" class="form-control" placeholder="검색어">
			    <button class="btn btn-default btn-sm">search</button><br>
			    <a href="http://myclair.kr/INIpay50/sample/INIcancel.html">주문취소</a>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-6 column">
			<table class="table table-condensed table-striped table-hover table-bordered table-scrollable" summary="" ng-init="getAskModifyList()" ng-show="askModifyTable == 'show'">
				<colgroup>
					<col>
					<col>
					<col>
					<col width="600px">
				</colgroup>
				<thead>
					<tr>
						<th>주문번호</th>
						<th>주문자</th>
						<th>요청일자</th>
						<th>내용</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ask in askModifyList">
						<td>{{ask.orderNo}}</td>
						<td>{{ask.userId}}</td>
						<td>{{ask.date}}</td>
						<td>{{ask.content}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 column">

		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-condensed table-striped table-hover table-bordered table-scrollable" summary="" ng-init="getOrderList()">
			<caption>고객 주문 내역 리스트 테이블</caption>
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col width="200px">
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th>주문번호</th>
					<th>주문일자</th>
					<th>주문자</th>
					<th>선택옵션</th>
					<th>결제 금액</th>
					<th>결제방법</th>
					<th>주문상태</th>
					<th>연락처</th>
					<th>주소</th>
					<th>사진 다운로드</th>
					<th>시안 업로드</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orderList">
					<td class="text-center">{{order.no}}</td>
					<td class="text-center">{{order.orderDate}}</td>
					<td class="text-center">{{order.userId}}<br>({{order.userName}})</td>
					<td>타입:{{order.pictureType}}<br>색상:{{order.color}}<br>수량:{{order.amount}}</td>
					<td class="text-center">{{order.price | number}}</td>
					<td>{{order.pmtMethod}}</td>
					<td>
					
					<select name="count" ng-model="order.orderStatus" ng-options="status.value as status.displayName for status in orderStatus" ng-change="changeOrderStatus(order)" class="form-control">
					</td>
					<td>{{order.hp}}</td>
					<td>{{order.orderAddr1}} {{order.orderAddr2}}<br>{{order.tid}}</td>
					<td>
						<!-- 사용자가 업로드한 사진 -->
						<img src="../images/userUploadPicture/{{order.userId}}/{{order.pictureAddr}}" width="100" height="100" alt="" id="view2" class="middle" />

					</td>
					<td>
						<!-- 시안 업로드한 사진 -->
						<img src="../images/common/preparing.png" width="100" height="100" class="img-rounded" ng-show="order.previewAddr == '' || order.previewAddr == null">


						<img src="../images/adminUploadPicture/{{order.userId}}/{{order.previewAddr}}" width="100" height="100" class="img-rounded" ng-show="order.previewAddr != null"><br>
						<input type="file" ng-file-select="onFileSelect($files, order)" />
						
					</td>

				</tr>
			</tbody>
		</table>


			</div>
		</div>
		
	</div>

	<? include "../inc/footer.php" ?>

</div>

	<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); 
    </script>

</body>

</html>
