<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />

<title>관리자</title>
<script>
    FileAPI = {
        jsUrl: '../js/FileAPI.min.js',
        flashUrl: '../js/FileAPI.flash.swf',
    }
</script>
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>

<script type="text/javascript" src="./app_adminPage.js"></script>



<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/style_order.css" rel="stylesheet" />
<link href="../css/style_admin.css" rel="stylesheet" />



</head>

<body>

<? include "../inc/header.php" ?>


<div class="cont" ng-controller="adminController">
	<div>
		<button ng-click="callManageUser()">회원관리</button>
		<button ng-click="callManageGoods()">상품관리</button><br>
	</div>
	<div>
		회원id:<input type="text" />

		<button>search</button><br>
		<table class="order_list_tbl" summary="" ng-init="getOrderList()">
			<caption>고객 주문 내역 리스트 테이블</caption>
			<colgroup>
				<col width="95">
				<col width="70">
				<col width="83">
				<col width="99">
				<col width="78">
				<col width="179">
				<col width="96">
				<col width="145">
				<col width="95">
				<col width="94">
			</colgroup>
			<thead>
				<tr>
					<th>주문번호</th>
					<th>주문일자</th>
					<th>주문시간</th>
					<th>주문자</th>
					<th>선택옵션</th>
					<th>결제 금액</th>
					<th>결제방법</th>
					<th>주문상태</th>
					<th>연락처</th>
					<th>주소</th>
					<th>사진 다운로드</th>
					<th>시안 업로드</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orderList">
					<td>{{order.no}}</td>
					<td>{{order.orderDate}}</td>
					<td>{{order.orderTime}}</td>
					<td>{{order.userId}}({{order.userName}})</td>
					<td>타입:{{order.pictureType}}<br>색상:{{order.color}}<br>수량:{{order.amount}}</td>
					<td>{{order.price}}</td>
					<td>{{order.pmtMethod}}</td>
					<td>
					
					<select name="count" ng-model="order.orderStatus" ng-options="status.value as status.displayName for status in orderStatus" ng-change="changeOrderStatus(order)" class="form-control">
					</td>
					<td>{{order.hp}}</td>
					<td>{{order.orderAddr1}} {{order.orderAddr2}}</td>
					<td>
						<img src="../images/userUploadPicture/{{order.userId}}/{{order.pictureAddr}}" width="100" height="100" alt="" id="view2" class="middle" />

					</td>
					<td>
						<img src="../images/adminUploadPicture/{{order.userId}}/{{order.previewAddr}}" width="100" height="100" class="img-rounded"><br>
						<input type="file" ng-file-select="onFileSelect($files, order)" >
						"../images/adminUploadPicture/{{order.userId}}/{{order.previewAddr}}"
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
</div>

<? include "../inc/footer.php" ?>

</body>

</html>



