<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?
session_start();

?>
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" >
<title>마이클레어</title>

<!-- Latest compiled and minified JavaScript -->


<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>
<script type="text/javascript" src="./app_orderProc2.js"></script>
<script type="text/javascript" src="./app_login.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/bootstrap_custom.css" rel="stylesheet" >
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.touchspin.js"></script>
<script type="text/javascript" src="../js/respond.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style>


</style>

<?php include_once("../anal/analyticstracking.php"); ?>
</head>
<body ng-controller="LoginController as login">

    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <? include "../inc/header2.php" ?>
        <!-- // header -->
        

        <div class="container-fluid">
            <div class="container nello" ng-show="idPwInd=='closeBoth'" style="width:auto;max-width:450px;">
                <p class="title" style="padding-left:10px">Login</p>
                <p class="contents" style="padding-left:10px">"회원가입을 하셔야 본 서비스를 이용하실 수 있습니다."</p>
            </div>

            <div class="bootcont hello" ng-show="idPwInd=='closeBoth'" style="width:auto;max-width:450px;padding-left:10px;padding-right:10px;">
                <form class="form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="text" ng-model="loginInfo.mem_id" class="form-control" id="exampleInputEmail2" placeholder="아이디" >
                    </div>
                    
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" ng-model="loginInfo.mem_pass" class="form-control" id="exampleInputPassword2" placeholder="패스워드" >
                    </div>
                    
                    <div class="form-group">
                        <button ng-click="test()" class="btn btn-block loginButton">로그인</button>
                    </div>
                    <div class="loginBtnBox">
                        <div class="icon1" ng-click="idPwInd='id'">
                            <a href="javascript:void(0);"><img src="../images/buttons/04_id.jpg"></a>
                        </div>
                        <div  class="icon2" ng-click="idPwInd='pass'">
                            <a href="javascript:void(0);"><img src="../images/buttons/04_pw.jpg"></a>
                        </div>
                        <div  class="icon3">
                           <a href="../regist/regist3.html"><img src="../images/buttons/04_join.jpg"></a>
                        </div>
                    </div>
                    <div>
                        <!--
                        <a href="../regist/regist2.html">회원가입</a>
                        -->
                    </div>
                </form>
            
                


            </div>
            <!-- end of container -->

            <!-- 아이디 찾기 -->
                <div class="find_id_bg" ng-show="idPwInd =='id'">
                	<div class="find_id_title">
                    	
                    </div>
                    <div class="find_id_inner">
                        <dl class="find_id_dl1">
                            <dt>이 름</dt>
                            <dd><input id="" ng-model="findIdInfo.name" name="" type="text"></dd>
                        </dl>
                        <dl class="find_id_dl2">
                            <dt>이메일</dt>
                            <dd><input id="" ng-model="findIdInfo.email" name="" type="text"></dd>
                        </dl>
                        <a class="btn_ok" ng-click="findId()" href="javascript:void(0);">확인</a>
                        <a class="btn_cancel" ng-click="idPwInd='closeBoth'" href="javascript:void(0);">취소</a>
                    </div>
                </div>
                <!-- 아이디 찾기 end -->
                <!-- 비밀번호 찾기 -->
                <div class="find_pw_bg" ng-show="idPwInd=='pass'">
                    <div class="find_id_title_pw">
                    	
                    </div>
                    <div class="find_pw_inner">
                        <dl class="find_pw_dl1">
                            <dt>아이디</dt>
                            <dd><input id="" ng-model="findPasswordInfo.id" name="" type="text"></dd>
                        </dl>
                        <dl class="find_pw_dl2">
                            <dt>이메일</dt>
                            <dd><input id="" ng-model="findPasswordInfo.email" name="" type="text"></dd>
                        </dl>
                        <a class="btn_ok" ng-click="findPassword()" href="javascript:void(0);">확인</a>
                        <a class="btn_cancel" ng-click="idPwInd='closeBoth'" href="javascript:void(0);">취소</a>
                    </div>
                </div>
                <!-- 비밀번호 찾기 end -->


        </div>
        <!-- /end of cont -->

        
    </div>
    <!-- wrap -->
    
    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); 
    </script>
</body>
</html>