<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />

<title>사용자 관리</title>


<script>
    FileAPI = {
        jsUrl: '../js/FileAPI.min.js',
        flashUrl: '../js/FileAPI.flash.swf',
    }
</script>
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>
<script type="text/javascript" src="./app_adminPage.js"></script>
<script type="text/javascript" src="./app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link href="../css/style_krk.css" rel="stylesheet" />

</head>

<body>

<div class="container" ng-controller="adminController" data-ng-init="init()">
	<div>
		<button ng-click="callManageGoods()">상품관리</button><br>
	</div>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
	  			<a class="navbar-brand" href="/"><img src="../images/common/logo.png" alt="Your Logo" height="100%"></a>
	    	</div><!-- end of navbar-header -->
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav navbar-left">
			        
			        <li><a href="#">마이클레어란?</a></li>
			        <li><a href="#">클레어 기술 알아보기</a></li>
			        <li><a href="#">마이클레어 디자인 엿보기</a></li>
			        <li><a href="#">마이클레어 주문하기</a></li>
			        
			    </ul>

			    <ul class="nav navbar-nav navbar-right">
			        <li><button type="button" onclick="location.href = '../shop2/myPage.php';" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-user"></span>마이페이지</button></li>
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
		    	</ul>
   			</div><!-- /.navbar-collapse -->
		</div><!-- end of container -->
	</div><!-- end of nav bar -->



	<div>
		회원id:<input type="text" />

		<button>search</button><br>
		<table class="table" ng-init="getUserList()">
			<tr>
				<th>no</th>
				<th>id</th>
				<th>이름</th>
				<th>전화번호</th>
				<th>이메일</th>
				<th>주소</th>
				<th>수정</th>
				
			</tr>
			<tr ng-repeat="order in userList">
				<td>{{order.mem_no}}</td>
				<td>{{order.mem_id}}</td>
				<td>{{order.kmem_name1}}</td>
				<td>{{order.hp}}</td>
				<td>
					<div ng-show="manageUserPageOption.editable == false">{{order.email}}</div>
					<div ng-show="manageUserPageOption.editable == true"><input type="text" ng-model="order.email"></div>
				</td>
				<td class="text-left">
					<div ng-show="manageUserPageOption.editable == false">{{order.addr1}} {{order.addr2}}</div>
					<div ng-show="manageUserPageOption.editable == true">
						<input type="text" ng-model="order.addr1">
						<input type="text" ng-model="order.addr2">
					</div>
					
				</td>
				<td><button ng-click="toggleEditMode(order.mem_no)">수정</button></td>
				

			</tr>
		</table>
	</div>
	
</div>

<? include "../inc/footer.php" ?>

</body>

</html>



