<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />

<title>관리자</title>

<script>
    FileAPI = {
        jsUrl: '../js/FileAPI.min.js',
        flashUrl: '../js/FileAPI.flash.swf',
    }
</script>
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>
<script type="text/javascript" src="./app_adminPage.js"></script>
<script type="text/javascript" src="./app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/style_order.css" rel="stylesheet" />
<link href="../css/style_admin.css" rel="stylesheet" />



</head>

<body>

<? include "../inc/header.php" ?>


<div class="container" ng-controller="adminController">
	<div>
		<button ng-click="callManageUser()">회원관리</button>
		

	</div>
	<div>
		상품명:<input type="text" />

		<button>search</button><br><button ng-click="statusAddGoods = show">상품추가</button>
		<table class="table" ng-init="getGoodsList()">
			<tr>
				<th>no</th>
				<th>가격</th>
				<th>상품명</th>
				<th>bu</th>
			</tr>
			<tr ng-repeat="order in goodsList">
				<td>{{order.sang_no}}</td>
				<td>{{order.dprice}}</td>
				<td>{{order.sang_name}}</td>
				<td><button ng-click="deleteGoodsItem(order.sang_no)">삭제</button></td>
				

			</tr>
		</table>



		<table class="table" ng-hide="statusAddGoods == 'hide'">
			<tr>
				<th>no</th>
				<th>가격</th>
				<th>상품명</th>
				<th></th>
			</tr>
			<tr>
				<td><button ng-click="statusAddGoods = 'hide'">닫기</button></td>
				<td><input type="text" ng-model="goodsItem.dprice" /></td>
				<td><input type="text" ng-model="goodsItem.sang_name" /></td>
				<td><button ng-click="addGoods()">추가</button></td>
				

			</tr>
		</table>
	</div>

	<div id="div_selectGoods">
		<label>상품 선택</label>
		<div>
			<select ng-model="tempValue.sang_no" ng-change="updateSelectedGoods(tempValue.sang_no)" ng-options="goods.sang_name for goods in goodsList" />
			<select></select>

		</div>

	</div>
	<br>
	
</div> <!-- Container -->

<? include "../inc/footer.php" ?>

</body>

</html>



