
<?php
    session_start();
    


?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" >


<title>주문 하기</title>
<script>
    FileAPI = {
        jsUrl: '../js/FileAPI.min.js',
        flashUrl: '../js/FileAPI.flash.swf',
    }

</script>
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>
<script type="text/javascript" src="./app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/style_order.css" rel="stylesheet" />

<link href="../css/bootstrap_custom.css" rel="stylesheet" >
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.touchspin.js"></script>
<script type="text/javascript" src="../js/respond.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<style>

.top_wrap{ height:111px; }

.blank_page{
    margin: 70px 0px 0px 0px;
    min-width:1100px;
    height:300px;
    background:url("../images/main/preparing3.jpg") no-repeat;
    background-size: 620px 200px;
    background-position: center;
}
.form-group {
	min-height:50px;
	clear:both;
	
}
.form-group > div,.form-group > label  {
	padding-bottom:19px
}
</style>

<!-- Facebook Conversion Code for 2.myclair.kr 주문하기 페이지 -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6021398258507', {'value':'0.00','currency':'KRW'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021398258507&amp;cd[value]=0.00&amp;cd[currency]=KRW&amp;noscript=1" /></noscript>
</head>

<body ng-controller="OrderProc2Controller">
<?php include_once("../anal/analyticstracking.php"); ?>

<? include "../inc/header2.php" ?>

<div id="wrap">
    
    <input type="hidden" value="{{topMenuStyle.01['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.02['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.03['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.04['color'] = '#ff8500' }}">
    <input type="hidden" ng-init = "loginUserInfo.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="loginUserInfo.userId" value="<?php echo $_SESSION['user_id'] ?>" />

    <input type="hidden" ng-init = "cartItem.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="cartItem.userId" value="<?php echo $_SESSION['user_id'] ?>" />

    <input type="hidden" ng-init = "tempOrder.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="tempOrder.userId" value="<?php echo $_SESSION['user_id'] ?>" />
        
    <input type="hidden" ng-model="cartItem.price">


    <div class="bootcont" ng-hide="pagePointer != 1" data-ng-init="init()">
        
        <div style="border:1px solid #ddd; padding:10px;">
            <div class="description" style="width:100%;margin-top:10px;">
                <span style="font-size:25px;">상품안내/옵션 선택</span><br/><br/>
            </div>
            
            <div class="option" style="width:100%;">
            <span class="pic_popup">
                
            </span>

            <form action="#" class="opt_select_frm col-sm-12" method="post" style="width:100%;height:auto;display:block;">

                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="control-label col-sm-3 text-right" style="">판매가격</label>
                        <div class="col-sm-9"  style="">
				            <p class="form-control-static" style="margin-top:-20px;">
				            <span class="orign_price" style="padding-left:0"> 208,000원</span>
                            <span class="arrow"> --></span>
                            <span class="selling_price">{{dpGoods.dprice | number:0}}원(오픈특가)</span></p>
				        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 text-right" style="">색상선택</label>
                        <div class="col-sm-9" style="">
                            <div class="row">
    				            <div class="col-sm-6 col-xs-6 text-center">
                                    <img alt="" src="../img/order/color_green.png" style="width:100%">
                                </div>
                                <div class="col-sm-6 col-xs-6 text-center">
                                    <img alt="" src="../img/order/color_orange.png" style="width:100%">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6 text-center">
                                    <input type="radio" id="radio_green" ng-model="tempOrder.color" value="green">
                                    <label for="radio_green">그린</label>
                                </div>
                                <div class="col-sm-6 col-xs-6 text-center">
                                    <input type="radio" id="radio_orange" ng-model="tempOrder.color" value="orange">
                                    <label for="radio_orange">오렌지</label>
                                </div>
                            </div>
				        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3 text-right ">타입(TYPE)</label>
                        <div class="col-sm-9" style="">
                            <div class="row">
				                <div class="col-sm-4 col-xs-4 text-center">
                                    <img alt="" src="../img/order/place_opt1.png" style="width:100%">
                                </div>
                                <div class="col-sm-4 col-xs-4 text-center">
                                    <img alt="" src="../img/order/place_opt3.jpg" style="width:100%">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-4 text-center">
                                    <input type="radio" id="radio_a" ng-model="tempOrder.pictureType" value="picture">
                                    <label for="radio_a">사진형</label>
                                </div>
                                <div class="col-sm-4 col-xs-4 text-center">
                                    <input type="radio" id="radio_c" ng-model="tempOrder.pictureType" value="logo">
                                    <label for="radio_c">로고형</label>
                                </div>
                            </div>
				        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3 text-right ">수량선택</label>
                        <div class="col-sm-9">
				            <div class="num_select">
                                    <select name="count" ng-model="tempOrder.amount" ng-change="tempOrder.totalPrice = tempOrder.amount * tempOrder.price" class="num_select_box">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    
                                </div>
				          </div>
                    </div>
                </div>


                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label col-sm-3 text-right ">사진올리기</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="tempOrder.pictureName" class="file" style="margin:0" name="file_info" ng-disabled="true">
                            <div class="file_upload">
                                    <input type="file" id="file_upload" name="file_upload" ng-file-select="onFileSelect($files)">
                                </div>
                          </div>
                    </div>
                            
                    <div style="border:1px solid #ddd;margin-bottom:10px;width:100%">
                        <img style="width:100%" src="../images/userUploadPicture/{{loginUserInfo.userId}}/{{tempOrder.pictureName}}" ng-show="tempOrder.pictureName!=''" alt="" id="view2" class="selected_image" />
                        <img style="width:100%" src="../images/main/pleaseUploadPicture.jpg" ng-show="tempOrder.pictureName ==''" alt="" id="view2" class="selected_image"  />
                    </div>
                    
                    <progressbar class="progress-striped" value="bar.loaded" type="warning" style="width:100%"></progressbar>
                                
                </div>

                </form>

                <div class="warning" style="width:100%;clear:both;margin-top:40px;margin-left:0">
                * 주문 및 결제 완료 2일 후 마이페이지에서 시안확정을 눌러주셔야 제작이 시작됩니다.<br/>
                * 시안확정과 동시에 주문제작이 들어가는 상품으로 시안확정 시점부터 제품발송까지 3~5일(국/공휴일 제외)이 소요됩니다.<br/>
                * 주문제작상품으로 시안확정을 눌러주신 시점부터 초기불량을 제외한 단순변심 반품 및 환불이 <span ng-click="test_order()">불가합니다</span>.
                

                </div>
                <!-- /warning -->

                <div class="warning_check" style="clear:both;width:100%;">
                    <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="tempOrder.agree"> 상단 주의사항을 읽고, 이에 동의합니다.
                    </label>
                  </div>

                </div>
                <!-- /warning -->

                </div>
                <!-- /option -->
        
        </div>

        
        <div class="step_btn_area">
            <div class="step_btns">
                <ul>
                    <li class="one_button" ng-click="next_option()">주문하기</li>
                </ul>
            </div>
        </div>
    </div>

		
       


	<div class="bootcont" ng-hide="pagePointer != 2">

        <div class="discount_section" style="width:100%;max-width:1000px;">
                <h2>주문확인</h2>
         		<table class="order_chk_tbl" summary="" style="width:100%;max-width:1000px">
                    <caption>주문확인 테이블</caption>
                    <colgroup>
                        <col width="126">
                        <col width="200">
                        <col width="132">
                        <col width="149">
                        <col width="135">
                        <col width="84">
                        <col width="216">
                    </colgroup>
                    <tr>
                        <th>업로드 사진</th>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>상품금액</th>
                        <th>배송비</th>
                    </tr>
                    <tr class="success">
                        <td><img src="../images/userUploadPicture/{{loginUserInfo.userId}}/{{tempOrder.pictureName}}" width="100" height="100" alt="..." class="img-rounded">

                        </td>
                        <td>
                            MC-BF2025<br>
                            ·옵션선택:색상({{tempOrder.color=="green"?"그린":"오렌지"}})  <br/>
                            타입({{tempOrder.pictureType=="picture"?"사진형":"로고형"}})
                        </td>
                        <td>{{tempOrder.amount}}개</td>
                        <td>{{tempOrder.totalPrice | number:0}}원</td>
                        <td>0원</td>
                    </tr>
                </table>

                
            <!-- 할인 및 최종결제금액 -->
            <div class="discount_section2" style="width:100%;max-width:1000px;">
                <h2>할인 및 최종결제금액</h2>
                
                <table class="pay_tbl2" summary="" style="width:100%;max-width:1000px">
                    <caption>할인 및 최종결제금액 테이블</caption>
                    <colgroup>
                        <col width="20%">
                        <col width="50%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <th class="visible-sm visible-md visible-lg">상품/주문쿠폰</th>
                        <td><input class="input_cupon" name="" type="text" style="margin-top:10px;" placeholder="이곳에 쿠폰번호를 입력하세요."><a class="grey_btn_bg" style="margin-top:10px;" >쿠폰적용</a></td>
                     
                        <td class="orange_bg">
                            <dl style="width:100%">
                                <dt style="width:30%">총 상품금액</dt>
                                <dd style="width:70%">{{tempOrder.totalPrice | number:0}}원</dd>
                            </dl>
                            <dl style="width:100%">
                                <dt>배송비</dt>
                                <dd>0원</dd>
                            </dl>
                            <dl style="width:100%">
                                <dt>할인금액</dt>
                                <dd>0원</dd>
                            </dl>
                            <dl style="margin-top:10px; background: #e77800; padding: 10px 0px 10px 0px;">
                                <dt>결제금액</dt>
                                <dd>{{tempOrder.totalPrice | number:0}}원</dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 할인 및 최종결제금액 end -->

		</div>
        <div class="step_btn_area">
            <div class="step_btns">
                <ul>
                    <li class="two_button" ng-click="pagePointer = 1">이전 단계</li>
                    <li class="two_button" ng-click="callOrderPage()">다음 단계</li>

                </ul>
            </div>
        </div>
	</div>
</div>


<? include "../inc/footer.php" ?>



<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script> <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); </script>
</body>

</html>
