
<?php
    session_start();
    


?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />

<title>주문 하기</title>
<script>
    FileAPI = {
        jsUrl: '../js/FileAPI.min.js',
        flashUrl: '../js/FileAPI.flash.swf',
    }

</script>
<script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

<script type="text/javascript" src="./app_root.js"></script>
<script type="text/javascript" src="./app_orderProc2.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../css/style_order.css" rel="stylesheet" />



<style>

.top_wrap{ height:111px; }

.blank_page{
    margin: 70px 0px 0px 0px;
    min-width:1100px;
    height:300px;
    background:url("../images/main/preparing3.jpg") no-repeat;
    background-size: 620px 200px;
    background-position: center;
}

</style>

<!-- Facebook Conversion Code for 2.myclair.kr 주문하기 페이지 -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6021398258507', {'value':'0.00','currency':'KRW'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021398258507&amp;cd[value]=0.00&amp;cd[currency]=KRW&amp;noscript=1" /></noscript>
</head>

<body>
<?php include_once("../anal/analyticstracking.php"); ?>

<div id="wrap" ng-controller="OrderProc2Controller" >
    
    <input type="hidden" value="{{topMenuStyle.01['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.02['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.03['color'] = '' }}">
    <input type="hidden" value="{{topMenuStyle.04['color'] = '#ff8500' }}">



    <? include "../inc/header.php" ?>
    

    <div class="cont" data-ng-init="init()">
        <input type="hidden" ng-init = "loginUserInfo.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="loginUserInfo.userId" value="<?php echo $_SESSION['user_id'] ?>" />

        <input type="hidden" ng-init = "cartItem.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="cartItem.userId" value="<?php echo $_SESSION['user_id'] ?>" />

        <input type="hidden" ng-init = "tempOrder.userId = '<?php echo $_SESSION['user_id']?>'" ng-model="tempOrder.userId" value="<?php echo $_SESSION['user_id'] ?>" />
        
        <input type="hidden" ng-model="cartItem.price">

    <div class="row clearfix" ng-hide="pagePointer != 1">
        <div class="guide_01">
            <img src="../images/main/04_process01.jpg" style="width:1097px; text-align:center" />
        </div>        
        <div class="order_desc">

            <div class="description">
                <span style="font-size:25px;">상품안내/옵션 선택</span><br/><br/>
            </div>
            

            
            <div class="option">
            <span class="pic_popup">
                
            </span>

            <form action="#" class="opt_select_frm" method="post">
                    <fieldset>
                        <legend>옵션선택</legend>
                        <div class="opt_select_pic_bg">
                            
                            <div class="opt_select_pic">
                                <img src="../images/userUploadPicture/{{loginUserInfo.userId}}/{{tempOrder.pictureName}}" ng-show="tempOrder.pictureName!=''" alt="" id="view2" width="299" height="299" class="selected_image" style="max-width: 100%; height: auto;" />
                                <img src="../images/main/pleaseUploadPicture.jpg" ng-show="tempOrder.pictureName ==''" alt="" id="view2" width="299" height="299" class="selected_image"  />
                            </div>
                            
                            <progressbar class="progress-striped progress_option" value="bar.loaded" type="warning"></progressbar>
                            
                        </div>
                        <div class="opt_select_area">

                            
                            <div class="color_select_area1">
                                판매가격<span class="orign_price"> 208,000원</span>
                                <span class="arrow"> --></span>
                                <span class="selling_price">{{dpGoods.dprice | number:0}}원(오픈특가)</span>
                            </div >
                            <!-- 색상선택 -->
                            <div class="color_select_area">
                                <div class="color_select_ttl">
                                    색상선택
                                </div>
                                <div class="color_opt1">
                                    <div class="color_pic">
                                        <img alt="" src="../img/order/color_green.png" style="width:130px; height:115px;">
                                    </div>
                                    <div class="color_select">
                                        <input type="radio" id="radio_green" ng-model="tempOrder.color" value="green">
                                        <label for="radio_green">그린</label>
                                    </div>
                                    
                                </div>

                                <div class="color_opt2">
                                    <div class="color_pic">
                                        <img alt="" src="../img/order/color_orange.png" style="width:130px; height:115px;">
                                    </div>
                                    <div class="color_select">
                                        
                                        <input type="radio" id="radio_orange" ng-model="tempOrder.color" value="orange">
                                        <label for="radio_orange">오렌지</label>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- 색상선택 end -->
                            
                            <div class="color_select_area1">
                                사진올리기        
                                <input type="text" ng-model="tempOrder.pictureName" class="file" name="file_info" ng-disabled="true">
                                <div class="file_upload">
                                    <input type="file" id="file_upload" name="file_upload" ng-file-select="onFileSelect($files)">
                                </div>
                            </div >

                            
                            

                            <!-- 사진위치선택 -->
                            <div class="place_select_area">
                                <div class="place_select_ttl">
                                    타입(TYPE)
                                </div>
                                <div class="place_opt1">
                                    <div class="place_pic">
                                        <img alt="" src="../img/order/place_opt1.png">
                                    </div>
                                    <div class="place_select">
                                        <input type="radio" id="radio_a" ng-model="tempOrder.pictureType" value="picture">
                                        <label for="radio_a">사진형</label>
                        
                                    </div>
                                </div>

                                <div class="place_opt3">
                                    <div class="place_pic">
                                        <img alt="" src="../img/order/place_opt3.jpg">
                                    </div>
                                    <div class="place_select">
                                        <input type="radio" id="radio_c" ng-model="tempOrder.pictureType" value="logo">
                                        <label for="radio_c">로고형</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 사진위치선택 end -->
                            <!-- 수량선택 -->
                            <div class="num_select_area">
                                <div class="num_select_ttl">
                                    수량선택
                                </div>
                                <div class="num_select">
                                    <select name="count" ng-model="tempOrder.amount" ng-change="tempOrder.totalPrice = tempOrder.amount * tempOrder.price" class="num_select_box">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <!-- 수량선택 end -->
                        </div>
                    </fieldset>
                </form>

                <div class="warning">
                * 주문 및 결제 완료 2일 후 마이페이지에서 시안확정을 눌러주셔야 제작이 시작됩니다.<br/>
                * 시안확정과 동시에 주문제작이 들어가는 상품으로 시안확정 시점부터 제품발송까지 3~5일(국/공휴일 제외)이 소요됩니다.<br/>
                * 주문제작상품으로 시안확정을 눌러주신 시점부터 초기불량을 제외한 단순변심 반품 및 환불이 <span ng-click="test_order()">불가합니다</span>.
                

                </div>
                <!-- /warning -->

                <div class="warning_check">
                    <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="tempOrder.agree"> 상단 주의사항을 읽고, 이에 동의합니다.
                    </label>
                  </div>

                </div>
                <!-- /warning -->

                </div>
                <!-- /option -->
        
        </div>

        
        <div class="step_btn_area">
            <div class="step_btns">
                <ul>
                    <li class="one_button" ng-click="next_option()">주문하기</li>
                </ul>
            </div>
        </div>
    </div>

		
       


	<div class="row clearfix" ng-hide="pagePointer != 2">
		<div class="guide_01">
            <img src="../images/main/04_process02.jpg" style="width:1097px; text-align:center" /> 
        </div>
        <div class="discount_section">
                <h2>주문확인</h2>
         		<table class="order_chk_tbl" summary="">
                    <caption>주문확인 테이블</caption>
                    <colgroup>
                        <col width="126">
                        <col width="200">
                        <col width="132">
                        <col width="149">
                        <col width="135">
                        <col width="84">
                        <col width="216">
                    </colgroup>
                    <tr>
                        <th>업로드 사진</th>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>상품금액</th>
                        <th>배송비</th>
                    </tr>
                    <tr class="success">
                        <td><img src="../images/userUploadPicture/{{loginUserInfo.userId}}/{{tempOrder.pictureName}}" width="100" height="100" alt="..." class="img-rounded">

                        </td>
                        <td>
                            MC-BF2025<br>
                            ·옵션선택:색상({{tempOrder.color=="green"?"그린":"오렌지"}})  <br/>
                            타입({{tempOrder.pictureType=="picture"?"사진형":"로고형"}})
                        </td>
                        <td>{{tempOrder.amount}}개</td>
                        <td>{{tempOrder.totalPrice | number:0}}원</td>
                        <td>0원</td>
                    </tr>
                </table>

                
            <!-- 할인 및 최종결제금액 -->
            <div class="discount_section2">
                <h2>할인 및 최종결제금액</h2>
                <table class="pay_tbl2" summary="">
                    <caption>할인 및 최종결제금액 테이블</caption>
                    <colgroup>
                        <col width="120">
                        <col width="676">
                        <col width="86">
                        <col width="215">
                    </colgroup>
                    <tr>
                        <th>상품/주문쿠폰</th>
                        <td><input class="input_cupon" name="" type="text"  placeholder="이곳에 쿠폰번호를 입력하세요."><a class="grey_btn_bg" >쿠폰적용</a></td>
                        <td class="orange_bg">
                            <dl>
                                <dt>총 상품금액</dt>
                                <dd>{{tempOrder.totalPrice | number:0}}원</dd>
                            </dl>
                            <dl>
                                <dt>배송비</dt>
                                <dd>0원</dd>
                            </dl>
                            <dl>
                                <dt>할인금액</dt>
                                <dd>0원</dd>
                            </dl>
                            <dl style="margin-top:10px; background: #e77800; padding: 10px 0px 10px 0px;">
                                <dt>결제금액</dt>
                                <dd>{{tempOrder.totalPrice | number:0}}원</dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 할인 및 최종결제금액 end -->

		</div>
        <div class="step_btn_area">
            <div class="step_btns">
                <ul>
                    <li class="two_button" ng-click="pagePointer = 1">이전 단계</li>
                    <li class="two_button" ng-click="callOrderPage()">다음 단계</li>

                </ul>
            </div>
        </div>
	</div>
</div>


<? include "../inc/footer.php" ?>

<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script> <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "c05970264893c8"; wcs_do(); </script>
</body>

</html>
