<?
session_start();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="userList" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
<title>사용자 조회</title>
<link rel="stylesheet" type="text/css" href="../css/common.css" />
<link rel="stylesheet" media="screen and (min-width:1024px) and (max-width:1440px)" type="text/css" href="../css/notebook.css" /> <!-- mediaquery -->
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.touchspin.js"></script>
<script type="text/javascript" src="../js/respond.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="./app_userList.js"></script>
</head>
<body ng-controller="UserListController as userList">
    <!-- wrap -->
    <div>

    </div>
    <div id="wrap">
        
        <? include "../inc/header.php" ?>
        
        <div class="container">
            <div class="service">
                <div class="inner">
                    <div class="box">
            

                        <button ng-click="getUserList()">user list</button>
                        
                        <div ng-init="getUserList()" >
                            총 {{userList.length}}명의 사용자가 있습니다.
                            <table>
                                <th>id</th>
                                <th>이름</th>
                                <th>hp</th>
                                <th>주소</th>
                                <th>e-mail</th>
                                <th>성별</th>
                                <th>생년월일</th>
                                <tr ng-repeat="user in userList">
                                    <td>{{user.mem_id}}</td>
                                    <td>{{user.kmem_name1}}</td>
                                    <td>{{user.hp}}</td>
                                    <td>{{user.addr1}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.sex}}</td>
                                    <td>{{user.birth}}</td>
                                </tr>
                            </table>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>


        
        
        <div class="footer">
            <p>상호명:(주)에이티앤에스그룹 통신사업자등록번호: 제 2014- 서울서초- 0014 호  사업자등록번호: 220-86-46491 주소: 서울특별시 서초구 반포대로 8 (서초동, 삼흥빌딩 5층)</p>
            <p>개인정보책임자: 강한나 TEL: 080-581-2917  FAX: 02-581-2919</p>
            <p class="copyright">Copyright(C) design creative Allright reserved.</p>
        </div>
        
    </div>
    <!-- wrap -->
    
</body>
</html>
