@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, figure, header, nav, section, article, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body, input, select {
  font:12px dotum, Arial, AppleGothic, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
table, td, th {
  vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote {
  quotes: "" "";
}
a img {
  border: none;
}

a {text-decoration:none}

ul, ol {
    list-style:none;
}


/* Hides from IE5-mac \*/
* html { height: 1%; }
/* End hide from IE5-mac */
