@charset "utf-8";

	.order_proc1 { background:url("../img/order/order_proc1.jpg"); height:165px; margin-top:30px; width:1102px; }
	.order_proc2 { background:url("../img/order/order_proc2.jpg"); height:165px; margin-top:30px; width:1102px; }
	.order_proc3 { background:url("../img/order/order_proc3.jpg"); height:165px; margin-top:30px; width:1102px; }
	.order_proc4 { background:url("../img/order/order_proc4.jpg"); height:165px; margin-top:30px; width:1102px; }
	.order_proc5 { background:url("../img/order/order_proc5.jpg"); height:165px; margin-top:30px; width:1102px; }

form.pic_up_frm { display:inline-block; height:435px; margin-top:110px; width:1102px; }
	.up_pic_bg { float:left; height:435px; width:493px; }
	.pic_bg { background:url("../img/order/pic_bg.jpg"); float:left; height:434px; margin-left:59px; width:434px; }
	.pic_bg img { float:left; margin:15px 0 0 14px; }

	.pic_up_warn_area { float:left; height:435px; width:609px; }
	.pic_up_warn { background:url("../img/order/pic_upload_warn.jpg"); float:right; height:281px; width:577px; }
	.pic_up_btns { float:right; height:50px; margin-top:104px; width:577px; }
	.pic_up_btns input.file_name { background:#eee; border:none; float:left; height:45px; line-height:45px; margin:2px 0 0 5px; padding:0; width:316px; }
	.pic_up_btns ul { float:right; height:50px; width:242px; }
	.pic_up_btns ul li { float:left; height:50px; margin-left:4px; position:relative; width:117px; }
	.pic_up_btns ul li input { display:none; }
	.pic_up_btns ul li label.find_pic { background:url("../img/order/btn_pic_upload.jpg"); cursor:pointer; display:block; height:50px; width:117px; }
	.pic_up_btns ul li label.submit_pic { background:url("../img/order/btn_regist.jpg"); cursor:pointer; display:block; height:50px; width:117px; }

	.step_btn_area { border-top:2px solid #d2d2d2; height:83px; margin-top:45px; }
	.step_btns { height:84px; margin:0 auto; width:443px; }
	.step_btns ul { float:left; height:48px; margin-top:18px; width:443px; }
	.step_btns ul li { float:left; margin-left:23px; }
	.step_btns ul li a { display:block; height:48px; overflow:hidden; text-indent:-20000px; width:187px; }
	.step_btns ul li.btn_next_step a { background:url("../img/order/btn_next_step.jpg"); }
	.step_btns ul li.btn_cancel a { background:url("../img/order/btn_cancel.jpg"); }
	.step_btns ul li.btn_prev_step a { background:url("../img/order/btn_prev_step.jpg"); }
	.step_btns ul li.btn_pay a { background:url("../img/order/btn_pay.jpg"); }
	.step_btns ul li.btn_mypage a { background:url("../img/order/btn_mypage.jpg"); }
	.step_btns ul li.btn_home a { background:url("../img/order/btn_home.jpg"); }
	.step_btns ul li.btn_cart a { background:url("../img/order/btn_cart.jpg"); }

	.cart_pop { background:url("../img/order/cart_pop.jpg"); height:145px; left:749px; position:absolute; top:-20px; width:330px; }
	.cart_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.cart_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.cart_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

form.opt_select_frm { display:inline-block; height:469px; margin-top:93px; width:1102px; }
	.opt_select_pic_bg { float:left; height:469px; width:525px; }
	.opt_select_pic { background:url("../img/order/pic_bg.jpg"); float:left; height:434px; margin:26px 0 0 59px; width:434px; }
	.opt_select_pic img { float:left; margin:15px 0 0 14px; }

	.opt_select_area { float:left; height:469px; width:577px; }
	.opt_select_ttl_area { float:left; height:49px; width:577px; }
	.opt_select_ttl_area h2 { background:url("../img/order/opt_select_ttl.gif"); float:left; height:33px; margin-left:24px; overflow:hidden; text-indent:-20000px; width:148px; }

	.color_select_area { float:left; height:158px; width:577px; }
	.color_select_ttl { float:left; height:158px; width:253px; }
	.color_select_ttl h3 { background:url("../img/order/opt_ttls.gif") 0 0; float:left; height:22px; margin:50px 0 0 21px; overflow:hidden; text-indent:-20000px; width:84px; }

	.color_opt1 { float:left; height:158px; width:140px; }
	.color_opt2 { float:left; height:158px; margin-left:44px; width:140px; }

	.color_pic { height:125px; width:140px; }
	.color_pic label { background-color:#fff; display:inline-block; }
	.color_select { height:33px; width:140px; }
	.color_select input { float:left; height:13px; margin:11px 0 0 64px; padding:0; width:13px; }
	.color_select input[type="radio"]:checked + label { background-color:#ececec; display:inline-block; }

	.place_select_area { float:left; height:144px; margin-top:18px; width:577px; }
	.place_select_ttl { float:left; height:144px; width:184px; }
	.place_select_ttl h3 { background:url("../img/order/opt_ttls.gif") 0 -22px; float:left; height:22px; margin:49px 0 0 21px; overflow:hidden; text-indent:-20000px; width:114px; }

	.place_opt1,
	.place_opt2,
	.place_opt3 { float:left; height:144px; width:131px; }

	.place_pic { height:122px; width:140px; }
	.place_pic label { background-color:#fff; display:inline-block; }
	.place_select { height:22px; width:140px; }
	.place_select input { float:left; height:13px; margin:4px 0 0 59px; padding:0; width:13px; }
	.place_select input[type="radio"]:checked + label { background-color:#ececec; display:inline-block; }

	.num_select_area { float:left; height:40px; margin-top:60px; width:577px; }
	.num_select_ttl { float:left; height:40px; width:224px; }
	.num_select_ttl h3 { background:url("../img/order/opt_ttls.gif") 0 -44px; float:left; height:22px; margin:5px 0 0 21px; overflow:hidden; text-indent:-20000px; width:83px; }

	.num_select { border:1px solid #7e7e7e; float:left; height:38px; width:350px; }
	.num_select input { background:#fff; border:none; float:left; height:36px; line-height:38px; width:329px; }
	.num_select_btn { float:left; height:34px; margin-top:2px; width:15px; }
	.num_select_btn span { cursor:pointer; display:block; height:15px; overflow:hidden; text-indent:-20000px; width:15px; }
	.num_plus_btn { background:url("../img/order/opt_num_btn.gif") 0 0; }
	.num_minus_btn { background:url("../img/order/opt_num_btn.gif") 0 -15px; margin-top:4px; }

table.order_chk_tbl { border-top:2px solid #3d424e; margin-top:82px; width:1098px; }
table.order_chk_tbl tr th { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; color:#747474; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.order_chk_tbl tr td { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; font-size:12px; font-weight:bold; height:167px; text-align:center; }

	.btn_del { background:url("../img/order/btn_del.jpg"); display:inline-block; height:23px; overflow:hidden; text-indent:-20000px; width:71px; }

table.order_chk_tbl tr td select { border:2px solid #878484; height:18px; width:113px; }

	.num_chk { display:inline-block; height:38px; position:relative; width:53px; }
	.num_chk input { background:#fff; border:2px solid #918f8c; color:#878484; height:18px; left:0; overflow:hidden; padding:0; position:absolute; text-align:center; text-indent:-20000px; top:8px; width:25px; }
	.num_chk span { background:#fff; border:1px solid #918f8c; color:#878484; cursor:pointer; height:13px; position:absolute; right:0; width:13px; }
	.num_chk span.num_chk_plus { top:0; }
	.num_chk span.num_chk_minus { top:23px; }

	.b_f7f7f7 { background:#f7f7f7; }

table.pay_tbl1 { border-top:2px solid #3d424e; float:left; margin-top:87px; width:1098px; }
table.pay_tbl1 tr th { border-bottom:1px solid #dbd9d9; color:#747474; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.pay_tbl1 tr td { border-bottom:1px solid #dbd9d9; font-size:12px; font-weight:bold; line-height:18px; padding:20px 0; text-align:center; }
table.pay_tbl1 tr td a { color:#747474; }
table.pay_tbl1 tr td p span { color:#747474; font-size:11px; font-weight:normal; }

	.discount_section { float:left; margin-top:50px; width:1098px; }
	.discount_section h2 { color:#000006; font-size:16px; font-weight:bold; }

table.pay_tbl2 { border-top:2px solid #3d424e; margin-top:10px; width:1098px; }
table.pay_tbl2 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.pay_tbl2 tr td { border-bottom:1px solid #dbd9d9; font-size:12px; font-weight:bold; line-height:18px; padding:10px 0; }
table.pay_tbl2 tr td input { border:1px solid #d4d4d4; height:17px; line-height:17px; padding:0; width:98px; }
table.pay_tbl2 tr td input,
table.pay_tbl2 tr td p,
table.pay_tbl2 tr td a { float:left; margin:0 -5px 0 10px; }
table.pay_tbl2 tr td a.grey_btn_bg { background:url("../img/common/grey_btn_bg.gif"); border:1px solid #828590; color:#fff; display:block; height:17px; line-height:17px; text-align:center; width:54px; }
table.pay_tbl2 tr td.orange_bg { background:#fe8422; color:#fff; }
table.pay_tbl2 tr td dl { float:left; width:301px; }
table.pay_tbl2 tr td dl dt,
table.pay_tbl2 tr td dl dd { color:#fff; float:left; }
table.pay_tbl2 tr td dl dt { text-align:left; padding-left:10px; width:76px; }
table.pay_tbl2 tr td dl dd { text-align:right; padding-right:10px; width:205px; }

	.destination_section { float:left; margin-top:50px; width:1098px; }
	.destination_section h2 { color:#000006; float:left; font-size:16px; font-weight:bold; }
	.orange_txt_l { color:#fe8422; float:left; height:20px; line-height:20px; margin-left:10px; }
	.orange_txt_r { color:#fe8422; float:right; height:20px; line-height:20px; }

table.pay_tbl3 { border-top:2px solid #3d424e; float:left; margin-top:10px; width:1098px; }
table.pay_tbl3 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.pay_tbl3 tr td { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; font-size:12px; font-weight:bold; line-height:18px; padding:12px 0; position:relative; }
table.pay_tbl3 tr td p.pay_tbl3_radios { height:20px; width:100%; }
table.pay_tbl3 tr td p.pay_tbl3_radios input,
table.pay_tbl3 tr td p.pay_tbl3_radios label { float:left; }
table.pay_tbl3 tr td p.pay_tbl3_radios input { height:13px; margin:4px 5px 0 14px; padding:0; width:13px; }
table.pay_tbl3 tr td p.pay_tbl3_radios label { line-height:20px; }

	.pay_tbl3_info { background:#fcfcfc; border:1px solid #edeeef; color:#565960; display:inline-block; margin:5px 0 0 14px; padding:15px; position:relative; width:609px; }
	.pay_tbl3_info dl { float:left; padding:3px 0; }
	.pay_tbl3_info dl dt,
	.pay_tbl3_info dl dd { float:left; }
	.pay_tbl3_info dl dt { width:112px; }
	.pay_tbl3_info dl dd { width:471px; }

	.pay_tbl3_info a.btn_modify { background:url("../img/common/btn_modify.gif"); bottom:10px; height:20px; overflow:hidden; position:absolute; text-indent:-20000px; right:10px; width:32px; }

	.pay_tbl3_memo { color:#595959; line-height:18px; padding-left:10px; }

	.pay_tbl3_txtarea { border:1px solid #cbcbcb; height:54px; margin-left:10px; padding:5px; width:637px; }

	.orderer_info_ttl { border-bottom:1px solid #dbd9d9; height:37px; left:0; margin:0; padding:0 15px; position:absolute; top:0; width:276px; }
	.orderer_info_ttl p { color:#20232c; float:left; line-height:37px; }
	.orderer_info_ttl a.btn_change_info { background:url("../img/common/btn_change_info.gif"); float:right; height:20px; margin-top:8px; overflow:hidden; text-indent:-20000px; width:72px; }

	.orderer_info { color:#595959; float:left; font-size:11px; left:0; margin:0; padding:15px; position:absolute; top:38px; width:306px; }
	.orderer_name { color:#95969e; font-size:14px; font-weight:bold; }

	.payment_section { float:left; margin-top:50px; width:1098px; }
	.payment_section h2 { color:#000006; float:left; font-size:16px; font-weight:bold; }

table.pay_tbl4 { border-top:2px solid #3d424e; float:left; margin-top:10px; width:1098px; }
table.pay_tbl4 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.pay_tbl4 tr td { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; font-size:12px; font-weight:bold; line-height:18px; padding:12px 0; position:relative; }
table.pay_tbl4 tr td p.pay_tbl4_radios { height:20px; width:100%; }
table.pay_tbl4 tr td p.pay_tbl4_radios input,
table.pay_tbl4 tr td p.pay_tbl4_radios label { float:left; }
table.pay_tbl4 tr td p.pay_tbl4_radios input { height:13px; margin:4px 5px 0 14px; padding:0; width:13px; }
table.pay_tbl4 tr td p.pay_tbl4_radios label { line-height:20px; }
table.pay_tbl4 tr td p.pay_tbl4_radios select { float:left; margin-left:10px; }

	.guide_txt { color:#565960; font-size:11px; padding-left:10px; }

table.pay_tbl4 tr td p.chk_all,
table.pay_tbl4 tr td p.chk_each { float:left; height:20px; line-height:20px; margin-left:10px; width:100%; }

table.pay_tbl4 tr td p.chk_all input,
table.pay_tbl4 tr td p.chk_each input { float:left; height:13px; padding:0; width:13px; }

table.pay_tbl4 tr td p.chk_each { background:url("../img/common/seg_bg.gif") 0 4px no-repeat; color:#888; font-size:11px; font-weight:normal; }

table.pay_tbl4 tr td p.chk_all input { margin:4px 5px 0 0; }
table.pay_tbl4 tr td p.chk_each input { margin:4px 5px 0 17px; }
table.pay_tbl4 tr td p.chk_each a { color:#888; margin-left:5px; text-decoration:underline; }

	.order_done { background:url("../img/order/order_done.jpg"); height:100px; margin:100px auto 35px; width:290px; }

table.pay_tbl5 { border-top:2px solid #3d424e; float:left; margin-top:10px; width:1098px; }
table.pay_tbl5 tr th { background:#f7f7f7; border-bottom:1px solid #dbd9d9; color:#000006; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.pay_tbl5 tr td { border-bottom:1px solid #dbd9d9; border-right:1px solid #dbd9d9; font-size:12px; font-weight:bold; line-height:18px; padding:12px 0; position:relative; text-align:center; }

	.chk_details { color:#080808; display:inline-block; font-size:24px; font-weight:bold; height:30px; line-height:30px; margin:100px 0 60px 0; text-align:center; width:100%; }