@charset "utf-8";

	@font-face {
		font-family: 'Nanum Gothic';
		font-style: normal;
		font-weight: 400;
		src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
		src: local('NanumGothic'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Nanum Gothic';
		font-style: normal;
		font-weight: 700;
		src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
		src: local('NanumGothicBold'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Nanum Gothic';
		font-style: normal;
		font-weight: 800;
		src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
		src: local('NanumGothicExtraBold'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
			url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
	}

	body { font-family:'Nanum Gothic',dotum,Helvetica,sans-serif; }

	#wrap { width:100%; }

	.top_wrap { background:url("../img/common/top_bg.gif"); height:83px; }

	#gnb { height:81px; margin:0 auto; width:1280px; }

	.logo_area { float:left; height:81px; width:183px; }
	.logo_area h1 a { background:url("../img/common/logo.gif"); float:left; height:50px; margin:12px 0 0 59px; overflow:hidden; text-indent:-2000px; width:124px; }

	.menu_area { float:left; height:81px; width:764px; }
	.menu_area ul { float:left; height:15px; margin:46px 0 0 121px; width:606px; }
	.menu_area ul li { float:left; }
	.menu_area ul li a { color:#191919; font-size:14px; line-height:15px; }
	.menu_area ul li.menu01 { margin:0; }
	.menu_area ul li.menu02,
	.menu_area ul li.menu03,
	.menu_area ul li.menu04 { margin:0 0 0 40px; }

	.top_btn_area { float:left; height:81px; width:243px; }
	.top_btn_area ul { float:left; height:22px; margin-top:42px; width:243px; }
	.top_btn_area ul li { border:1px solid #777; float:left; height:20px; margin-left:19px; width:60px; }
	.top_btn_area ul li.top_btn_icon1 { background:url("../img/common/top_btn_icons.gif") 2px 0 no-repeat #fff; }
	.top_btn_area ul li.top_btn_icon2 { background:url("../img/common/top_btn_icons.gif") 2px -20px no-repeat #fff; }
	.top_btn_area ul li.top_btn_icon3 { background:url("../img/common/top_btn_icons.gif") 2px -40px no-repeat #fff; }
	.top_btn_area ul li a { color:#3f3f3f; display:block; font-size:10px; height:20px; letter-spacing:-1px; line-height:20px; padding-left:22px; width:38px; }

	.cont { margin:0 auto; padding-bottom:100px; width:1102px; }

form fieldset legend,
table caption { font-size:0; height:0; line-height:0; margin:0; overflow:hidden; padding:0; text-indent:-20000px; width:0; }

	/* txt settings */

	.t_fe8422 { color:#fe8422; }
	.t_008800 { color:#008800; }

	/* input, select settings */

	.input36 { width:36px; }
	.input46 { width:46px; }
	.input151 { width:151px; }