@charset "utf-8";

	.mypage_list_area { margin:132px auto 0; position:relative; width:848px; }
	.mypage_list_ttl { border-bottom:1px solid #5e5d5d; height:27px; }
h2.mypage_list_sttl { background:url("../img/mypage/mypage_ttl.gif"); float:left; height:21px; overflow:hidden; text-indent:-20000px; width:207px; }

	.order_chk_tbl_ttl { height:81px; width:848px; }
h3.order_chk_sttl { float:left; font-size:14px; font-weight:bold; margin-top:24px; }

table.my_order_chk_tbl { float:left; width:848px; }
table.my_order_chk_tbl tr th { background:#c3c3c3; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; color:#383838; font-size:12px; font-weight:bold; height:37px; text-align:center; }
table.my_order_chk_tbl tr td { border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; font-size:12px; font-weight:bold; line-height:18px; padding:20px 0; text-align:center; }

table.my_order_chk_tbl tr td a.btn_draft { background:#c3c3c3; color:#383737; display:inline-block; font-size:14px; height:31px; line-height:31px; margin-top:3px; text-align:center; width:96px; }
table.my_order_chk_tbl tr td a.btn_order_cancel { background:#ff8400; color:#fff; display:inline-block; font-size:14px; height:31px; line-height:31px; text-align:center; width:85px; }

	.my_order_chk_btn { float:left; height:36px; margin-top:28px; width:848px; }
	.my_order_chk_btn ul { float:right; height:36px; width:314px; }
	.my_order_chk_btn ul li { float:left; margin-left:15px; position:relative; }
	.my_order_chk_btn ul li a { display:block; height:36px; overflow:hidden; text-indent:-20000px; width:142px; }
	.my_order_chk_btn ul li.btn_modify a { background:url("../img/admin/btn_modify.jpg"); }
	.my_order_chk_btn ul li.btn_cancel a { background:url("../img/admin/btn_cancel.jpg"); }
	.my_order_chk_btn ul li.btn_home a { background:url("../img/admin/btn_home.jpg"); }
	.my_order_chk_btn ul li.btn_prev a { background:url("../img/admin/btn_prev.jpg"); }

	.draft_confirm_pop { background:url("../img/mypage/draft_confirm_pop.jpg"); height:145px; left:550px; position:absolute; top:213px; width:330px; z-index:5; }
	.draft_confirm_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.draft_confirm_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.draft_confirm_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

	.order_cancel_pop { background:url("../img/mypage/order_cancel_pop.jpg"); height:145px; left:550px; position:absolute; top:229px; width:330px; z-index:5; }
	.order_cancel_pop ul { float:left; height:22px; margin:109px 0 0 64px; width:194px; }
	.order_cancel_pop ul li { float:left; height:22px; margin-left:9px; width:88px; }
	.order_cancel_pop ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

	.draft_modify_pop { background:url("../img/mypage/draft_modify_pop.jpg"); height:145px; left:550px; position:absolute; top:247px; width:330px; z-index:5; }
	.draft_modify_pop form { float:left; height:88px; margin:45px 0 0 14px; position:relative; width:306px; }
	.draft_modify_pop form fieldset textarea { border:none; height:56px; left:0; position:absolute; top:0; width:302px; }
	.draft_modify_pop form fieldset ul { height:22px; left:52px; position:absolute; top:64px; width:194px; }
	.draft_modify_pop form fieldset ul li { float:left; height:22px; margin-left:9px; position:relative; width:88px; }
	.draft_modify_pop form fieldset ul li input { display:none; }
	.draft_modify_pop form fieldset ul li label { background:url("../img/mypage/btn_op_send.jpg"); cursor:pointer; display:block; height:22px; left:0; overflow:hidden; position:absolute; text-indent:-20000px; top:0; width:88px; }
	.draft_modify_pop form fieldset ul li a { display:block; height:22px; overflow:hidden; text-indent:-20000px; width:88px; }

h2.join_info_input_sttl { background:url("../img/admin/join_info_input_sttl.gif"); float:left; height:20px; overflow:hidden; text-indent:-20000px; width:77px; }
	.id_dupl_chk { background:#ff8400; color:#fff; float:left; height:20px; line-height:20px; margin-left:13px; text-align:center; width:89px; }

	.cart_list_area { margin:132px auto 0; position:relative; width:848px; }
	.cart_list_ttl { border-bottom:1px solid #5e5d5d; height:27px; }
h2.cart_list_sttl { background:url("../img/mypage/cart_ttl.gif"); float:left; height:21px; overflow:hidden; text-indent:-20000px; width:78px; }

	.cart_chk_tbl_ttl { height:81px; width:848px; }
h3.cart_chk_sttl { float:left; font-size:14px; font-weight:bold; margin-top:10px; width:100%; }
p.cart_chk_quide { color:#9b9a9a; display:inline-block; font-size:12px; font-weight:normal; margin-top:14px; }