<div style="margin-top:60px;text-align:center">
<form name="fo" method="post" action="../shop/csv/csv.php" enctype="multipart/form-data">
,(콤마)로 분리된 csv 파일을 업로드해 주세요!<br />
<font color=red> 해당 엑셀 파일의 형식으로 확장자 csv 쉼표로 분리 저장해서 업로드 해주세요</font><br>
<input type="file" name="foo" style="width:300px;margin:10px 0 10px 0" /><br />
<input type="button" value="확인" onClick=send(document.fo); style="width:100px" />
</form>
</div>

<script>
function send(frm) {
	if(frm.foo.value=="") {
		alert('CSV파일을 첨부해주세요');
		return;
	}

	frm.submit();
}
</script>

