	<div class="navbar navbar-default " role="navigation">
		<div class="container">
			<div class="navbar-header">
	  			<a class="navbar-brand" href="/"><img src="../images/common/logo.png" alt="Your Logo" height="100%"></a>
	    	</div><!-- end of navbar-header -->
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav navbar-left">
			       

			        <li class="menu01" ><a href="../info/info4.php" ng-style="topMenuStyle.01">마이클레어란?</a></li>
            		<li class="menu03" ><a href="../product/r_product.php" ng-style="topMenuStyle.02">클레어 기술 알아보기</a></li>
        			<li class="menu02" ><a href="../gallery/r_gallery.html" ng-style="topMenuStyle.03">마이클레어 디자인엿보기</a></li>            
            		<li class="menu04" ><a href="../shop2/orderProc4.html" ng-style="topMenuStyle.04">마이클레어 주문하기</a></li>
			        
			    </ul>

			    <ul class="nav navbar-nav navbar-right">
			         <li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					      menu
					      <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					      <li>로그인</li>
					    </ul>
					  </li>
			        
		    	</ul>
   			</div><!-- /.navbar-collapse -->
		</div><!-- end of container -->
	</div><!-- end of nav bar -->