<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?
session_start();


?>
<html ng-app="orderProc2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- 최신 브라우저 문서모드로 변경 해주는 메타 태그 -->
    <title>마이클레어</title>


    <script type="text/javascript" src="../js/angular-file-upload-shim.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-file-upload.min.js"></script>

    <script type="text/javascript" src="../shop2/app_root.js"></script>
    <script type="text/javascript" src="../shop2/app_orderProc2.js"></script>
    <script type="text/javascript" src="./app_regist.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />

    <style>


    </style>

</head>
<body ng-controller="JoinController as login">
    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <? include "../inc/header.php" ?>
        <!-- // header -->
        

    <div id="content">
        <div class="container">
            <div class="join-wrap">

                <form name="form" id="formadf2" >
                <fieldset class="use-info">
                
                
                <div class="info-input">
                    <table>
                    <colgroup>
                        <col width="133" />
                        <col width="" />
                    </colgroup>
                    <tr>
                        <th scope="row">아이디</th>
                        <td>
                            <input type="text" name="UID" id="id" ng-model="user.mem_id" maxlength="10" class="inputType1" tabIndex="1" />
                            <a ng-click="duplChk()" class="btn btn-default btn-sm">중복검사</a>
                            <span id="idDesc" class="txt1">아이디는 6~10자 입니다.</span>
                            <input type="hidden" name="IdCheckFlag" id="IdCheckFlag" value="N" />

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호</th>
                        <td>
                            <input type="password" name="UPwd1" id="pw" onfocus="initPwDesc1()" onblur="chkMemberPwd1()" maxlength="16" class="inputType1" tabIndex="2" />
                            <span id="pwDesc1" class="txt1">비밀번호는 4~16자 입니다.</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호 확인</th>
                        <td>
                            <input type="password" name="UPwd2" id="rpw" onfocus="initPwDesc2()" onblur="chkMemberPwd2()" maxlength="16" class="inputType1" tabIndex="3" />
                            <span id="pwDesc2" class="txt1">비밀번호 확인을 위해 다시 한번 입력해주세요.</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이름</th>
                        <td class="name">000</td>
                    </tr>
                    <tr>
                        <th scope="row">생년월일</th>
                        <td class="birth">
                            1987년 01월 01일

                            &nbsp;
                            <!--ehgml62 2013-07-17-->
                            <span class="ui-rdo">
                                <label for="SFlag">
                                    <input type="radio" id="SFlag" name="SFlag" value="1" checked/>
                                    <i class="ui-ico"></i>
                                    <i>양력</i>
                                </label>
                            </span>
                            <span class="ui-rdo">
                                <label for="SFlag2">
                                    <input type="radio" id="SFlag2" name="SFlag" value="2"  />
                                    <i class="ui-ico"></i>
                                    <i>음력</i>
                                </label>
                            </span>

                            <!--<input type="radio" id="SFlag" name="SFlag" value="1" checked /><label for="receive-mail">양력</label>
                            <input type="radio" id="SFlag" name="SFlag" value="2"  /><label for="receive-sms">음력</label>-->


                        </td>
                    </tr>

                    <tr>
                        <th scope="row">휴대폰</th>
                        <td class="mobile">
                            <div class="postcode">
                                <input type="text" name="Zip1" id="Zip1" value="" maxlength="3" class="inputType1" />
                                -
                                <input type="text" name="Zip2" id="Zip2" value="" maxlength="3" class="inputType1" />
                                -
                                <input type="text" name="Zip2" id="Zip2" value="" maxlength="3" class="inputType1" />
                                <!--a href="javascript:FindZip('document.form.Zip','document.form.Addr')"><img src="/img/btn/btn_search_address.gif" width="67" height="35" alt="검색" /></a-->
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">주소</th>
                        <td class="address">
                            <div class="postcode">
                                <input type="text" name="Zip1" id="Zip1" value="" maxlength="3" class="inputType1" readonly />
                                -
                                <input type="text" name="Zip2" id="Zip2" value="" maxlength="3" class="inputType1" readonly />
                                
                                
                            </div>

                            <p class="address1 addTxt"><input type="text" name="Addr1" id="adress1" value="" maxlength="100" class="inputType1"  /></p>
                                <p class="address2 addTxt"><input type="text" name="Addr2" id="adress2" value="" maxlength="100" class="inputType1" /></p>

                                
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이메일</th>
                        <td class="email">
                            <div class="flleft pd10">
                                <input type="text" name="Email1" id="email1" value="" class="inputType1" />
                                @
                                <input type="text" name="Email2" id="email2" value="" class="inputType1"  />
                            </div>
                           
                           
                        </td>
                    </tr>
                    

                    </table>
                </div>
                </fieldset>

                <div class="btn-set">
                    <a href="javascript:ChkJoinField()" class="btn-next-step">다음단계</a>
                </div>
                </form>

            </div>
        </div>


<? include "../inc/footer.php" ?>

</div>
<!-- wrap -->

</body>
</html>
